extends layouts/user_profile

block content
  h1.page-title.user-profile__page-title Досягнення
  .achievements.user-profile__achievements
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван
    .achievement.achievements__item
      .achievement__icon
        img(src="/img/padawan.svg" alt="Workium падаван").achievement__icon-img
      h4.achievement__name Workium падаван