extends layouts/user_profile

block content
  .awards-page
    h1.page-title.awards-page__title Досягнення
    .awards-page__description
      p Виконуйте завдання, відкривайте досягнення, підвищуйте рівень та отримуйте унікальні бонуси та нагороди.
    .user-level.awards-page__user-level
      .user-level__avatar
        img(src="/img/avatar_default_head_person.svg" alt="Андрій").user-level__avatar-img
        .award-block.user-level__award-block 1
      .user-level__text-wrapper
        .user-level__level Андрій, ваш поточний рівень: #[strong 1]
        .user-level__rating Поточний рейтинг: #[strong 15]
        .rating-line.user-level__rating-line
          .rating-line__line
            .rating-line__line-inner(style="width: 50%;")
          .rating-line__numbers
            .rating-line__number 0
            .rating-line__number 100
        .user-level__text
          p Поки що ви не відкрили жодної нагороди! Почніть прямо зараз!
    .awards.awards-page__awards
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван
      .award.awards__item
        img(src="/img/workium_logo_graphic.svg" alt="Workium падаван").award__icon-img
        a(href="#").award__link Workium падаван