extends layouts/user_profile

block content
  .page
    h1.page-title.page__title Чорний список
    .page__content
      .page__content-inner
        .page__text-wrapper
          .page__img-wrapper
            img(src="/img/black7.jpg" alt="Чорний список").page__img
          h2.page__text-subtitle Чорний список - ваш надійний помічник, який захистить вас від багатьох неприємностей.
          p.text-center В цьому розділі розміщуються підтверджені дані про усі недобросовісні, шахрайські та інші випадки в сфері працевлаштування, а також публікується перелік людей, агенцій та представників агенцій, були причетні до вищеописаних випадків. Всі дані додаються учасниками спільноти та можуть бути оскаржені представниками арбітражу WORKIUM.#[br.hidden-xs ]#[br.hidden-xs  ]
          p.text-center Доступ до даного розділу автоматично відкривається при досягненні вами балів #[strong впливовості] у кількості #[strong 5k.]