extends layouts/user_profile

block content
  .clients
    h1.page-title.clients__title Клієнти
    .tabs-menu.tabs-menu--has-count.tabs-menu--light-bg-mob.clients__tabs-menu
      ul.tabs-menu__list
        li.tabs-menu__item
          a(href="/recruitment.html").tabs-menu__link Рекрутація
        li.tabs-menu__item
          a(href="/documents.html").tabs-menu__link.tabs-menu__link--active Документи
    .client-cards
      .client-card.client-card--grey-bg.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя Iванiвна
            a(href="tel:+380987653498").client-card__phone +380987653498
          button(type="button").toggle-btn.client-card__additional-toggle-btn Додатково
          //- .client-card__id-and-comment.hidden-xxs
          //-   .client-card__id ID: 5233479
          //-   .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__additional
            .client-card__additional-label Додаткова інформація:
            .client-card__additional-text
              p Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином.
            .client-card__additional-footer
              .client-card__additional-footer-left
                .client-card__additional-item ID бронювання: #[span.semibold 232311]
                .client-card__additional-item Час та дата бронювання: #[span.semibold 20:15 23.04.2023]
              .client-card__additional-footer-right
                a(href="#").client-card__additional-item.client-card__additional-item--copy Скопіювати інформацію
          .client-card__specifications
            .specification.client-card__specification
              .specification__title Країна
              .specification__value Польща
            .specification.client-card__specification
              .specification__title Дата подачі
              .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Дата отримання
              .specification__value 30 січ 2023
            .specification.client-card__specification
              .specification__title Тип замовлення
              .specification__value.specification__value--order-type Віза без присутності з запрошенням
            .specification.client-card__specification
              .specification__title Кешбек (3%)
              .specification__value 15 zł
          button(type="button" data-src="#client-status-popup1" data-slug="client-status-popup1").client-status.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Працює
          .fancybox-popup#client-status-popup1(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--full.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 90%")
              .status-line__items
                .status-line__item.status-line__item--taken-to-work
                  .status-line__item-text Прийнято в роботу
                .status-line__item.status-line__item--for-processing
                  .status-line__item-text На опрацювання
                .status-line__item.status-line__item--ready
                  .status-line__item-text Готово
                .status-line__item.status-line__item--sent
                  .status-line__item-text Відправлено
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
          .client-card__id-and-comment.hidden-xxsPlus
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
          .status-line.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill.status-line__line-fill--rounded(style="width: 9%")
            .status-line__items
              .status-line__item.status-line__item--taken-to-work
                .status-line__item-text Прийнято в роботу
              .status-line__item.status-line__item--for-processing
                .status-line__item-text На опрацювання
              .status-line__item.status-line__item--ready
                .status-line__item-text Готово
              .status-line__item.status-line__item--sent
                .status-line__item-text Відправлено
              .status-line__item.status-line__item--payment
                .status-line__item-text Виплата
      .client-card.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя Iванiвна
            a(href="tel:+380987653498").client-card__phone +380987653498
          .client-card__id-and-comment.hidden-xxs
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__specifications
            .specification.client-card__specification
              .specification__title Країна
              .specification__value Польща
            .specification.client-card__specification
              .specification__title Дата подачі
              .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Дата отримання
              .specification__value 30 січ 2023
            .specification.client-card__specification
              .specification__title Тип замовлення
              .specification__value.specification__value--order-type Віза без присутності з запрошенням
            .specification.client-card__specification
              .specification__title Кешбек (3%)
              .specification__value 15 zł
          button(type="button" data-src="#client-status-popup1" data-slug="client-status-popup1").client-status.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Працює
          .fancybox-popup#client-status-popup1(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--full.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 100%")
              .status-line__items
                .status-line__item.status-line__item--taken-to-work
                  .status-line__item-text Прийнято в роботу
                .status-line__item.status-line__item--for-processing
                  .status-line__item-text На опрацювання
                .status-line__item.status-line__item--ready
                  .status-line__item-text Готово
                .status-line__item.status-line__item--sent
                  .status-line__item-text Відправлено
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
          .client-card__id-and-comment.hidden-xxsPlus
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
          .status-line.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill(style="width: 75%")
            .status-line__items
              .status-line__item.status-line__item--taken-to-work
                .status-line__item-text Прийнято в роботу
              .status-line__item.status-line__item--for-processing
                .status-line__item-text На опрацювання
              .status-line__item.status-line__item--ready
                .status-line__item-text Готово
              .status-line__item.status-line__item--sent
                .status-line__item-text Відправлено
              .status-line__item.status-line__item--payment
                .status-line__item-text Виплата
      .client-card.client-card--paid.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя Iванiвна
            a(href="tel:+380987653498").client-card__phone +380987653498
          .client-card__id-and-comment.hidden-xxs
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__specifications
            .specification.client-card__specification
              .specification__title Країна
              .specification__value Польща
            .specification.client-card__specification
              .specification__title Дата подачі
              .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Дата отримання
              .specification__value 30 січ 2023
            .specification.client-card__specification
              .specification__title Тип замовлення
              .specification__value Віза без присутності з запрошенням
            .specification.client-card__specification
              .specification__title Кешбек (3%)
              .specification__value 15 zł
          button(type="button" data-src="#client-status-popup2" data-slug="client-status-popup2").client-status.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Працює
          .fancybox-popup#client-status-popup2(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 80%")
              .status-line__items
                .status-line__item.status-line__item--taken-to-work
                  .status-line__item-text Прийнято в роботу
                .status-line__item.status-line__item--for-processing
                  .status-line__item-text На опрацювання
                .status-line__item.status-line__item--ready
                  .status-line__item-text Готово
                .status-line__item.status-line__item--sent
                  .status-line__item-text Відправлено
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
          .client-card__id-and-comment.hidden-xxsPlus
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
          .status-line.status-line--full.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill(style="width: 100%")
            .status-line__items
              .status-line__item.status-line__item--taken-to-work
                .status-line__item-text Прийнято в роботу
              .status-line__item.status-line__item--for-processing
                .status-line__item-text На опрацювання
              .status-line__item.status-line__item--ready
                .status-line__item-text Готово
              .status-line__item.status-line__item--sent
                .status-line__item-text Відправлено
              .status-line__item.status-line__item--payment
                .status-line__item-text Виплата
      .client-card.client-card--aqua-bg.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя Iванiвна
            a(href="tel:+380987653498").client-card__phone +380987653498
          .client-card__id-and-comment.hidden-xxs
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__specifications
            .specification.client-card__specification
              .specification__title Країна
              .specification__value Польща
            .specification.client-card__specification
              .specification__title Дата подачі
              .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Дата отримання
              .specification__value 30 січ 2023
            .specification.client-card__specification
              .specification__title Тип замовлення
              .specification__value Віза без присутності з запрошенням
            .specification.client-card__specification
              .specification__title Кешбек (3%)
              .specification__value 15 zł
          button(type="button" data-src="#client-status-popup3" data-slug="client-status-popup3").client-status.client-status--success.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Працює
          .fancybox-popup#client-status-popup3(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--full.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 100%")
              .status-line__items
                .status-line__item.status-line__item--taken-to-work
                  .status-line__item-text Прийнято в роботу
                .status-line__item.status-line__item--for-processing
                  .status-line__item-text На опрацювання
                .status-line__item.status-line__item--ready
                  .status-line__item-text Готово
                .status-line__item.status-line__item--sent
                  .status-line__item-text Відправлено
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
          .status-line.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill(style="width: 50%")
            .status-line__items
              .status-line__item.status-line__item--taken-to-work
                .status-line__item-text Прийнято в роботу
              .status-line__item.status-line__item--for-processing
                .status-line__item-text На опрацювання
              .status-line__item.status-line__item--ready
                .status-line__item-text Готово
              .status-line__item.status-line__item--sent
                .status-line__item-text Відправлено
              .status-line__item.status-line__item--payment
                .status-line__item-text Виплата
      .client-card.client-card--beige-bg.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя Iванiвна
            a(href="tel:+380987653498").client-card__phone +380987653498
          .client-card__id-and-comment.hidden-xxs
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__specifications
            .specification.client-card__specification
              .specification__title Країна
              .specification__value Польща
            .specification.client-card__specification
              .specification__title Дата подачі
              .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Дата отримання
              .specification__value 30 січ 2023
            .specification.client-card__specification
              .specification__title Тип замовлення
              .specification__value Віза без присутності з запрошенням
            .specification.client-card__specification
              .specification__title Кешбек (3%)
              .specification__value 15 zł
          button(type="button" data-src="#client-status-popup3" data-slug="client-status-popup3").client-status.client-status--success.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Працює
          .fancybox-popup#client-status-popup3(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--full.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 100%")
              .status-line__items
                .status-line__item.status-line__item--taken-to-work
                  .status-line__item-text Прийнято в роботу
                .status-line__item.status-line__item--for-processing
                  .status-line__item-text На опрацювання
                .status-line__item.status-line__item--ready
                  .status-line__item-text Готово
                .status-line__item.status-line__item--sent
                  .status-line__item-text Відправлено
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
          .status-line.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill(style="width: 50%")
            .status-line__items
              .status-line__item.status-line__item--taken-to-work
                .status-line__item-text Прийнято в роботу
              .status-line__item.status-line__item--for-processing
                .status-line__item-text На опрацювання
              .status-line__item.status-line__item--ready
                .status-line__item-text Готово
              .status-line__item.status-line__item--sent
                .status-line__item-text Відправлено
              .status-line__item.status-line__item--payment
                .status-line__item-text Виплата
  script(src="/js/recruitment.js")