extends layouts/user_profile

block content
  .page
    h1.page-title.page__title Ідеї та пропозиції
    .page__content
      .page__content-inner
        .page__text-wrapper
          .page__img-wrapper
            img(src="/img/idea.jpg" alt="Ідеї та пропозиції").page__img
          h2.page__subtitle Стати частиною нейромережі WORKIUM та отримати винагороду за свою уважність - може кожен!
          p.text-center WORKIUM існує для того, щоб повністю змінити уявлення про працевлаштування за кордоном та підхід до підбору вакансій.
          p.text-center Ми вже зламали звичну модель роботи у сфері працевлаштування, і змусили недобросовісних рекрутерів-посередників повністю закрити свій бізнес або працювати за новими, чесними правилами.
          h3.page__subtitle Нам вже вдалось змінити:
          ul.checkmark-list
            li.checkmark-list__item
              h4.checkmark-list__item-title Безкоштовні вакансії
              .checkmark-list__item-text
                p Більше ніде не потрібно сплачувати кошти за підбір вакансій, тому що у WORKIUM найбільша кількість вакансій з максимально деталізованим описом та параметрами доступна всім бажаючим абсолютно безкоштовно.
            li.checkmark-list__item
              h4.checkmark-list__item-title Відсутність обману
              .checkmark-list__item-text
                p Більше недобросовісні посередники обманути вас не зможуть! На WORKIUM опубліковані всі агенції праці, тому при виникненні будь-яких питань стосовно роботи - ви можете напряму зв’язатись з агенцією та уточнити в неї всі нюанси.
            li.checkmark-list__item
              h4.checkmark-list__item-title Винагорода від роботодавця за ваше працевлаштування
              .checkmark-list__item-text
                p Біля кожної вакансії розміщена інформація про те, яку саме ви отримаєте винагороду, якщо приїдете туди на роботу. Такий підхід повністю змінив сферу працевлаштування, тому що тепер ви не тільки обираєте роботу серед найбільшого WORKIUM каталогу безкоштовних вакансій, а й отримуєте додаткову оплату за те, що приїхали на роботу.
            li.checkmark-list__item
              h4.checkmark-list__item-title Стабільний високий заробіток
              .checkmark-list__item-text
                p Усі рекрутери, які працюють чесно - можуть використовувати WORKIUM та здійснювати підбір вакансій своїм кандидатам. Отримана винагорода може розділятись між кандидатом та рекрутером або повністю залишатись рекрутеру. При будь-якій спробі обману - аккаунт буде назавжди заблоковано, а кошти частково або повністю виплачено кандидату в якості компенсації. Тому, завдяки WORKIUM, в сфері працевлаштування залишаться тільки ті рекрутери, які працюють чесно. І всі вони завжди зможуть розраховувати на стабільний та високий заробіток.
          h3.page__subtitle Але це тільки початок на шляху до досконалості. Без вашої допомоги ми не обійдемось!
          p Нейромережа WORKIUM з кожним днем розвивається в геометричній прогресії. Тому, якщо ви помітили якусь помилку в роботі сайту, тексту, алгоритму або просто можете запропонувати ідею чи будь-яке інше покращення в дизайні, функціоналі, розвитку, підтримці або в будь-якому іншому напрямку - без вагань зв’яжіться з нами! Навіть, якщо ви помітили чи вигадали, на ваш погляд, якусь незначну деталь або ідею і думаєте що нашій команді вона буде нецікава - поділіться нею з нами! Для нас дрібниць не буває.
          p В якості винагороди - ви отримаєте збільшення власного рейтингу або грошову оплату на баланс.
          p Для зв’язку з нами - напишіть на пошту: #[a(href="mailto:info@workium.pl") info@workium.pl] або в один із месенджерів нижче:
        .contact-buttons.contact-buttons--row.contact-buttons--center.page__contact-buttons
          ul.contact-buttons__list
            li.contact-buttons__item
              a(href="#").btn-purple.btn-purple--viber Написати у Viber
            li.contact-buttons__item
              a(href="#").btn-lightblue.btn-lightblue--telegram Написати в Telegram