extends layouts/base_index

block content
  .homepage
    .homepage__wrapper
      .homepage__header
        img(src="/img/logo_black.svg" alt="").homepage__logo
      .homepage__main
        h1.homepage__title База рекрутерів та вакансій
        .authorization-block.authorization-block--homepage.homepage__authorization-block
          form(action="").authorization-block__form
            .field.authorization-block__field
              input(type="text" name="name" id="name" placeholder="Імʼя").form-text
            .field.authorization-block__field
              input(type="tel" name="phone" id="phone" placeholder="Телефон").form-text
            .authorization-block__actions
              button(type="submit").btn-default.authorization-block__btn-submit Подати заявку на доступ