extends layouts/base

block content
  .homepage
    .hero-section.homepage__hero-section
      .container.hero-section__container
        .hero-section__text-wrapper
          h1.section-title.section-title--left.hero-section__title Європейська система для рекрутерів з оплатою за кандидата
          .section-text.section-text--left.hero-section__text
            p Працевлаштовуйте кандидатів на легальні вакансії та отримуйте щедру винагороду!
          a(href="/registration.html").btn-default.hero-section__btn Почати заробляти
        .hero-section__img-wrapper
          img(src="/img/european_system.jpg" alt="Європейська система для рекрутерів з оплатою за кандидата").hero-section__img
    .steps-section.homepage__steps-section
      .container.steps-section__container
        h2.section-title.section-title.steps-section__title Як це працює
        .tabs.steps-section__tabs
          .tabs-menu.tabs-menu--grey-bg.tabs-menu--center-desktop.tabs-menu--large.tabs-menu--no-bg-mobile.tabs-menu--rounded.steps-section__tabs-menu
            ul.tabs-menu__list.tabs__list
              li.tabs-menu__item.tabs__item
                a(href="#").tabs-menu__link.tabs-menu__link--active Для рекрутерів
              li.tabs-menu__item.tabs__item
                a(href="#").tabs-menu__link Для рекрутерів
              li.tabs-menu__item.tabs__item
                a(href="#").tabs-menu__link Для рекрутерів
          .section-text.steps-section__text
            p Для того щоб бути рекрутером і почати заробляти не потрібні знання та досвід! Переконайтесь самі!
          .tabs__content(style="display: block")
            .steps
              .step.steps__item
                h3.step__title #[span.step__number 01.] Безкоштовно зареєструйтесь
                .step__description
                  p #[a(href="/registration.html") Реєстрація] не займе більше 30 секунд та є абсолютно безкоштовною. Після реєстрації вам відразу будуть доступні всі інструменти для рекрутації та партнерська програма.
              .step.steps__item
                h3.step__title #[span.step__number 02.] Оберіть вакансію та винагороду
                .step__description
                  p Поспілкуйтесь з кандидатом та оберіть йому одну із вакансій із бази WORKIUM. Обговоріть з кандидатом всі деталі, які будуть стосуватись його майбутньої роботи і, якщо все підходить, працевлаштуйте його в один клік.
              .step.steps__item
                h3.step__title #[span.step__number 03.] Зачекайте поки кандидат відпрацює
                .step__description
                  p Найчастіше термін відпрацювання становить від двох тижнів до місяця. Ці дані, а також сума винагороди за відпрацювання вказані в описі кожної вакансії. Після того, як кандидат відпрацює вказаний термін - ви отримаєте винагороду і вона залишиться у вас навіть якщо кандидат звільниться з роботи.
              .step.steps__item
                h3.step__title #[span.step__number 04.] Отримайте винагороду
                .step__description
                  p Оберіть зручний спосіб отримання коштів. Це може бути будь-яка картка українського, польського або іншого європейського банку фізичної особи, розрахунковий рахунок підприємця або ТОВ. Кошти виплачуюються протягом декількох годин. Швидко, надійно та вигідно.
          .tabs__content
            .steps
              .step.steps__item
                h3.step__title #[span.step__number 05.] Безкоштовно зареєструйтесь
                .step__description
                  p #[a(href="/registration.html") Реєстрація] не займе більше 30 секунд та є абсолютно безкоштовною. Після реєстрації вам відразу будуть доступні всі інструменти для рекрутації та партнерська програма.
              .step.steps__item
                h3.step__title #[span.step__number 06.] Оберіть вакансію та винагороду
                .step__description
                  p Поспілкуйтесь з кандидатом та оберіть йому одну із вакансій із бази WORKIUM. Обговоріть з кандидатом всі деталі, які будуть стосуватись його майбутньої роботи і, якщо все підходить, працевлаштуйте його в один клік.
              .step.steps__item
                h3.step__title #[span.step__number 07.] Зачекайте поки кандидат відпрацює
                .step__description
                  p Найчастіше термін відпрацювання становить від двох тижнів до місяця. Ці дані, а також сума винагороди за відпрацювання вказані в описі кожної вакансії. Після того, як кандидат відпрацює вказаний термін - ви отримаєте винагороду і вона залишиться у вас навіть якщо кандидат звільниться з роботи.
              .step.steps__item
                h3.step__title #[span.step__number 08.] Отримайте винагороду
                .step__description
                  p Оберіть зручний спосіб отримання коштів. Це може бути будь-яка картка українського, польського або іншого європейського банку фізичної особи, розрахунковий рахунок підприємця або ТОВ. Кошти виплачуюються протягом декількох годин. Швидко, надійно та вигідно.
          .tabs__content
            .steps
              .step.steps__item
                h3.step__title #[span.step__number 09.] Безкоштовно зареєструйтесь
                .step__description
                  p #[a(href="/registration.html") Реєстрація] не займе більше 30 секунд та є абсолютно безкоштовною. Після реєстрації вам відразу будуть доступні всі інструменти для рекрутації та партнерська програма.
              .step.steps__item
                h3.step__title #[span.step__number 10.] Оберіть вакансію та винагороду
                .step__description
                  p Поспілкуйтесь з кандидатом та оберіть йому одну із вакансій із бази WORKIUM. Обговоріть з кандидатом всі деталі, які будуть стосуватись його майбутньої роботи і, якщо все підходить, працевлаштуйте його в один клік.
              .step.steps__item
                h3.step__title #[span.step__number 11.] Зачекайте поки кандидат відпрацює
                .step__description
                  p Найчастіше термін відпрацювання становить від двох тижнів до місяця. Ці дані, а також сума винагороди за відпрацювання вказані в описі кожної вакансії. Після того, як кандидат відпрацює вказаний термін - ви отримаєте винагороду і вона залишиться у вас навіть якщо кандидат звільниться з роботи.
              .step.steps__item
                h3.step__title #[span.step__number 12.] Отримайте винагороду
                .step__description
                  p Оберіть зручний спосіб отримання коштів. Це може бути будь-яка картка українського, польського або іншого європейського банку фізичної особи, розрахунковий рахунок підприємця або ТОВ. Кошти виплачуюються протягом декількох годин. Швидко, надійно та вигідно.
    .people-section.homepage__people-section
      .container.container--large.people-section__container
        h2.section-title.people-section__title Рекрутери про WORKIUM
        .section-text.people-section__text
          p Думаєте чи варто спробувати? Варто!
        .people-swiper-container.people-section__swiper-container
          .people-swiper.swiper
            .swiper-wrapper
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox).person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
          button(type="button").swiper-btn.swiper-btn--prev.people-swiper-container__prev.hidden-xs
          button(type="button").swiper-btn.swiper-btn--next.people-swiper-container__next.hidden-xs
        .people-section__bottom
          a(href="/registration.html").btn-default Почати заробляти
    .statistics-section.homepage__statistics-section
      .container.statistics-section__container
        h2.section-title.statistics-section__title WORKIUM в цифрах
        .section-text.statistics-section__text
          p За нас говорять наші досягнення
      .statistics-section__items
        .container.statistics-section__items-container
          .statistic.statistics-section__item
            h3.statistic__title 500 zł
            .statistic__text
              p Середня винагорода за  кандидата без знання мови  та без досвіду роботи
          .statistic.statistics-section__item
            h3.statistic__title 5000+
            .statistic__text
              p Рекрутерів з України, Польщі, Чехії та інших країн
          .statistic.statistics-section__item
            h3.statistic__title 27,4 млн zł
            .statistic__text
              p Вже отримали рекрутери від системи WORKIUM. Виплати відбуваються кожну годину
          .statistic.statistics-section__item
            h3.statistic__title ~147%
            .statistic__text
              p Настільки винагорода за кандидата у WORKIUM вища, ніж при співпраці напряму
    .testimonials-section.homepage__testimonials-section
      .container.testimonials-section__container
        h2.section-title.testimonials-section__title ЗМІ про нас
        .section-text.testimonials-section__text
          p Деякі відомі польські, українські та інші міжнародні ЗМІ про WORKIUM
        .testimonials-section__items.hidden-xs
          .testimonial.testimonials-section__item
            .testimonial__logo
              img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
            .testimonial__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
          .testimonial.testimonials-section__item
            .testimonial__logo
              img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
            .testimonial__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
          .testimonial.testimonials-section__item
            .testimonial__logo
              img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
            .testimonial__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
        .testimonials-swiper.swiper.testimonials-section__swiper.hidden-smPlus
          .swiper-wrapper
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
        .testimonials-section__bottom.hidden-xs
          a(href="/registration.html").btn-default Почати заробляти
    .contact-section
      .container.contact-section__container
        h2.section-title.contact-section__title Залишились запитання?
        .section-text.contact-section__text
          p Подивіться презентацію нашої системи для рекрутерів або зв’яжіться з нами!
        .contact-section__wrapper
          .contact-section__img-wrapper
            a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox)
              img(src="/img/contact_section_img.png" alt="Залишились запитання?").contact-section__img
          .contact-section__text-wrapper
            .contact-box
              h3.contact-box__title Зв’язок з нами
              .contact-phones.contact-box__phones
                ul.contact-phones__list
                  li.contact-phones__item
                    a(href="tel:+4834422322").phone +48 344 223 22
                  li.contact-phones__item
                    a(href="tel:+380734339391").phone +380 73 433 93 91
              .contact-buttons.contact-box__buttons
                ul.contact-buttons__list
                  li.contact-buttons__item
                    a(href="#").btn-purple.btn-purple--viber Написати у Viber
                  li.contact-buttons__item
                    a(href="#").btn-lightblue.btn-lightblue--telegram Написати в Telegram
  script(src="/js/index.js")