extends layouts/base

block content
  .homepage
    .hero-section.homepage__hero-section
      .container.hero-section__container
        .hero-section__text-wrapper
          h1.section-title.section-title--left.hero-section__title Європейська система для рекрутерів з оплатою за кандидата
          .section-text.section-text--left.hero-section__text
            p Працевлаштовуйте кандидатів на легальні вакансії та отримуйте щедру винагороду!
          a(href="/registration.html").btn-default.hero-section__btn Почати заробляти
        .hero-section__img-wrapper
          img(src="/img/european_system.jpg" alt="Європейська система для рекрутерів з оплатою за кандидата").hero-section__img
    .steps-section.homepage__steps-section
      .container.steps-section__container
        h2.section-title.section-title.steps-section__title Як це працює
        .tabs.steps-section__tabs
          .tabs-menu.tabs-menu--grey-bg.tabs-menu--center-desktop.tabs-menu--large.tabs-menu--no-bg-mobile.tabs-menu--rounded.steps-section__tabs-menu
            ul.tabs-menu__list.tabs__list
              li.tabs-menu__item.tabs__item
                a(href="#").tabs-menu__link.tabs-menu__link--active Рекрутерам
              li.tabs-menu__item.tabs__item
                a(href="#").tabs-menu__link Роботодавцям
              li.tabs-menu__item.tabs__item
                a(href="#").tabs-menu__link Партнерам
              li.tabs-menu__item.tabs__item
                a(href="#").tabs-menu__link Запроси друга
          .section-text.steps-section__text
            p Для того щоб бути рекрутером і почати заробляти не потрібні знання та досвід! Переконайтесь самі!
          .tabs__content(style="display: block")
            .steps
              .step.steps__item
                h3.step__title #[span.step__number 01.] Безкоштовно зареєструйтесь
                .step__description
                  p #[a(href="/registration.html") Реєстрація] не займе більше 30 секунд та є абсолютно безкоштовною. Після реєстрації вам відразу будуть доступні всі інструменти для рекрутації та партнерська програма.
              .step.steps__item
                h3.step__title #[span.step__number 02.] Оберіть вакансію та винагороду
                .step__description
                  p Поспілкуйтесь з кандидатом та оберіть йому одну із вакансій із бази WORKIUM. Обговоріть з кандидатом всі деталі, які будуть стосуватись його майбутньої роботи і, якщо все підходить, працевлаштуйте його в один клік.
              .step.steps__item
                h3.step__title #[span.step__number 03.] Зачекайте поки кандидат відпрацює
                .step__description
                  p Найчастіше термін відпрацювання становить від двох тижнів до місяця. Ці дані, а також сума винагороди за відпрацювання вказані в описі кожної вакансії. Після того, як кандидат відпрацює вказаний термін - ви отримаєте винагороду і вона залишиться у вас навіть якщо кандидат звільниться з роботи.
              .step.steps__item
                h3.step__title #[span.step__number 04.] Отримайте винагороду
                .step__description
                  p Оберіть зручний спосіб отримання коштів. Це може бути будь-яка картка українського, польського або іншого європейського банку фізичної особи, розрахунковий рахунок підприємця або ТОВ. Кошти виплачуюються протягом декількох годин. Швидко, надійно та вигідно.
          .tabs__content
            .steps
              .step.steps__item
                h3.step__title #[span.step__number 01.] Безкоштовно зареєструйтесь
                .step__description
                  p Створення акаунту не займе більше 30 секунд. Після реєстрації ви зможете опублікувати свої вакансії, достатньо лише пройти просту формальну перевірку вашої компанії.
              .step.steps__item
                h3.step__title #[span.step__number 02.] Опублікуйте вакансії і вкажіть винагороду
                .step__description
                  p Надайте максимальну інформацію про кожну свою вакансію. Також вкажіть винагороду для рекрутера і умови, за яких вона нараховується.
              .step.steps__item
                h3.step__title #[span.step__number 03.] Отримайте нових кандидатів
                .step__description
                  p Після розміщення вакансій більше 5000 рекрутерів в системі WORKIUM будуть пропонувати їх потенційним кандидатам. Пам’ятайте, що чим вища нагорода, чим кращі і лояльніші терміни відпрацювання – тим активніше рекрутери будуть працевлаштовувати кандидатів саме на ваші вакансії.
              .step.steps__item
                h3.step__title #[span.step__number 04.] Заощаджуйте час. Масштабуйтесь легко
                .step__description
                  p Збільшуйте кількість своїх вакансії, покращуйте умови для рекрутерів, слідкуйте за статистикою в особистому кабінеті та розвивайте свій бізнес. За допомогою системи WORKIUM ви можете отримувати стільки працівників на ваші вакансії – скільки вам необхідно. Next level HR вже сьогодні.
          .tabs__content
            .steps
              .step.steps__item
                h3.step__title #[span.step__number 01.] Безкоштовно зареєструйтесь
                .step__description
                  p Створення акаунту не займе більше 30 секунд. Після реєстрації ви зможете подати заявку для участі в тендері та отримати можливість стати партнером системи WORKIUM.
              .step.steps__item
                h3.step__title #[span.step__number 02.] Сформуйте заявку
                .step__description
                  p У відповідному розділі вкажіть усю необхідну інформацію, наприклад, вкажіть дані вашої компанії, юридичну адресу, надайте посилання на ліцезію та інші дані, які будуть потрібні для заповнення.
              .step.steps__item
                h3.step__title #[span.step__number 03.] Очікуйте на перевірку
                .step__description
                  p Перевірка та уточнення деталей займає від 3 до 5 днів. WORKIUM вимогливі передусім до себе, однак і наші партнери мають відповідати найвищим критеріям. Тому нам важливо впевнитися, що ви гарантуєте безпечність та прозорість роботи ваших працівників, що ви зможете ефективно виконувати всі завдання. Також під час перевірки може бути проведений аудит професійних навичок ваших менеджерів з продажу.
              .step.steps__item
                h3.step__title #[span.step__number 04.] Розпочніть співпрацю
                .step__description
                  p Після погодження вашої кандидатури ви стаєте офіційним партнером WORKIUM. Відтепер ви будете отримувати заявки щодо консультацій, деталізації вакансій, здійснювати супровід в бронюванні, обліковувати фінансові та юридичні питання.  Залучаючи свою компанію з працевлаштування до обслуговування проєкту WORKIUM - ви отримуєте надійну співпрацю та можливість збільшувати прибуток в рази.
          .tabs__content
            .steps
              .step.steps__item
                h3.step__title #[span.step__number 01.] Безкоштовно зареєструйтесь
                .step__description
                  p Створення акаунту не займе більше 30 секунд. Вам потрібно надати відповіді на стандартні питання як при звичайній реєстрації обілкового запису. Відразу після реєстрації вам будуть доступні всі інструменти для рекрутації та партнерська програма.
              .step.steps__item
                h3.step__title #[span.step__number 02.] Поділіться бонусним посиланям
                .step__description
                  p Використовуйте всі можливі способи (які не суперечать законодавству), щоб поінформувати і залучити друзів та знайомих. Пам’ятайте, що чим більше людей отримає від вас інформацію про можливість заробітку в системі WORKIUM - тим потужніша буде ваша команда.
              .step.steps__item
                h3.step__title #[span.step__number 03.] Відстежуйте роботу особистої команди і заробіток
                .step__description
                  p У режимі реального часу в відповідному розділі сервісу ви зможете переглядати  всіх людей, які зареєструвалися за вашим посиланням. Також будете бачити сумарний заробіток, який ви отримали з кожного рекрутера. Відслідковуйте ріст своєї команди і відслідковуйте заробіток. Всі кошти з кожної операції миттєво будуть зараховуватися на ваш баланс з усією деталізацією. Чим більше людей – тим більше вони вам будуть приносити пасивний дохід.
              .step.steps__item
                h3.step__title #[span.step__number 04.] Отримайте зароблені кошти
                .step__description
                  p Усі винагороди миттєво нараховуються на ваш баланс. Звідти ви зможете зняти їх будь-яким зручним способом. Ви завжди бачите скільки у вас на балансі та повну фінансову звітність по всіх операціях.  Кошти виплачуються досить швидко: впродовж декількох годин. Наша система створить вам потужний довготривалий пасивний заробіток від рекрутерів, яким ви порекомендували WORKIUM. Збільшуйте кількість рекрутерів, масштабуйте  свій дохід і досягайте своїх власних фінансових цілей разом з WORKIUM.
    .people-section.homepage__people-section
      .container.container--large.people-section__container
        h2.section-title.people-section__title Рекрутери про WORKIUM
        .section-text.people-section__text
          p Думаєте чи варто спробувати? Варто!
        .people-swiper-container.people-section__swiper-container
          .people-swiper.swiper
            .swiper-wrapper
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/1IMG_3322.MP4" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/2IMG_7224.MOV" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/3IMG_4314.MP4" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/4IMG_9849.MOV" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/5IMG_0745.MOV" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/6IMG_3859.MP4" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/7IMG_3985.MP4" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/8IMG_3434.MP4" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/natalia_ivanivna.png" alt="Наталiя Iванiвна").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Наталiя Iванiвна
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/готовий відео відгук.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .person__photo
                    img(src="/img/gennadiy_tkachenko.png" alt="Геннадій Ткаченко").person__photo-img
                  .person__info
                    .person__text-wrapper
                      .person__name Геннадій Ткаченко
                      .person__position CEO Fintoch Company
                    span.play-icon.person__icon
          button(type="button").swiper-btn.swiper-btn--prev.people-swiper-container__prev.hidden-xs
          button(type="button").swiper-btn.swiper-btn--next.people-swiper-container__next.hidden-xs
        .people-section__bottom
          a(href="/registration.html").btn-default Почати заробляти
    .statistics-section.homepage__statistics-section
      .container.statistics-section__container
        h2.section-title.statistics-section__title WORKIUM в цифрах
        .section-text.statistics-section__text
          p За нас говорять наші досягнення
      .statistics-section__items
        .container.statistics-section__items-container
          .statistic.statistics-section__item
            h3.statistic__title 500 zł
            .statistic__text
              p Середня винагорода за  кандидата без знання мови  та без досвіду роботи
          .statistic.statistics-section__item
            h3.statistic__title 5000+
            .statistic__text
              p Рекрутерів з України, Польщі, Чехії та інших країн
          .statistic.statistics-section__item
            h3.statistic__title 27,4 млн zł
            .statistic__text
              p Вже отримали рекрутери від системи WORKIUM. Виплати відбуваються кожну годину
          .statistic.statistics-section__item
            h3.statistic__title ~147%
            .statistic__text
              p Настільки винагорода за кандидата у WORKIUM вища, ніж при співпраці напряму
    .testimonials-section.homepage__testimonials-section
      .container.testimonials-section__container
        h2.section-title.testimonials-section__title ЗМІ про нас
        .section-text.testimonials-section__text
          p Деякі відомі польські, українські та інші міжнародні ЗМІ про WORKIUM
        .testimonials-section__items.hidden-xs
          .testimonial.testimonials-section__item
            .testimonial__logo
              img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
            .testimonial__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
          .testimonial.testimonials-section__item
            .testimonial__logo
              img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
            .testimonial__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
          .testimonial.testimonials-section__item
            .testimonial__logo
              img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
            .testimonial__text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
        .testimonials-swiper.swiper.testimonials-section__swiper.hidden-smPlus
          .swiper-wrapper
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
            .swiper-slide.testimonials-swiper__slide
              .testimonial
                .testimonial__logo
                  img(src="/img/tsn.png" alt="TSN").testimonial__logo-img
                .testimonial__text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim mim…
        .testimonials-section__bottom.hidden-xs
          a(href="/registration.html").btn-default Почати заробляти
    .logos-section.homepage__logos-section
      .container.logos-section__container
        h2.section-title.logos-section__title Довіряють люди та найвідоміші #[br]компанії світу
        .section-text.logos-section__text
          p Міжнародні компанії, які співпрацюють з WORKIUM в сфері працевлаштування
        ul.logos
          li.logos__item
            img(src="/img/logos/zara.png" alt="Zara").logos__img
          li.logos__item
            img(src="/img/logos/kinder.png" alt="Kinder").logos__img
          li.logos__item
            img(src="/img/logos/bosch.png" alt="Bosch").logos__img
          li.logos__item
            img(src="/img/logos/samsung.png" alt="Samsung").logos__img
          li.logos__item
            img(src="/img/logos/dhl.png" alt="Dhl").logos__img
          li.logos__item
            img(src="/img/logos/pepco.png" alt="Pepco").logos__img
          li.logos__item
            img(src="/img/logos/lg.png" alt="LG").logos__img
          li.logos__item
            img(src="/img/logos/danone.png" alt="Danone").logos__img
          li.logos__item
            img(src="/img/logos/mcdonalds.png" alt="McDonald's").logos__img
          li.logos__item
            img(src="/img/logos/rossmann.png" alt="Rossmann").logos__img
          li.logos__item
            img(src="/img/logos/milka.png" alt="Milka").logos__img
          li.logos__item
            img(src="/img/logos/philips.png" alt="Philips").logos__img
          li.logos__item
            img(src="/img/logos/henkel.png" alt="Henkel").logos__img
    .contact-section
      .container.contact-section__container
        h2.section-title.contact-section__title Залишились запитання?
        .section-text.contact-section__text
          p Подивіться презентацію нашої системи для рекрутерів або зв’яжіться з нами!
        .contact-section__wrapper
          .contact-section__img-wrapper
            a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox)
              img(src="/img/contact_section_img_new.png" alt="Залишились запитання?").contact-section__img
          .contact-section__text-wrapper
            .contact-box
              h3.contact-box__title Зв’язок з нами
              .contact-phones.contact-box__phones
                ul.contact-phones__list
                  li.contact-phones__item
                    a(href="tel:+4834422322").phone +48 344 223 22
                  li.contact-phones__item
                    a(href="tel:+380734339391").phone +380 73 433 93 91
              .contact-buttons.contact-box__buttons
                ul.contact-buttons__list
                  li.contact-buttons__item
                    a(href="#").btn-purple.btn-purple--viber.btn-purple--viber-contact-box Написати у Viber
                  li.contact-buttons__item
                    a(href="#").btn-lightblue.btn-lightblue--telegram.btn-lightblue--telegram-contact-box Написати в Telegram
  script(src="/js/index.js")