extends layouts/user_profile

block content
  .influence-page
    h1.page-title.influence-page__title Досягнення
    .tabs-menu.tabs-menu--light-bg-mob.influence-page__tabs-menu
      ul.tabs-menu__list
        li.tabs-menu__item
          a(href="/awards.html").tabs-menu__link Нагороди
        li.tabs-menu__item
          a(href="/influence.html").tabs-menu__link.tabs-menu__link--active Впливовість
    h2.page-title.influence-page__subtitle Впливовість
    .influence-page__description
      p Розвивайте ваш обліковий запис в нейромережі WORKIUM та збільшуйте свій вплив на користувачів та роботодавців!
    .influence.influence-page__influence
      .influence-rating.influence__rating
        .influence-rating__rating 0
        .influence-rating__label Ваша впливовість: #[strong 0]
      .influence-scale.influence__scale
        .influence-scale__value
        .influence-scale__scale
          .influence-scale__part
          .influence-scale__part
          .influence-scale__part
          .influence-scale__part
          .influence-scale__part
        .influence-scale__numbers
          .influence-scale__number 0
          .influence-scale__number 5k
          .influence-scale__number 25k
          .influence-scale__number 50k
          .influence-scale__number 250k
          .influence-scale__number 1M+
      .influence__text
        p До наступного рівня вам необхідно набрати ще #[span.medium 5000] балів впливовості
    .influence-page__text
      h2 Впливовість - це більше ніж просто рейтинг!
      p Впливовість - це система оцінки активності та досягнень користувача у нейромережі WORKIUM, яка складається з 5 рівнів зі зміною кольору ідентифікатора біля імені або псевдоніму користувача відповідно до рівня, який користувач досягає.
      p При досягненні зазначеної кількості необхідних балів - користувач отримує вищий рівень впливовості.
      h3 Для чого потрібна впливовість? Які переваги вона надає?
      p Нейромережа WORKIUM є лідером в сегменті працевлаштування. У нас знаходяться тисячі вакансій та десятки тисяч облікових записів роботодавців. Також, WORKIUM є одним із найбільших проектів з переліком міжнародних підприємств, які здійснюють працевлаштування на свої вакансії.
      p WORKIUM був створений для того щоб зупинити та зламати звичну роботу в сфері працевлаштування та побудувати її заново, з ідеально прозорими правилами для кандидатів та працедавців і абсолютно без будь-якого обману.
      p Для того, щоб перевіряти кандидатів та контролювати умови від працедавців - WORKIUM дає можливість пройти необов’язкову верифікацію облікового запису та, головне, висловити свою думку в інноваційній внутрішній соціальній мережі (запуск якої відбудеться 10.10.2023 року) та в коментарях під вакансіями, а також на сторінці роботодавців та підприємств.
      p Таким чином, ті користувачі, які активно використовують WORKIUM, тобто працюють рекрутером, або особисто працевлаштувались на одну із вакансій через WORKIUM, а також є ідейними, уважними та сумлінними борцями за чесність та справедливість в сфері працевлаштування - завжди будуть отримувати пріоритет у власних постах, коментарях та відгуках.
      p Тобто, їх думка особливо буде впливати на рейтинг, показ та інші механізми взаємодії працедавців, підприємств або інших користувачів в нейромережі WORKIUM.
      p Впливовість можна як отримати, так і втратити. Саме це інноваційне рішення абсолютно унеможливлює будь-які спроби накрутки чи штучного підвищення впливовості, тому будь-який користувач WORKIUM може бути впевнений, що всі відгуки, які він бачить - вони є реальними та відповідають дійсності. Те ж саме стосується працедавців, підприємств або їх представників. Вони також можуть бути впевнені в тому, що кожна думка, яка публікується - є особистою та заслоговує на увагу.
      p Тому, чим вищий у вас показник впливовості - тим більше впливу ваша думка та голос мають на абсолютно всі механізми, працедавців, підпримств та інших користувачів в нейромережі WORKIUM. А це, в свою чергу, виділяє вас серед інших та змушує прислуховуватись до вас та рахуватись з вами інших учасників нейромережі WORKIUM!
      h3 Як високий рівень впливовості може мені допомогти?
      p Завдяки WORKIUM - час, коли працедавці в односторонньому порядку диктували свої умови - успішно завершився. WORKIUM об’єднав сферу працевлаштування і зробив усіх рівними. Тому, якщо ви бачите що когось обманули або просто неправильно чи некоректно до когось поставились - ви можете про це розповісти написавши допис або відгук і, будьте певні, завдяки вашій високій впливовості - його побачать сотні тисяч користувачів нейромережі, а підприємству чи працедавцю нічого не залишиться окрім того щоб розібратись в ситуації і офіційно принести свої вибачення, якщо цього буде потребувати ситуація. Інакше, завдяки вашій інформації - працедавець може повністю залишитись без нових працівників на свої вакансії. Високий рівень впливовості допомагає вам бути справедливим і розповідати правду так, щоб про неї дійсно всі дізнались!
      p Впливовість для працедавців чи підприємств є також максимально ефективним інструментом, тому що дає можливість додавати в #[a(href="/black_list.html") чорний список] працівників, які порушили правила праці чи проживання або в інший спосіб продемонстрували неприйнятну поведінку.
      p Таким чином, завдяки миттєвій синхронізації даних та зручному функціоналу «чорного списку» - усі без вийнятку працедавці, при оформленні кандидата, будуть бачити інформацію про випадок, який він здійснив і на основі цього зможуть відмовити у працевлаштуванні.
      p Саме завдяки впливовості - кандидати, які шукають роботу, завжди будуть знати правду як про негативні так і про позитивні моменти тієї чи іншої вакансії, працедавця чи підприємства. А працедавці зможуть обмінюватись даними кандидатів, які порушують правила і допомагати один одному відсіювати недобросовісних працівників.
      p Тому, впливовість - це дуже потужних інструмент, який гарантує чесність та масштабність інформації в нейромережі WORKIUM.
      p Подбайте про свою впливовість!
      h3 Як можна збільшити рівень впливовості?
      p Для того, щоб збільшити рівень особистої впливовості - станьте частиною WORKIUM! Запрошуйте друзів в нейромережу, використовуючи своє власне #[a(href="#") унікальне посилання], працевлаштовуйте кандидатів на вакансії або замовляйте виготовлення документів. Проявляйте активність та ініціативність, діліться думками та пропозиціями. Слідкуйте за правилами в спілкуванні інших користувачів та просто використовуйте WORKIUM на всі 100% і рівень вашої впливовості буде надзвичайно швидко збільшуватись, тому що на рівень впливовості впливає, без перебільшення, аболютно кожна дія, яку ви здійснюєте в нейромережі!