extends layouts/user_profile

block content
  .operations-page
    h1.page-title.operations-page__title Баланс
    .swiper.wallets-swiper.operations-page__wallets-swiper.hidden-smPlus
      .swiper-wrapper
        .swiper-slide.wallets-swiper__slide
          .wallet.wallets__item
            .wallet__currency PLN
            .wallet__sum 0.00 #[span.wallet__currency-prefix zł]
            a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
        .swiper-slide.wallets-swiper__slide
          .wallet.wallets__item
            .wallet__currency CZK
            .wallet__sum 0.00 #[span.wallet__currency-prefix Kč]
            a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
        .swiper-slide.wallets-swiper__slide
          .wallet.wallets__item
            .wallet__currency USD
            .wallet__sum 0.00 #[span.wallet__currency-prefix $]
            a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
        .swiper-slide.wallets-swiper__slide
          .wallet.wallets__item
            .wallet__currency EUR
            .wallet__sum 0.00 #[span.wallet__currency-prefix €]
            a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
    .wallets.operations-page__wallets.hidden-xs
      .wallet.wallets__item
        .wallet__currency PLN
        .wallet__sum 0.00 #[span.wallet__currency-prefix zł]
        a(href="#").operation-link.wallet__operation-link Зняти кошти
      .wallet.wallets__item
        .wallet__currency CZK
        .wallet__sum 0.00 #[span.wallet__currency-prefix Kč]
        a(href="#").operation-link.wallet__operation-link Зняти кошти
      .wallet.wallets__item
        .wallet__currency USD
        .wallet__sum 0.00 #[span.wallet__currency-prefix $]
        a(href="#").operation-link.wallet__operation-link Зняти кошти
      .wallet.wallets__item
        .wallet__currency EUR
        .wallet__sum 0.00 #[span.wallet__currency-prefix €]
        a(href="#").operation-link.wallet__operation-link Зняти кошти
    .operations.operations-page__operations
      .operations__header
        h3.operations__caption Історія операцій
        .tabs-menu.tabs-menu--operations-types.operations__tabs-menu
          ul.tabs-menu__list
            li.tabs-menu__item
              a(href="#").tabs-menu__link.tabs-menu__link--active Всі операції
            li.tabs-menu__item
              a(href="#").tabs-menu__link PLN
            li.tabs-menu__item
              a(href="#").tabs-menu__link CZK
            li.tabs-menu__item
              a(href="#").tabs-menu__link USD
            li.tabs-menu__item
              a(href="#").tabs-menu__link EUR
            li.tabs-menu__item
              a(href="#").tabs-menu__link Рекрутація
            li.tabs-menu__item
              a(href="#").tabs-menu__link Партнерська програма
            li.tabs-menu__item
              a(href="#").tabs-menu__link Інше
      .operations__titles.hidden-smPlus
        h4.operations__col-title Категорія
        h4.operations__col-title Сума / Залишок 
      .operations__items.hidden-smPlus
        .operation.operations__item
          .no-operations
            .no-operations__icon-wrapper
              img(src="/img/wallet.svg" alt="").no-operations__icon
            .no-operations__text У вас ще не було операцій...
      table.operations-table.hidden-xs
        thead.operations-table__thead
          tr.operations-table__row
            th.operations-table__th.operations-table__th--datetime-id Час, дата та ID
            th.operations-table__th.operations-table__th--type Тип
            th.operations-table__th.operations-table__th--category Категорія
            th.operations-table__th.operations-table__th--sum Сума та валюта
            th.operations-table__th.operations-table__th--balance Залишок
            th.operations-table__th.operations-table__th--status Статус
            th.operations-table__th.operations-table__th--details Деталі операції
        tbody.operations-table__body
          tr.operations-table__row
            td.operations-table__td.operations-table__td--no-operations(colspan="7")
              .no-operations
                .no-operations__icon-wrapper
                  img(src="/img/wallet.svg" alt="").no-operations__icon
                .no-operations__text У вас ще не було операцій...

  script(src="/js/operations.js")