extends layouts/user_profile

block vars
  - userProfileClasses = 'user-profile--operations';

block content
  .operations-page
    h1.page-title.operations-page__title Баланс
    .swiper.wallets-swiper.operations-page__wallets-swiper.hidden-smPlus
      .swiper-wrapper
        .swiper-slide.wallets-swiper__slide
          .wallet.wallets__item
            .wallet__currency PLN
            .wallet__sum 0.00 #[span.wallet__currency-prefix zł]
            a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
        .swiper-slide.wallets-swiper__slide
          .wallet.wallets__item
            .wallet__currency CZK
            .wallet__sum 0.00 #[span.wallet__currency-prefix Kč]
            a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
        .swiper-slide.wallets-swiper__slide
          .wallet.wallets__item
            .wallet__currency USD
            .wallet__sum 0.00 #[span.wallet__currency-prefix $]
            a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
        .swiper-slide.wallets-swiper__slide
          .wallet.wallets__item
            .wallet__currency EUR
            .wallet__sum 0.00 #[span.wallet__currency-prefix €]
            a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
    .wallets.operations-page__wallets.hidden-xs
      .wallet.wallets__item
        .wallet__currency PLN
        .wallet__sum 0.00 #[span.wallet__currency-prefix zł]
        a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
      .wallet.wallets__item
        .wallet__currency CZK
        .wallet__sum 0.00 #[span.wallet__currency-prefix Kč]
        a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
      .wallet.wallets__item
        .wallet__currency USD
        .wallet__sum 0.00 #[span.wallet__currency-prefix $]
        a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
      .wallet.wallets__item
        .wallet__currency EUR
        .wallet__sum 0.00 #[span.wallet__currency-prefix €]
        a(href="/withdrawal_funds.html").operation-link.wallet__operation-link Зняти кошти
    .operations.operations-page__operations
      .operations__header
        h3.operations__caption Історія операцій
        .tabs-menu.tabs-menu--operations-types.operations__tabs-menu
          ul.tabs-menu__list
            li.tabs-menu__item
              //- a(href="#").tabs-menu__link Валюта
              a(href="#currency-dropdown-block" data-dropdown-block-trigger).dropdown-toggle Валюта
              .dropdown-block.tabs-menu__dropdown-block#currency-dropdown-block
                .dropdown-menu
                  ul.dropdown-menu__list
                    li.dropdown-menu__item
                      a(href="#").dropdown-menu__link PLN
                    li.dropdown-menu__item
                      a(href="#").dropdown-menu__link CZK
                    li.dropdown-menu__item
                      a(href="#").dropdown-menu__link USD
                    li.dropdown-menu__item
                      a(href="#").dropdown-menu__link EUR
            li.tabs-menu__item
              a(href="#").tabs-menu__link.tabs-menu__link--active Всі операції
            //- li.tabs-menu__item
            //-   a(href="#").tabs-menu__link PLN
            //- li.tabs-menu__item
            //-   a(href="#").tabs-menu__link CZK
            //- li.tabs-menu__item
            //-   a(href="#").tabs-menu__link USD
            //- li.tabs-menu__item
            //-   a(href="#").tabs-menu__link EUR
            li.tabs-menu__item
              a(href="#").tabs-menu__link Рекрутація
            li.tabs-menu__item
              a(href="#").tabs-menu__link Кешбек
            li.tabs-menu__item
              a(href="#").tabs-menu__link Партнерська програма
            li.tabs-menu__item
              a(href="#").tabs-menu__link Інше
        .form-search-box.tabs-menu__form-search-box
          input(type="text" name="search" placeholder="Пошук…").form-search.form-search-box__input
          button(type="button").form-search-box__clear-btn
      .operations__titles.hidden-smPlus
        h4.operations__col-title Категорія
        h4.operations__col-title Сума / Залишок 
      .operations__items.hidden-smPlus
        .operation.operations__item
          .operation__header
            .operation__info
              .operation-type.operation-type--withdrawals.operation__type
              .operation__name Зняття коштів
              .operation__bank Monobank
            .operation__sum-and-balance
              .operation__sum.operation__sum--negative - 1,444 USD
              .operation__balance 123,21 USD
          .operation__details Зняття власних коштів. Банківський переказ: Monobank (28***419).
          .operation__footer
            .operation__datetime-and-id 17:35 &nbsp;22.12.23 &nbsp;ID: 32122
            .operation-status.operation-status--completed Виконано
        .operation.operation--grey-bg.operations__item
          .operation__header
            .operation__info
              .operation-type.operation-type--replenishment.operation__type
              .operation__name Партнерська програма
            .operation__sum-and-balance
              .operation__sum + 1,444 USD
              .operation__balance 123,21 USD
          .operation__details Зарахування партнерської винагороди від Микола. ID партнера: 344221.
          .operation__footer
            .operation__datetime-and-id 17:35 &nbsp;22.12.23 &nbsp;ID: 32122
            .operation-status.operation-status--completed Виконано
        .operation.operations__item
          .operation__header
            .operation__info
              .operation-type.operation-type--replenishment.operation__type.operation__type--one-row
              .operation__name Рекрутація
            .operation__sum-and-balance
              .operation__sum + 1,444 USD
              .operation__balance 123,21 USD
          .operation__details Винагорода за відпрацювання кандидата Шумко Ігор. ID кандидата: 3392112.
          .operation__footer
            .operation__datetime-and-id 17:35 &nbsp;22.12.23 &nbsp;ID: 32122
            .operation-status.operation-status--completed Виконано
        .operation.operation--grey-bg.operations__item
          .operation__header
            .operation__info
              .operation-type.operation-type--withdrawals.operation__type
              .operation__name Зняття коштів
              .operation__bank Приват24
            .operation__sum-and-balance
              .operation__sum.operation__sum--negative - 1,444 USD
              .operation__balance 123,21 USD
          .operation__details Зняття власних коштів. Банківський переказ: Monobank (28***419).
          .operation__footer
            .operation__datetime-and-id 17:35 &nbsp;22.12.23 &nbsp;ID: 32122
            .operation-status.operation-status--waiting На розгляді
      table.operations-table.hidden-xs
        thead.operations-table__thead
          tr.operations-table__row
            th.operations-table__th.operations-table__th--datetime-id Час, дата та ID
            th.operations-table__th.operations-table__th--type Тип
            th.operations-table__th.operations-table__th--category Категорія
            th.operations-table__th.operations-table__th--sum Сума та валюта
            th.operations-table__th.operations-table__th--balance Залишок
            th.operations-table__th.operations-table__th--status Статус
            th.operations-table__th.operations-table__th--details Деталі операції
        tbody.operations-table__body
          tr.operations-table__row
            td.operations-table__td.operations-table__td--datetime-id
              .operations-table__datetime 17:35 &nbsp;22.12.23
              .operations-table__id 32122
            td.operations-table__td.operations-table__td--type
              .operation-type.operation-type--withdrawals
            td.operations-table__td.operations-table__td--category
              .operations-table__type Зняття коштів
              .operations-table__bank Monobank
            td.operations-table__td.operations-table__td--sum
              .operations-table__sum.operations-table__sum--negative - 1,444 USD
            td.operations-table__td.operations-table__td--balance
              .operations-table__balance 123,21 USD
            td.operations-table__td.operations-table__td--status
              .operation-status.operation-status--completed Виконано
            td.operations-table__td.operations-table__td--details
              .operations-table__details Зняття власних коштів. Банківський переказ: Monobank (28***419).
          tr.operations-table__row
            td.operations-table__td.operations-table__td--datetime-id
              .operations-table__datetime 17:35 &nbsp;22.12.23
              .operations-table__id 32122
            td.operations-table__td.operations-table__td--type
              .operation-type.operation-type--replenishment
            td.operations-table__td.operations-table__td--category
              .operations-table__type Партнерська програма
            td.operations-table__td.operations-table__td--sum
              .operations-table__sum + 1,444 USD
            td.operations-table__td.operations-table__td--balance
              .operations-table__balance 123,21 USD
            td.operations-table__td.operations-table__td--status
              .operation-status.operation-status--completed Виконано
            td.operations-table__td.operations-table__td--details
              .operations-table__details Зарахування партнерської винагороди від Микола. ID партнера: 344221.
          tr.operations-table__row
            td.operations-table__td.operations-table__td--datetime-id
              .operations-table__datetime 17:35 &nbsp;22.12.23
              .operations-table__id 32122
            td.operations-table__td.operations-table__td--type
              .operation-type.operation-type--replenishment
            td.operations-table__td.operations-table__td--category
              .operations-table__type Рекрутація
            td.operations-table__td.operations-table__td--sum
              .operations-table__sum + 1,444 USD
            td.operations-table__td.operations-table__td--balance
              .operations-table__balance 123,21 USD
            td.operations-table__td.operations-table__td--status
              .operation-status.operation-status--completed Виконано
            td.operations-table__td.operations-table__td--details
              .operations-table__details Винагорода за відпрацювання кандидата Шумко Ігор. ID кандидата: 3392112.
          tr.operations-table__row
            td.operations-table__td.operations-table__td--datetime-id
              .operations-table__datetime 17:35 &nbsp;22.12.23
              .operations-table__id 32122
            td.operations-table__td.operations-table__td--type
              .operation-type.operation-type--withdrawals
            td.operations-table__td.operations-table__td--category
              .operations-table__type Зняття коштів
              .operations-table__bank Приват24
            td.operations-table__td.operations-table__td--sum
              .operations-table__sum.operations-table__sum--negative - 1,444 USD
            td.operations-table__td.operations-table__td--balance
              .operations-table__balance 123,21 USD
            td.operations-table__td.operations-table__td--status
              .operation-status.operation-status--waiting На розгляді
            td.operations-table__td.operations-table__td--details
              .operations-table__details Зняття власних коштів. Банківський переказ: Приват24 (28***419).
          tr.operations-table__row
            td.operations-table__td.operations-table__td--datetime-id
              .operations-table__datetime 17:35 &nbsp;22.12.23
              .operations-table__id 32122
            td.operations-table__td.operations-table__td--type
              .operation-type.operation-type--withdrawals
            td.operations-table__td.operations-table__td--category
              .operations-table__type Зняття коштів
              .operations-table__bank Приват24
            td.operations-table__td.operations-table__td--sum
              .operations-table__sum.operations-table__sum--negative - 1,444 USD
            td.operations-table__td.operations-table__td--balance
              .operations-table__balance 123,21 USD
            td.operations-table__td.operations-table__td--status
              .operation-status.operation-status--canceled Скасовано
            td.operations-table__td.operations-table__td--details
              .operations-table__details Операцію скасовано. #[a(href="#") Зверніться] в службу підтримки для уточнення деталей. #[br]#[a(href="#") Переглянути опис операції]
          tr.operations-table__row
            td.operations-table__td.operations-table__td--datetime-id
              .operations-table__datetime 17:35 &nbsp;22.12.23
              .operations-table__id 32122
            td.operations-table__td.operations-table__td--type
              .operation-type.operation-type--replenishment
            td.operations-table__td.operations-table__td--category
              .operations-table__type Партнерська програма
            td.operations-table__td.operations-table__td--sum
              .operations-table__sum + 1,444 USD
            td.operations-table__td.operations-table__td--balance
              .operations-table__balance 123,21 USD
            td.operations-table__td.operations-table__td--status
              .operation-status.operation-status--completed Виконано
            td.operations-table__td.operations-table__td--details
              .operations-table__details Зарахування партнерської винагороди від Микола. ID партнера: 344221.
  script(src="/js/operations.js")