extends layouts/base

block content
  .password-recovery-page
    .password-recovery-page__inner
      h1.password-recovery-page__title Відновлення паролю
      .password-recovery-page__description
        p Щоб змінити пароль до облікового запису - вкажіть номер телефону, #[br]який був закріплений за аккаунтом
      .password-recovery.password-recovery-page__block
        form(action="").password-recovery__form
          .field.password-recovery__field
            label(for="phone").form-label.field__label Контактний телефон
            input(type="tel" id="phone" placeholder="Телефон").form-text
          .password-recovery__actions
            button(type="submit").btn-default.password-recovery__btn-submit Відновити 
            
      .password-recovery.password-recovery-page__block
        .password-recovery__text-wrapper
          .password-recovery__text
            p Для відновлення пароля, будь ласка, зв'яжіться зі службою технічної підтримки WORKIUM за допомогою Viber або Telegram.
            p Обіцяємо, це займе всього декілька хвилин вашого часу.
          .contact-buttons.contact-buttons--row.password-recovery__buttons
            ul.contact-buttons__list
              li.contact-buttons__item
                a(href="#").btn-purple.btn-purple--viber Написати у Viber
              li.contact-buttons__item
                a(href="#").btn-lightblue.btn-lightblue--telegram Написати в Telegram
      ul.password-recovery-page__links
        li.password-recovery-page__link-item
          a(href="#authorization-popup").link.fancybox-popup-toggle Увійти
        li.password-recovery-page__link-item
          a(href="#authorization-popup").link.fancybox-popup-toggle Зареєструватись