extends layouts/base

block content
  .authorization-page
    .authorization-page__inner
      h1.authorization-page__title Відновлення паролю
      .authorization-page__description
        p Щоб змінити пароль до облікового запису - вкажіть номер телефону, #[br]який був закріплений за аккаунтом
      .authorization-block.authorization-page__block
        form(action="").authorization-block__form
          .field.authorization-block__field
            label(for="phone").form-label.field__label Контактний телефон
            input(type="tel" id="phone" placeholder="Телефон").form-text
          .authorization-block__actions
            button(type="submit").btn-default.authorization-block__btn-submit Відновити пароль
            
      .authorization-block.authorization-page__block
        .authorization-block__text-wrapper
          .authorization-block__text
            p Для відновлення пароля, будь ласка, зв'яжіться зі службою технічної підтримки WORKIUM за допомогою Viber або Telegram.
            p Обіцяємо, це займе всього декілька хвилин вашого часу.
          .contact-buttons.contact-buttons--row.authorization-block__buttons
            ul.contact-buttons__list
              li.contact-buttons__item
                a(href="#").btn-purple.btn-purple--viber Написати у Viber
              li.contact-buttons__item
                a(href="#").btn-lightblue.btn-lightblue--telegram Написати в Telegram
      ul.authorization-page__links
        li.authorization-page__link-item
          a(href="#authorization-popup" data-active-tab-number="2").link.fancybox-popup-toggle Увійти
        li.authorization-page__link-item
          a(href="#authorization-popup").link.fancybox-popup-toggle Зареєструватись