extends layouts/user_profile

//- block vars
//-   - userProfileClasses = 'user-profile--recruitment';

block content
  .clients
    h1.page-title.clients__title Клієнти
    .tabs-menu.tabs-menu--has-count.tabs-menu--light-bg-mob.clients__tabs-menu
      ul.tabs-menu__list
        li.tabs-menu__item
          a(href="/recruitment.html").tabs-menu__link.tabs-menu__link--active Рекрутація
        li.tabs-menu__item
          a(href="/documents.html").tabs-menu__link Документи
            span.count.tabs-menu__count 3
    .banner.banner--align-start.clients__banner(data-cookie-name="hideVerifiedVacancies")
      button(type="button").banner__close-btn
      .banner__img-wrapper
        img(src="/img/hourglass.png" alt="").banner__img
      h3.banner__title Оновлення статусу працевлаштування
      .banner__text
        p Зверніть увагу! Статус працевлаштування кандидатів оновлюється миттєво, як тільки нейромережа отримує відповідну інформацію. Проте, іноді роботодавці подають зміну статусу кандидата із затримкою. Ми завжди пильнуємо за процесом працевлаштування взаємодіючи з обома сторонами. Тому, якщо ви помічаєте, що статус довго не оновлюється, але ви впевнені, що кандидат вже має новий статус, будь ласка, повідомте нас про це!
    .client-cards
      .client-card.client-card--grey-bg.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя
            a(href="tel:+380987653498").client-card__phone +380987653498
          .client-card__btn-and-icon
            button(type="button" data-additional-toggle).toggle-btn.client-card__additional-toggle-btn Додатково
            button(type="button" data-additional-toggle).icon-info
          //- .client-card__id-and-comment.hidden-xxs
          //-   .client-card__id ID: 5233479
          //-   .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__additional
            .client-card__additional-label Додаткова інформація:
            a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-smPlus Скопіювати додаткову інформацію
              .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
            .client-card__additional-text
              p Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином.
            .client-card__additional-footer
              .client-card__additional-footer-left
                .client-card__additional-item ID бронювання: #[span.semibold 232311]
                .client-card__additional-item Час та дата бронювання: #[span.semibold 20:15 23.04.2023]
              .client-card__additional-footer-right
                a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-xs Скопіювати інформацію
                  .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
          .client-card__specifications.client-card__specifications--recruitment
            //- .specification.client-card__specification
            //-   .specification__title Бронь
            //-   .specification__value 5 січ 2023
            //- .specification.client-card__specification
            //-   .specification__title Виїзд
            //-   .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Країна
              .specification__value Польща
            .specification.client-card__specification
              .specification__title Підприємство
              .specification__value.specification__value--company LG Electronics
            .specification.client-card__specification
              .specification__title Вакансія
              .specification__value.specification__value--vacancy Склад фабрики з пошиття робочого одягу
            .specification.client-card__specification
              .specification__title Роботодавець
              .specification__value Ворк Профi
            .specification.client-card__specification
              .specification__title Відпрацювання
              .specification__value 30 днів
            .specification.specification--reward.client-card__specification
              .specification__title Винагорода
              .specification__value 8.00 zl / год#[br]240 годин#[br]2340 zl
          button(type="button" data-src="#client-status-popup0" data-slug="client-status-popup0").client-status.client-status--grey-bg.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Заброньований
          .fancybox-popup#client-status-popup0(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--grey-bg.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 8%")
              .status-line__items
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
                .status-line__item.status-line__item--highlighted.status-line__item--worked-out
                  .status-line__item-text Відпрацював
                .status-line__item.status-line__item--highlighted.status-line__item--working
                  .status-line__item-text Працює
                .status-line__item.status-line__item--highlighted.status-line__item--paperwork
                  .status-line__item-text Оформлення
                .status-line__item.status-line__item--highlighted.status-line__item--left
                  .status-line__item-text Виїхав
                .status-line__item.status-line__item--highlighted.status-line__item--booked
                  .status-line__item-text Заброньований
          .client-card__id-and-comment.hidden-xxsPlus
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
          .status-line.status-line--grey-bg.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill(style="width: 8%")
            .status-line__items
              .status-line__item.status-line__item--highlighted.status-line__item--booked
                .status-line__item-text Заброньований
              .status-line__item.status-line__item--highlighted.status-line__item--left
                .status-line__item-text Виїхав
              .status-line__item.status-line__item--highlighted.status-line__item--paperwork
                .status-line__item-text Оформлення
              .status-line__item.status-line__item--highlighted.status-line__item--working
                .status-line__item-text Працює
              .status-line__item.status-line__item--highlighted.status-line__item--worked-out
                .status-line__item-text Відпрацював
              .status-line__item.status-line__item--payment
                .status-line__item-text Виплата
          .client-card__labels-wrapper
            .client-labels.client-card__labels
              .client-label-filled.client-label-filled--no-radius-right.client-label-filled--grey-bg.client-labels__item Бронювання: 5 січ 2023
              .client-label.client-label--grey.client-labels__item Виїзд: 2 лют 2023
      .client-card.client-card--aqua-bg.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя
            a(href="tel:+380987653498").client-card__phone +380987653498
          .client-card__btn-and-icon
            button(type="button" data-additional-toggle).toggle-btn.client-card__additional-toggle-btn Додатково
            button(type="button" data-additional-toggle).icon-info
          //- .client-card__id-and-comment.hidden-xxs
          //-   .client-card__id ID: 5233479
          //-   .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__additional
            .client-card__additional-label Додаткова інформація:
            a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-smPlus Скопіювати додаткову інформацію
              .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
            .client-card__additional-text
              p Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином.
            .client-card__additional-footer
              .client-card__additional-footer-left
                .client-card__additional-item ID бронювання: #[span.semibold 232311]
                .client-card__additional-item Час та дата бронювання: #[span.semibold 20:15 23.04.2023]
              .client-card__additional-footer-right
                a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-xs Скопіювати інформацію
                  .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
          .client-card__specifications.client-card__specifications--recruitment
            .specification.client-card__specification
              .specification__title Бронь
              .specification__value 5 січ 2023
            .specification.client-card__specification
              .specification__title Виїзд
              .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Підприємство
              .specification__value.specification__value--company LG Electronics
            .specification.client-card__specification
              .specification__title Вакансія
              .specification__value.specification__value--vacancy Склад фабрики з пошиття робочого одягу
            .specification.client-card__specification
              .specification__title Роботодавець
              .specification__value Ворк Профi
            .specification.client-card__specification
              .specification__title Винагорода
              .specification__value 500 зл
          button(type="button" data-src="#client-status-popup1" data-slug="client-status-popup1").client-status.client-status--aqua-bg.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Виїхав
          .fancybox-popup#client-status-popup1(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--aqua-bg.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 26.6%")
              .status-line__items
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
                .status-line__item.status-line__item--highlighted.status-line__item--worked-out
                  .status-line__item-text Відпрацював
                .status-line__item.status-line__item--highlighted.status-line__item--working
                  .status-line__item-text Працює
                .status-line__item.status-line__item--highlighted.status-line__item--paperwork
                  .status-line__item-text Оформлення
                .status-line__item.status-line__item--highlighted.status-line__item--left
                  .status-line__item-text Виїхав
                .status-line__item.status-line__item--highlighted.status-line__item--booked
                  .status-line__item-text Заброньований
          .client-card__id-and-comment.hidden-xxsPlus
            .client-card__id ID: 5233479
            .client-card__comment Якийсь невеликий коментар
          .status-line.status-line--aqua-bg.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill(style="width: 26.6%")
            .status-line__items
              .status-line__item.status-line__item--highlighted.status-line__item--booked
                .status-line__item-text Заброньований
              .status-line__item.status-line__item--highlighted.status-line__item--left
                .status-line__item-text Виїхав
              .status-line__item.status-line__item--highlighted.status-line__item--paperwork
                .status-line__item-text Оформлення
              .status-line__item.status-line__item--highlighted.status-line__item--working
                .status-line__item-text Працює
              .status-line__item.status-line__item--worked-out
                .status-line__item-text Відпрацював
              .status-line__item.status-line__item--payment
                .status-line__item-text Виплата
          .client-card__labels-wrapper
            .client-labels.client-card__labels
              .client-label-filled.client-label-filled--no-radius-right.client-label-filled--aqua-bg.client-labels__item Бронювання: 5 січ 2023
              .client-label.client-label--aqua.client-labels__item Виїзд: 2 лют 2023
      .client-card.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя
            a(href="tel:+380987653498").client-card__phone +380987653498
          .client-card__btn-and-icon
            button(type="button" data-additional-toggle).toggle-btn.client-card__additional-toggle-btn Додатково
            button(type="button" data-additional-toggle).icon-info
          //- .client-card__id-and-comment.hidden-xxs
          //-   .client-card__id ID: 5233479
          //-   .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__additional
            .client-card__additional-label Додаткова інформація:
            a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-smPlus Скопіювати додаткову інформацію
              .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
            .client-card__additional-text
              p Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином.
            .client-card__additional-footer
              .client-card__additional-footer-left
                .client-card__additional-item ID бронювання: #[span.semibold 232311]
                .client-card__additional-item Час та дата бронювання: #[span.semibold 20:15 23.04.2023]
              .client-card__additional-footer-right
                a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-xs Скопіювати інформацію
                  .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
          .client-card__specifications.client-card__specifications--recruitment
            .specification.client-card__specification
              .specification__title Бронь
              .specification__value 5 січ 2023
            .specification.client-card__specification
              .specification__title Виїзд
              .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Підприємство
              .specification__value.specification__value--company LG Electronics
            .specification.client-card__specification
              .specification__title Вакансія
              .specification__value.specification__value--vacancy Склад фабрики з пошиття робочого одягу
            .specification.client-card__specification
              .specification__title Роботодавець
              .specification__value Ворк Профi
            .specification.client-card__specification
              .specification__title Винагорода
              .specification__value 500 зл
          button(type="button" data-src="#client-status-popup2" data-slug="client-status-popup2").client-status.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Оформлення
          .fancybox-popup#client-status-popup2(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 46.4%")
              .status-line__items
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
                .status-line__item.status-line__item--highlighted.status-line__item--worked-out
                  .status-line__item-text Відпрацював
                .status-line__item.status-line__item--highlighted.status-line__item--working
                  .status-line__item-text Працює
                .status-line__item.status-line__item--highlighted.status-line__item--paperwork
                  .status-line__item-text Оформлення
                .status-line__item.status-line__item--highlighted.status-line__item--left
                  .status-line__item-text Виїхав
                .status-line__item.status-line__item--highlighted.status-line__item--booked
                  .status-line__item-text Заброньований
          .status-line.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill(style="width: 46.4%")
            .status-line__items
              .status-line__item.status-line__item--highlighted.status-line__item--booked
                .status-line__item-text Заброньований
              .status-line__item.status-line__item--highlighted.status-line__item--left
                .status-line__item-text Виїхав
              .status-line__item.status-line__item--highlighted.status-line__item--paperwork
                .status-line__item-text Оформлення
              .status-line__item.status-line__item--highlighted.status-line__item--working
                .status-line__item-text Працює
              .status-line__item.status-line__item--highlighted.status-line__item--worked-out
                .status-line__item-text Відпрацював
              .status-line__item.status-line__item--highlighted.status-line__item--payment
                .status-line__item-text Виплата
          .client-card__labels-wrapper
            .client-labels.client-card__labels
              .client-label-filled.client-label-filled--no-radius-right.client-labels__item Бронювання: 5 січ 2023
              .client-label.client-labels__item Виїзд: 2 лют 2023
      .client-card.client-card--orange-bg.client-cards__item
        .client-card__header
          .client-card__name-and-phone
            .client-card__name Теребей Наталiя
            a(href="tel:+380987653498").client-card__phone +380987653498
          .client-card__btn-and-icon
            button(type="button" data-additional-toggle).toggle-btn.client-card__additional-toggle-btn Додатково
            button(type="button" data-additional-toggle).icon-info
          //- .client-card__id-and-comment.hidden-xxs
          //-   .client-card__id ID: 5233479
          //-   .client-card__comment Якийсь невеликий коментар
        .client-card__body
          .client-card__additional
            .client-card__additional-label Додаткова інформація:
            a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-smPlus Скопіювати додаткову інформацію
              .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
            .client-card__additional-text
              p Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином.
            .client-card__additional-footer
              .client-card__additional-footer-left
                .client-card__additional-item ID бронювання: #[span.semibold 232311]
                .client-card__additional-item Час та дата бронювання: #[span.semibold 20:15 23.04.2023]
              .client-card__additional-footer-right
                a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-xs Скопіювати інформацію
                  .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
          .client-card__specifications.client-card__specifications--recruitment
            .specification.client-card__specification
              .specification__title Бронь
              .specification__value 5 січ 2023
            .specification.client-card__specification
              .specification__title Приїзд
              .specification__value 28 січ 2023
            .specification.client-card__specification
              .specification__title Підприємство
              .specification__value.specification__value--company LG Electronics
            .specification.client-card__specification
              .specification__title Вакансія
              .specification__value.specification__value--vacancy Склад фабрики з пошиття робочого одягу
            .specification.client-card__specification
              .specification__title Роботодавець
              .specification__value Ворк Профi
            .specification.client-card__specification
              .specification__title Винагорода
              .specification__value 500 зл
          button(type="button" data-src="#client-status-popup4" data-slug="client-status-popup4").client-status.client-status--orange-bg.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Оформлення
          .fancybox-popup#client-status-popup4(style="display: none;")
            h3.fancybox-popup__title Статус
            .fancybox-popup__client-info
              .fancybox-popup__client-name Теребей Наталiя Iванiвна
              a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
            .status-line.status-line--orange-bg.status-line--vertical.fancybox-popup__status-line
              .status-line__line
                .status-line__line-fill(style="height: 39.7%")
              .status-line__items
                .status-line__item.status-line__item--payment
                  .status-line__item-text Виплата
                .status-line__item.status-line__item--highlighted.status-line__item--worked-out
                  .status-line__item-text Відпрацював
                .status-line__item.status-line__item--highlighted.status-line__item--working
                  .status-line__item-text Працює
                .status-line__item.status-line__item--highlighted.status-line__item--paperwork
                  .status-line__item-text Оформлення
                .status-line__item.status-line__item--highlighted.status-line__item--left
                  .status-line__item-text Виїхав
                .status-line__item.status-line__item--highlighted.status-line__item--booked
                  .status-line__item-text Заброньований
          .status-line.status-line--orange-bg.client-card__status-line.hidden-xs
            .status-line__line
              .status-line__line-fill(style="width: 39.7%")
              //- .status-line__cancel-icon(style="margin-left:39.7%")
            .status-line__items
              .status-line__item.status-line__item--highlighted.status-line__item--booked
                .status-line__item-text Заброньований
              .status-line__item.status-line__item--highlighted.status-line__item--left
                .status-line__item-text Виїхав
              .status-line__item.status-line__item--highlighted.status-line__item--paperwork
                .status-line__item-text Оформлення
              .status-line__item.status-line__item--highlighted.status-line__item--working
                .status-line__item-text Працює
              .status-line__item.status-line__item--highlighted.status-line__item--worked-out
                .status-line__item-text Відпрацював
              .status-line__item.status-line__item--highlighted.status-line__item--payment
                .status-line__item-text Виплата
          .client-card__labels-wrapper
            .client-labels.client-card__labels.hidden-xs
              .client-label-filled.client-label-filled--no-radius-right.client-label-filled--orange-bg.client-labels__item 5 січ 2023
              .client-label.client-label--orange.client-labels__item Виїзд: 2 лют 2023
            .client-label-filled.client-label-filled--orange-bg.client-labels__item.hidden-xs Відміна
            .client-card__label.hidden-smPlus Скасування броні

      //- .client-card.client-card--lilac-bg.client-cards__item
      //-   .client-card__header
      //-     .client-card__name-and-phone
      //-       .client-card__name Теребей Наталiя
      //-       a(href="tel:+380987653498").client-card__phone +380987653498
      //-     .client-card__btn-and-icon
      //-       button(type="button" data-additional-toggle).toggle-btn.client-card__additional-toggle-btn Додатково
      //-       button(type="button" data-additional-toggle).icon-info
      //-     //- .client-card__id-and-comment.hidden-xxs
      //-     //-   .client-card__id ID: 5233479
      //-     //-   .client-card__comment Якийсь невеликий коментар
      //-   .client-card__body
      //-     .client-card__additional
      //-       .client-card__additional-label Додаткова інформація:
      //-       a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-smPlus Скопіювати додаткову інформацію
      //-         .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
      //-       .client-card__additional-text
      //-         p Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином.
      //-       .client-card__additional-footer
      //-         .client-card__additional-footer-left
      //-           .client-card__additional-item ID бронювання: #[span.semibold 232311]
      //-           .client-card__additional-item Час та дата бронювання: #[span.semibold 20:15 23.04.2023]
      //-         .client-card__additional-footer-right
      //-           a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-xs Скопіювати інформацію
      //-             .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
      //-     .client-card__specifications.client-card__specifications--recruitment
      //-       .specification.client-card__specification
      //-         .specification__title Бронь
      //-         .specification__value 5 січ 2023
      //-       .specification.client-card__specification
      //-         .specification__title Виїзд
      //-         .specification__value 28 січ 2023
      //-       .specification.client-card__specification
      //-         .specification__title Підприємство
      //-         .specification__value.specification__value--company LG Electronics
      //-       .specification.client-card__specification
      //-         .specification__title Вакансія
      //-         .specification__value.specification__value--vacancy Склад фабрики з пошиття робочого одягу
      //-       .specification.client-card__specification
      //-         .specification__title Роботодавець
      //-         .specification__value Ворк Профi
      //-       .specification.client-card__specification
      //-         .specification__title Винагорода
      //-         .specification__value 500 зл
      //-     button(type="button" data-src="#client-status-popup5" data-slug="client-status-popup5").client-status.client-status--lilac-bg.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Працює
      //-     .fancybox-popup#client-status-popup5(style="display: none;")
      //-       h3.fancybox-popup__title Статус
      //-       .fancybox-popup__client-info
      //-         .fancybox-popup__client-name Теребей Наталiя Iванiвна
      //-         a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
      //-       .status-line.status-line--lilac-bg.status-line--vertical.fancybox-popup__status-line
      //-         .status-line__line
      //-           .status-line__line-fill(style="height: 66%")
      //-         .status-line__items
      //-           .status-line__item.status-line__item--payment
      //-             .status-line__item-text Виплата
      //-           .status-line__item.status-line__item--highlighted.status-line__item--worked-out
      //-             .status-line__item-text Відпрацював
      //-           .status-line__item.status-line__item--highlighted.status-line__item--working
      //-             .status-line__item-text Працює
      //-           .status-line__item.status-line__item--highlighted.status-line__item--paperwork
      //-             .status-line__item-text Оформлення
      //-           .status-line__item.status-line__item--highlighted.status-line__item--left
      //-             .status-line__item-text Виїхав
      //-           .status-line__item.status-line__item--highlighted.status-line__item--booked
      //-             .status-line__item-text Заброньований
      //-     .status-line.status-line--lilac-bg.client-card__status-line.hidden-xs
      //-       .status-line__line
      //-         .status-line__line-fill(style="width: 66%")
      //-       .status-line__items
      //-         .status-line__item.status-line__item--highlighted.status-line__item--booked
      //-           .status-line__item-text Заброньований
      //-         .status-line__item.status-line__item--highlighted.status-line__item--left
      //-           .status-line__item-text Виїхав
      //-         .status-line__item.status-line__item--highlighted.status-line__item--paperwork
      //-           .status-line__item-text Оформлення
      //-         .status-line__item.status-line__item--highlighted.status-line__item--working
      //-           .status-line__item-text Працює
      //-         .status-line__item.status-line__item--highlighted.status-line__item--worked-out
      //-           .status-line__item-text Відпрацював
      //-         .status-line__item.status-line__item--highlighted.status-line__item--payment
      //-           .status-line__item-text Виплата
      //- .client-card.client-card--beige-bg.client-cards__item
      //-   .client-card__header
      //-     .client-card__name-and-phone
      //-       .client-card__name Теребей Наталiя
      //-       a(href="tel:+380987653498").client-card__phone +380987653498
      //-     .client-card__btn-and-icon
      //-       button(type="button" data-additional-toggle).toggle-btn.client-card__additional-toggle-btn Додатково
      //-       button(type="button" data-additional-toggle).icon-info
      //-     //- .client-card__id-and-comment.hidden-xxs
      //-     //-   .client-card__id ID: 5233479
      //-     //-   .client-card__comment Якийсь невеликий коментар
      //-   .client-card__body
      //-     .client-card__additional
      //-       .client-card__additional-label Додаткова інформація:
      //-       a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-smPlus Скопіювати додаткову інформацію
      //-         .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
      //-       .client-card__additional-text
      //-         p Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином.
      //-       .client-card__additional-footer
      //-         .client-card__additional-footer-left
      //-           .client-card__additional-item ID бронювання: #[span.semibold 232311]
      //-           .client-card__additional-item Час та дата бронювання: #[span.semibold 20:15 23.04.2023]
      //-         .client-card__additional-footer-right
      //-           a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-xs Скопіювати інформацію
      //-             .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
      //-     .client-card__specifications.client-card__specifications--recruitment
      //-       .specification.client-card__specification
      //-         .specification__title Бронь
      //-         .specification__value 5 січ 2023
      //-       .specification.client-card__specification
      //-         .specification__title Виїзд
      //-         .specification__value 28 січ 2023
      //-       .specification.client-card__specification
      //-         .specification__title Підприємство
      //-         .specification__value.specification__value--company LG Electronics
      //-       .specification.client-card__specification
      //-         .specification__title Вакансія
      //-         .specification__value.specification__value--vacancy Склад фабрики з пошиття робочого одягу
      //-       .specification.client-card__specification
      //-         .specification__title Роботодавець
      //-         .specification__value Ворк Профi
      //-       .specification.client-card__specification
      //-         .specification__title Винагорода
      //-         .specification__value 500 зл
      //-     button(type="button" data-src="#client-status-popup3" data-slug="client-status-popup3").client-status.client-status--beige-bg.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Відпрацював
      //-     .fancybox-popup#client-status-popup3(style="display: none;")
      //-       h3.fancybox-popup__title Статус
      //-       .fancybox-popup__client-info
      //-         .fancybox-popup__client-name Теребей Наталiя Iванiвна
      //-         a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
      //-       .status-line.status-line--beige-bg.status-line--vertical.fancybox-popup__status-line
      //-         .status-line__line
      //-           .status-line__line-fill(style="height: 86%")
      //-         .status-line__items
      //-           .status-line__item.status-line__item--payment
      //-             .status-line__item-text Виплата
      //-           .status-line__item.status-line__item--highlighted.status-line__item--worked-out
      //-             .status-line__item-text Відпрацював
      //-           .status-line__item.status-line__item--highlighted.status-line__item--working
      //-             .status-line__item-text Працює
      //-           .status-line__item.status-line__item--highlighted.status-line__item--paperwork
      //-             .status-line__item-text Оформлення
      //-           .status-line__item.status-line__item--highlighted.status-line__item--left
      //-             .status-line__item-text Виїхав
      //-           .status-line__item.status-line__item--highlighted.status-line__item--booked
      //-             .status-line__item-text Заброньований
      //-     .status-line.status-line--beige-bg.client-card__status-line.hidden-xs
      //-       .status-line__line
      //-         .status-line__line-fill(style="width: 86%")
      //-       .status-line__items
      //-         .status-line__item.status-line__item--highlighted.status-line__item--booked
      //-           .status-line__item-text Заброньований
      //-         .status-line__item.status-line__item--highlighted.status-line__item--left
      //-           .status-line__item-text Виїхав
      //-         .status-line__item.status-line__item--highlighted.status-line__item--paperwork
      //-           .status-line__item-text Оформлення
      //-         .status-line__item.status-line__item--highlighted.status-line__item--working
      //-           .status-line__item-text Працює
      //-         .status-line__item.status-line__item--highlighted.status-line__item--worked-out
      //-           .status-line__item-text Відпрацював
      //-         .status-line__item.status-line__item--highlighted.status-line__item--payment
      //-           .status-line__item-text Виплата
      //- .client-card.client-card--green-bg.client-cards__item
      //-   .client-card__header
      //-     .client-card__name-and-phone
      //-       .client-card__name Теребей Наталiя
      //-       a(href="tel:+380987653498").client-card__phone +380987653498
      //-     .client-card__btn-and-icon
      //-       button(type="button" data-additional-toggle).toggle-btn.client-card__additional-toggle-btn Додатково
      //-       button(type="button" data-additional-toggle).icon-info
      //-     //- .client-card__id-and-comment.hidden-xxs
      //-     //-   .client-card__id ID: 5233479
      //-     //-   .client-card__comment Якийсь невеликий коментар
      //-   .client-card__body
      //-     .client-card__additional
      //-       .client-card__additional-label Додаткова інформація:
      //-       a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-smPlus Скопіювати додаткову інформацію
      //-         .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
      //-       .client-card__additional-text
      //-         p Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином. Клієнт їде з малолітнім сином.
      //-       .client-card__additional-footer
      //-         .client-card__additional-footer-left
      //-           .client-card__additional-item ID бронювання: #[span.semibold 232311]
      //-           .client-card__additional-item Час та дата бронювання: #[span.semibold 20:15 23.04.2023]
      //-         .client-card__additional-footer-right
      //-           a(href="#" data-additional-item-copy).client-card__additional-item.client-card__additional-item--copy.hidden-xs Скопіювати інформацію
      //-             .tooltip.tooltip--copied.client-card__additional-item-tooltip Скопійовано!
      //-     .client-card__specifications.client-card__specifications--recruitment
      //-       .specification.client-card__specification
      //-         .specification__title Бронь
      //-         .specification__value 5 січ 2023
      //-       .specification.client-card__specification
      //-         .specification__title Виїзд
      //-         .specification__value 28 січ 2023
      //-       .specification.client-card__specification
      //-         .specification__title Підприємство
      //-         .specification__value.specification__value--company LG Electronics
      //-       .specification.client-card__specification
      //-         .specification__title Вакансія
      //-         .specification__value.specification__value--vacancy Склад фабрики з пошиття робочого одягу
      //-       .specification.client-card__specification
      //-         .specification__title Роботодавець
      //-         .specification__value Ворк Профi
      //-       .specification.client-card__specification
      //-         .specification__title Винагорода
      //-         .specification__value 500 зл
      //-     button(type="button" data-src="#client-status-popup4" data-slug="client-status-popup4").client-status.client-status--green-bg.client-card__status-btn.fancybox-popup-toggle.hidden-smPlus Виплата
      //-     .fancybox-popup#client-status-popup4(style="display: none;")
      //-       h3.fancybox-popup__title Статус
      //-       .fancybox-popup__client-info
      //-         .fancybox-popup__client-name Теребей Наталiя Iванiвна
      //-         a(href="tel:+380987653498").fancybox-popup__client-phone +380987653498
      //-       .status-line.status-line--green-bg.status-line--vertical.fancybox-popup__status-line
      //-         .status-line__line
      //-           .status-line__line-fill(style="height: 100%")
      //-         .status-line__items
      //-           .status-line__item.status-line__item--payment
      //-             .status-line__item-text Виплата
      //-           .status-line__item.status-line__item--highlighted.status-line__item--worked-out
      //-             .status-line__item-text Відпрацював
      //-           .status-line__item.status-line__item--highlighted.status-line__item--working
      //-             .status-line__item-text Працює
      //-           .status-line__item.status-line__item--highlighted.status-line__item--paperwork
      //-             .status-line__item-text Оформлення
      //-           .status-line__item.status-line__item--highlighted.status-line__item--left
      //-             .status-line__item-text Виїхав
      //-           .status-line__item.status-line__item--highlighted.status-line__item--booked
      //-             .status-line__item-text Заброньований
      //-     .status-line.status-line--green-bg.client-card__status-line.hidden-xs
      //-       .status-line__line
      //-         .status-line__line-fill(style="width: 100%")
      //-       .status-line__items
      //-         .status-line__item.status-line__item--highlighted.status-line__item--booked
      //-           .status-line__item-text Заброньований
      //-         .status-line__item.status-line__item--highlighted.status-line__item--left
      //-           .status-line__item-text Виїхав
      //-         .status-line__item.status-line__item--highlighted.status-line__item--paperwork
      //-           .status-line__item-text Оформлення
      //-         .status-line__item.status-line__item--highlighted.status-line__item--working
      //-           .status-line__item-text Працює
      //-         .status-line__item.status-line__item--highlighted.status-line__item--worked-out
      //-           .status-line__item-text Відпрацював
      //-         .status-line__item.status-line__item--highlighted.status-line__item--payment
      //-           .status-line__item-text Виплата
  script(src="/js/recruitment.js")