extends layouts/base_recruitment_landing

block content
  .mainpage.mainpage--recruitment-landing
    .hero-section.hero-section--recruitment-landing.mainpage__hero-section.mainpage__hero-section--recruitment-landing
      .container.hero-section__container
        .hero-section__text-wrapper
          h1.section-title.section-title--recruitment-landing.section-title--left.section-title--hero-section.hero-section__title #[span.section-title__large-text Нейромережа для сфери] працевлаштування з оплатою за кандидата
          //- .section-text.section-text--left.hero-section__text
          //-   p Працевлаштовуйте на легальні вакансії та отримуйте щедру винагороду або замовляйте документи з гарантією та отримуйте приємний кешбек!
          //- .hero-section__btn-wrapper
          //-   a(href="/vacancies.html").btn-default.hero-section__btn Переглянути вакансії
        //- <a href="/video/homepage/1wf.mp4" class="video-wrapper hero-section__video-wrapper" data-fancybox>
        //-   <video class="video-wrapper__video" autoplay muted loop playsinline>
        //-     <source src="/video/homepage/1short.mp4" type="video/mp4">
        //-   </video>
        //- </a>
        //- .hero-section__img-wrapper
        //-   a(href="https://www.youtube.com/watch?v=eR5vsN1Lq4E" data-fancybox)
        //-     img(src="/img/contact_section_img_new.png" alt="Залишились запитання?").hero-section__img
    .recruitment-section.mainpage__recruitment-section
      .container
        .recruitment-section__wrapper
          .recruitment-section__text-wrapper
          h2.section-title.recruitment-section__title Рекрутерам
          h3.recruitment-section__subtitle Що означає бути рекрутером та як все працює
          .section-text.section-text--recruitment-landing.recruitment-section__main-text
            p Для того, щоб бути рекрутером - достатньо просто бажання та трішки вільного часу! Знання та досвід - мінімальні!
          .section-text.section-text--recruitment-landing.recruitment-section__additional-text
            p Переконайтесь самі, наскільки це просто і прибутково, переглянувши коротке відео!
          .recruitment-section__video-wrapper
            <a href="/video/homepage/1wf.mp4" class="video-wrapper hero-section__video-wrapper" data-fancybox>
              <video class="video-wrapper__video" autoplay muted loop playsinline>
                <source src="/video/homepage/1short.mp4" type="video/mp4">
              </video>
            </a>
    .people-section.mainpage__people-section
      .container.container--large.people-section__container
        h2.section-title.people-section__title Рекрутери про WORKIUM
        .section-text.people-section__text
          p Думаєте чи варто спробувати? Варто!
        .people-swiper-container.people-section__swiper-container
          .people-swiper.swiper
            .swiper-wrapper
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/7.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/7.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Максим
                      .person__position Рекрутер
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/3.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/3.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Юлія
                      .person__position Працівник-рекрутер
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/2.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/2.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Віктор
                      .person__position Партнер
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/1.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/1.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Ліна
                      .person__position Рекрутер
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/4.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/6.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Ліля
                      .person__position Рекрутер
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/5.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/4.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Олексій
                      .person__position Рекрутер
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/8.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/8.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Марія
                      .person__position Рекрутер
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/6.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/5.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Арсеній
                      .person__position Рекрутер
                    span.play-icon.person__icon
              .swiper-slide.people-swiper__slide
                a(href="/video/reviews/9.mp4" data-fancybox="video-reviews").person.people-swiper__person
                  .video-box.video-box--person.person__video-box
                    video(autoplay muted loop playsinline).video-box__video
                      source(src="/video/reviews/previews/9.mp4" type="video/mp4")
                  .person__info
                    .person__text-wrapper
                      .person__name Юлія
                      .person__position Партнер
                    span.play-icon.person__icon
          button(type="button").swiper-btn.swiper-btn--prev.people-swiper-container__prev.hidden-xs
          button(type="button").swiper-btn.swiper-btn--next.people-swiper-container__next.hidden-xs
        .people-section__bottom
          a(href="#authorization-popup").btn-default.fancybox-popup-toggle Переглянути вакансії
    .statistics-section.mainpage__statistics-section
      .container.statistics-section__container
        h2.section-title.statistics-section__title WORKIUM в цифрах
        .section-text.statistics-section__text
          p За нас говорять наші досягнення
      .statistics-section__items
        .container.statistics-section__items-container
          .statistic.statistics-section__item
            h3.statistic__title 15000+
            .statistic__text
              p Рекрутерів з України, Польщі, Чехії та інших країн
          .statistic.statistics-section__item
            h3.statistic__title 27,4 млн zł
            .statistic__text
              p Вже отримали рекрутери від системи WORKIUM. Виплати відбуваються кожну годину
          .statistic.statistics-section__item
            h3.statistic__title ~147%
            .statistic__text
              p Настільки винагорода за кандидата у WORKIUM вища, ніж при співпраці напряму
      .statistics-section__bottom
        a(href="#authorization-popup").btn-default.fancybox-popup-toggle Почати заробляти
  script(src="/js/index.js")