extends layouts/user_profile

block content
  .page
    h1.page-title.page__title Збереження
    .page__content
      .page__content-inner
        .page__text-wrapper
          .page__img-wrapper
            img(src="/img/save.jpg" alt="Збереження").page__img
          h2.page__text-subtitle Збереження - зручний розділ, в який потрапляють ті вакансії, публікації, коментарі та інші елементи, які ви відзначили.
          p.text-center У вас ще немає збережених елементів. Додайтесь щось прямо зараз!
          p.text-center Для цього біля потрібного вам елемента натисніть на іконку додавання в «збережені»: #[img(src="/img/bookmark.svg" alt="").page__bookmark-icon]
          p.text-center Кількість збережених елементів - необмежена!