extends layouts/user_profile

block content
  .affiliate-page
    .affiliate-page__content-wrapper
      .affiliate-page__header
        h1.page-title.affiliate-page__title Список активних груп у FaceBook
      .affiliate-page__content
        p Команда нейромережі WORKIUM відібрала для нас найактивніші та найбільші групи в соціальній мережі Facebook, #[br]щоб ви максимально просто та швидко отримали свій перший дохід і постійно його збільшували!
        h2 Перелік груп у FaceBook
        .social-groups
          .social-groups__items.social-groups__items--justify-start
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link ЧОРНИЙ СПИСОК ПРОДАВЦІВ
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список шахраїв(продавців,покупців) фейсбука та Украіни
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорна Мітка. Шахраї. Список аfеристів в мережі . РЕЗЕРВНА ГРУПА.
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Черный список сотрудников. Черный список работников
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Совет другу в Польше/Порада другу в Польщі
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список України Аферисти Недобросовісні покупці/клієнти
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link ЧОРНИЙ СПИСОК ПРОДАВЦІВ
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список шахраїв(продавців,покупців) фейсбука та Украіни
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорна Мітка. Шахраї. Список аfеристів в мережі . РЕЗЕРВНА ГРУПА.
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Черный список сотрудников. Черный список работников
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Совет другу в Польше/Порада другу в Польщі
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список України Аферисти Недобросовісні покупці/клієнти
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link ЧОРНИЙ СПИСОК ПРОДАВЦІВ
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список шахраїв(продавців,покупців) фейсбука та Украіни
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорна Мітка. Шахраї. Список аfеристів в мережі . РЕЗЕРВНА ГРУПА.
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Черный список сотрудников. Черный список работников
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Совет другу в Польше/Порада другу в Польщі
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список України Аферисти Недобросовісні покупці/клієнти
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link ЧОРНИЙ СПИСОК ПРОДАВЦІВ
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список шахраїв(продавців,покупців) фейсбука та Украіни
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорна Мітка. Шахраї. Список аfеристів в мережі . РЕЗЕРВНА ГРУПА.
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Черный список сотрудников. Черный список работников
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Совет другу в Польше/Порада другу в Польщі
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список України Аферисти Недобросовісні покупці/клієнти
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link ЧОРНИЙ СПИСОК ПРОДАВЦІВ
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список шахраїв(продавців,покупців) фейсбука та Украіни
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорна Мітка. Шахраї. Список аfеристів в мережі . РЕЗЕРВНА ГРУПА.
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Черный список сотрудников. Черный список работников
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Совет другу в Польше/Порада другу в Польщі
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список України Аферисти Недобросовісні покупці/клієнти
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link ЧОРНИЙ СПИСОК ПРОДАВЦІВ
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список шахраїв(продавців,покупців) фейсбука та Украіни
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорна Мітка. Шахраї. Список аfеристів в мережі . РЕЗЕРВНА ГРУПА.
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Черный список сотрудников. Черный список работников
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Совет другу в Польше/Порада другу в Польщі
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список України Аферисти Недобросовісні покупці/клієнти
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link ЧОРНИЙ СПИСОК ПРОДАВЦІВ
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список шахраїв(продавців,покупців) фейсбука та Украіни
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорна Мітка. Шахраї. Список аfеристів в мережі . РЕЗЕРВНА ГРУПА.
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Черный список сотрудников. Черный список работников
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Совет другу в Польше/Порада другу в Польщі
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список України Аферисти Недобросовісні покупці/клієнти
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link ЧОРНИЙ СПИСОК ПРОДАВЦІВ
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список шахраїв(продавців,покупців) фейсбука та Украіни
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорна Мітка. Шахраї. Список аfеристів в мережі . РЕЗЕРВНА ГРУПА.
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Черный список сотрудников. Черный список работников
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Совет другу в Польше/Порада другу в Польщі
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
            .fb-group.fb-group--justify-start.social-groups__item
              a(href="https://www.facebook.com/groups/209206389413491/" target="_blank").fb-group__link Чорний список України Аферисти Недобросовісні покупці/клієнти
              button(type="button").copy-btn.copy-btn--small.copy-btn--grey.fb-group__copy-btn
              .tooltip.tooltip--copied.tooltip--grey-bg.fb-group__tooltip Скопійовано!
  script(src="/js/affiliate.js")