extends layouts/user_profile

block content
  .page.page--success-verification
    h1.page-title.page__title Верифікація
    .page__content
      .page__text-wrapper
        .page__img-wrapper
          img(src="/img/success_verification.png" alt="Верифікація").page__img
        p.text-center Вітаємо! Ви успішно пройшли верифікацію вашого особистого профілю. Тепер скрізь поруч з вашим іменем відображається спеціальний значок #[img(src="/img/checkmark_ok_success_icon.svg" alt="" width="30" style="vertical-align: top;")], що вказує на те, що ви успішно підтвердили свою особистість.
        p.text-center Також, відтепер весь новий рейтинг, який ви отримаєте (він використовуватиметься для підвищення важливості ваших коментарів та будь-яких інших дій в нейромережі WORKIUM) - автоматично буде збільшуватись на +50%.