extends layouts/user_profile

block vars
  - userProfileClasses = 'user-profile--vacancies';

block content
  .vacancies
    h1.page-title.vacancies__title Вакансії
    .vacancy-cards
      .vacancy-card.vacancy-cards__item
        .vacancy-card__header
          .vacancy-info.vacancy-card__info
            .vacancy-info__logo
              img(src="/img/lg_electronics.svg" alt="LG Electronics").vacancy-info__logo-img
            .vacancy-info__top
              .vacancy-info__company-name LG Electronics
              .tag.vacancy-info__category Автозавод
              a(href="#" data-bookmark).bookmark-icon.vacancy-info__bookmark-icon
            .vacancy-info__specialization Виготовлення електроніки та різних складових
          .vacancy-card__rating-and-address
            .rating
              .rating__wrapper
                .rating__mark 8.8
                .rating__total 10
              .rating__label (198 відгуків)
            .vacancy-card__address Poland, Gorzów Wielkopolski, Złotego Smoka 9, 66-400
        h2.vacancy-card__title Оператор на виробництво електроніки
        .vacancy-card__specifications
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за годину
            .specification__value 18 – 20 zl / год
          .specification.specification--large.vacancy-card__specification
            .specification__title Відпрацювання
            .specification__value 500 – 800 zl
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за міс
            .specification__value 3500 – 4900 zl / міс
          .specification.specification--large.vacancy-card__specification
            .specification__title Термін
            .specification__value 30 днів
          .specification.vacancy-card__specification.vacancy-card__specification--responsibilities
            .specification__title Обов'язки 
            .specification__value
              p Комплектація замовлень Комплектація замовлень Комплектація замовлень Комплектація замовлень за допомогою сканера та електровузика пакування товару в коробки, палетування а інші
        .vacancy-card__promo-blocks
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
              h3.promo-block__title White Work Company
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
              h3.promo-block__title T&T People and Work
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
              h3.promo-block__title Dream Pol
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
      .vacancy-card.vacancy-cards__item
        .vacancy-card__header
          .vacancy-info.vacancy-card__info
            .vacancy-info__logo
              img(src="/img/lg_electronics.svg" alt="LG Electronics").vacancy-info__logo-img
            .vacancy-info__top
              .vacancy-info__company-name LG Electronics
              .tag.vacancy-info__category Автозавод
              a(href="#" data-bookmark).bookmark-icon.vacancy-info__bookmark-icon
            .vacancy-info__specialization Виготовлення електроніки та різних складових
          .vacancy-card__rating-and-address
            .rating
              .rating__wrapper
                .rating__mark 8.8
                .rating__total 10
              .rating__label (198 відгуків)
            .vacancy-card__address Poland, Gorzów Wielkopolski, Złotego Smoka 9, 66-400
        h2.vacancy-card__title Оператор на виробництво електроніки
        .vacancy-card__specifications
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за годину
            .specification__value 18 – 20 zl / год
          .specification.specification--large.vacancy-card__specification
            .specification__title Відпрацювання
            .specification__value 500 – 800 zl
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за міс
            .specification__value 3500 – 4900 zl / міс
          .specification.specification--large.vacancy-card__specification
            .specification__title Термін
            .specification__value 30 днів
          .specification.vacancy-card__specification.vacancy-card__specification--responsibilities
            .specification__title Обов'язки 
            .specification__value
              p Комплектація замовлень Комплектація замовлень Комплектація замовлень Комплектація замовлень за допомогою сканера та електровузика пакування товару в коробки, палетування а інші
        .vacancy-card__promo-blocks
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
              h3.promo-block__title White Work Company
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
              h3.promo-block__title T&T People and Work
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
              h3.promo-block__title Dream Pol
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
      .vacancy-card.vacancy-cards__item
        .vacancy-card__header
          .vacancy-info.vacancy-card__info
            .vacancy-info__logo
              img(src="/img/lg_electronics.svg" alt="LG Electronics").vacancy-info__logo-img
            .vacancy-info__top
              .vacancy-info__company-name LG Electronics
              .tag.vacancy-info__category Автозавод
              a(href="#" data-bookmark).bookmark-icon.vacancy-info__bookmark-icon
            .vacancy-info__specialization Виготовлення електроніки та різних складових
          .vacancy-card__rating-and-address
            .rating
              .rating__wrapper
                .rating__mark 8.8
                .rating__total 10
              .rating__label (198 відгуків)
            .vacancy-card__address Poland, Gorzów Wielkopolski, Złotego Smoka 9, 66-400
        h2.vacancy-card__title Оператор на виробництво електроніки
        .vacancy-card__specifications
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за годину
            .specification__value 18 – 20 zl / год
          .specification.specification--large.vacancy-card__specification
            .specification__title Відпрацювання
            .specification__value 500 – 800 zl
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за міс
            .specification__value 3500 – 4900 zl / міс
          .specification.specification--large.vacancy-card__specification
            .specification__title Термін
            .specification__value 30 днів
          .specification.vacancy-card__specification.vacancy-card__specification--responsibilities
            .specification__title Обов'язки 
            .specification__value
              p Комплектація замовлень Комплектація замовлень Комплектація замовлень Комплектація замовлень за допомогою сканера та електровузика пакування товару в коробки, палетування а інші
        .vacancy-card__promo-blocks
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
              h3.promo-block__title White Work Company
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
              h3.promo-block__title T&T People and Work
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
          .promo-block.vacancy-card__promo-block
            .promo-block__header
              .promo-block__logo
                img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
              h3.promo-block__title Dream Pol
            .characteristics.promo-block__characteristics
              .characteristic.characteristic--sex.characteristics__item
                .characteristic__value Чоловіки, жінки, сімейні пари
              .characteristic.characteristic--age.characteristics__item
                .characteristic__value до 55 років
              .characteristic.characteristic--schedule.characteristics__item
                .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              .characteristic.characteristic--house.characteristics__item
                .characteristic__value Безкоштовне, 300 зл/міс комуналь
            .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
            .promo-block__footer
              a(href="#").more-link.more-link--full-width.promo-block__more-link Детальніше
  script(src="/js/recruitment.js")