extends layouts/vacancy

block vars
  - userProfileClasses = 'user-profile--vacancies';

block content
  .vacancy-page
    .breadcrumbs.vacancy-page__breadcrumbs.hidden-xs
      ul.breadcrumbs__list
        li.breadcrumbs__item.breadcrumbs__item--back
          a(href="/vacancies.html").breadcrumbs__link.breadcrumbs__link--back Вакансії
        li.breadcrumbs__item
          span.breadcrumbs__text Виробничий спеціаліст з шумоізоляціонних
    .vacancy-card.vacancy-card--full.vacancy-page__vacancy-card
      .vacancy-card__header
        .vacancy-info.vacancy-info--full.vacancy-card__info
          .vacancy-info__logo
            img(src="/img/lg_electronics.svg" alt="LG Electronics").vacancy-info__logo-img
          .vacancy-info__top
            .vacancy-info__company-name LG Electronics
            .tag.tag--vacancy-full.vacancy-info__category.hidden-xs Автозавод
            a(href="#" data-bookmark).bookmark-icon.vacancy-info__bookmark-icon
          .vacancy-info__specialization Виготовлення електроніки та різних складових
        .vacancy-card__rating-and-address
          .rating.hidden-xs
            .rating__wrapper
              .rating__mark 8.8
              .rating__total 10
            .rating__label (198 відгуків)
          .vacancy-card__address Poland, Gorzów Wielkopolski, Złotego Smoka 9, 66-400
      .vacancy-card__wrapper
        h2.vacancy-card__title Оператор на виробництво електроніки
        .vacancy-card__specifications
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за годину
            .specification__value 18 – 20 zl / год
          .specification.specification--large.vacancy-card__specification
            .specification__title Винагорода
            .specification__value 500 – 800 zl
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за міс
            .specification__value 3500 – 4900 zl / міс
          .specification.specification--large.vacancy-card__specification
            .specification__title Відпрацювання
            .specification__value 30 днів
          .specification.vacancy-card__specification.vacancy-card__specification--responsibilities
            .specification__title Обов'язки 
            .specification__value
              p Комплектація замовлень Комплектація замовлень Комплектація замовлень Комплектація замовлень за допомогою сканера та електровузика пакування товару в коробки, палетування а інші
        .vacancy-images-swiper.vacancy-card__swiper
          h3.vacancy-images-swiper__title Фотографії з місця роботи
          .swiper.vacancy-images-swiper__swiper
            .swiper-wrapper
              .swiper-slide
                a(href="/img/vacancy/1.jpg" data-fancybox="swiper-gallery")
                  .proportional-image(style="background-image: url('/img/vacancy/1.jpg')")
              .swiper-slide
                a(href="/img/vacancy/2.jpg" data-fancybox="swiper-gallery")
                  .proportional-image(style="background-image: url('/img/vacancy/2.jpg')")
              .swiper-slide
                a(href="/img/vacancy/3.jpg" data-fancybox="swiper-gallery")
                  .proportional-image(style="background-image: url('/img/vacancy/3.jpg')")
              .swiper-slide
                a(href="/img/vacancy/4.jpg" data-fancybox="swiper-gallery")
                  .proportional-image(style="background-image: url('/img/vacancy/4.jpg')")
              .swiper-slide
                a(href="/img/vacancy/5.jpg" data-fancybox="swiper-gallery")
                  .proportional-image(style="background-image: url('/img/vacancy/5.jpg')")
              .swiper-slide
                a(href="/img/vacancy/6.jpg" data-fancybox="swiper-gallery")
                  .proportional-image(style="background-image: url('/img/vacancy/6.jpg')")
            button.swiper-btn.swiper-btn--white.swiper-btn--prev.vacancy-images-swiper__prev
            button.swiper-btn.swiper-btn--white.swiper-btn--next.vacancy-images-swiper__next
        .promo-blocks.vacancy-card__promo-blocks
          h3.promo-blocks__title Агенції, які працевлаштовують на дану вакансію
          .promo-blocks-swiper.swiper.hidden-smPlus
            .swiper-wrapper
              .swiper-slide.promo-blocks-swiper__slide
                a(href="#").promo-block
                  .promo-block__company
                    .promo-block__logo
                      img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
                    h3.promo-block__title White Work Company
                  .characteristics.promo-block__characteristics
                    .characteristic.characteristic--sex.characteristics__item
                      .characteristic__value Чоловіки, жінки, сімейні пари
                    .characteristic.characteristic--age.characteristics__item
                      .characteristic__value до 55 років
                    .characteristic.characteristic--schedule.characteristics__item
                      .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                    .characteristic.characteristic--house.characteristics__item
                      .characteristic__value Безкоштовне, 300 зл/міс комуналь
                  .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                  .promo-block__footer
                    .more-link.more-link--full-width.promo-block__more-link Детальніше
              //- .swiper-slide.promo-blocks-swiper__slide
              //-   a(href="#").promo-block
              //-     .promo-block__company
              //-       .promo-block__logo
              //-         img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
              //-       h3.promo-block__title T&T People and Work
              //-     .characteristics.promo-block__characteristics
              //-       .characteristic.characteristic--sex.characteristics__item
              //-         .characteristic__value Чоловіки, жінки, сімейні пари
              //-       .characteristic.characteristic--age.characteristics__item
              //-         .characteristic__value до 55 років
              //-       .characteristic.characteristic--schedule.characteristics__item
              //-         .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              //-       .characteristic.characteristic--house.characteristics__item
              //-         .characteristic__value Безкоштовне, 300 зл/міс комуналь
              //-     .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              //-     .promo-block__footer
              //-       .more-link.more-link--full-width.promo-block__more-link Детальніше
              //- .swiper-slide.promo-blocks-swiper__slide
              //-   a(href="#").promo-block
              //-     .promo-block__company
              //-       .promo-block__logo
              //-         img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
              //-       h3.promo-block__title Dream Pol
              //-     .characteristics.promo-block__characteristics
              //-       .characteristic.characteristic--sex.characteristics__item
              //-         .characteristic__value Чоловіки, жінки, сімейні пари
              //-       .characteristic.characteristic--age.characteristics__item
              //-         .characteristic__value до 55 років
              //-       .characteristic.characteristic--schedule.characteristics__item
              //-         .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              //-       .characteristic.characteristic--house.characteristics__item
              //-         .characteristic__value Безкоштовне, 300 зл/міс комуналь
              //-     .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              //-     .promo-block__footer
              //-       .more-link.more-link--full-width.promo-block__more-link Детальніше
            .swiper-pagination.promo-blocks-swiper__pagination
          .promo-blocks__items.hidden-xs
            .promo-block.promo-block--active.promo-blocks__item
              .promo-block__company
                .promo-block__logo
                  img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
                h3.promo-block__title White Work Company
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .promo-block__label Обрано
            a(href="#").promo-block.promo-blocks__item
              .promo-block__company
                .promo-block__logo
                  img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
                h3.promo-block__title T&T People and Work
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
            a(href="#").promo-block.promo-blocks__item
              .promo-block__company
                .promo-block__logo
                  img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
                h3.promo-block__title Dream Pol
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
        .notice.notice--with-icon.vacancy-card__notice
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        .vacancy-card__text-wrapper
          h2.vacancy-card__title Комплектувальник на продуктовий склад Eurocash
          .vacancy-card__text
            <p><strong>Назва: </strong>Співробітник оптового складу продуктів&nbsp;</p>

            <p><strong>Кандидати: </strong>чоловіки, жінки та пари у віці до 40 р<strong>.</strong></p>

            <p><strong>Місто праці: </strong>BIALYSTOK (Білосток).</p>

            <p><strong>Місто оформлення: </strong>Сохачев (Sochaczew).</p>

            <p><strong>Зарплата: </strong>від 23,50- 41,22 зл/год брутто (приблизно від 17,63 - 30,92 нетто). Робота на акорд!</p>

            <p><strong>Графік роботи: </strong>8-12 годин залежно від кількості замовлень, в місяць близько 220-250 год/міс. Є денні та нічні зміни.</p>

            <p><strong>Обов’язки:</strong></p>

            <p>-збір товарів з полиць на палету;</p>

            <p>-пакування товару у картонні коробки та обклеювання товарів;</p>

            <p>-робота на електричному вузку і з рохлею;</p>

            <p>-дотримання чистоти на місці роботи<strong>.</strong></p>

            <p><strong>Проживання: </strong>проживання у приватних будинках, повністю обладнаних. Вартість 430 зл.</p>

            <p><strong>Трудовий договір: </strong>umowa zlecenia.</p>

            <p><strong>Додаткова інформація:</strong></p>

            <p>-робота в теплому залі;</p>

            <p>-медогляд за рахунок роботодавця;</p>

            <p>-навчання перед роботою;</p>

            <p>-доїзд до роботи за рахунок роботодавця;</p>

            <p>-робочий одяг надається;</p>

            <p>-потрібно мати постіль та особистий посуд;</p>

            <p>-мінімальний термін відпрацювання 6 міс.</p>

            <p><strong>Переваги: </strong>робота в теплому залі, медогляд та транспорт до роботи за рахунок роботодавця, робочий одяг надається.</p>

            <p><strong>Документи: </strong>безвіз, віза, карта побиту та інші документи за узгодженням.</p>
        .vacancy-card__btn-wrapper.hidden-xs.hidden
          a(href="#book-vacancy-popup").fancybox-wide-popup-toggle.btn-default.btn-default--arrow Безкоштовно забронювати вакансію
        .vacancy-card__btns.hidden-xs
          ul.vacancy-card__btns-list
            li.vacancy-card__btns-item
              a(href="#book-vacancy-popup").fancybox-wide-popup-toggle.btn-default.btn-default--vacancy Безкоштовно забронювати та отримати #[strong 500 zł]
            li.vacancy-card__btns-item
              a(href="#").btn-white.btn-white--copy.vacancy-card__copy-btn Копіювати вакансію
    .vacancy-page__infoblocks
      .infoblock.vacancy-page__infoblock
        .infoblock__img-wrapper
          img(src="/img/smart_work.png" alt="").infoblock__img
        .infoblock__text-wrapper
          h3.infoblock__title Зв'язок з роботодавцем
          .infoblock__text.infoblock__text--truncated
            p Залишились запитання стосовно роботи на вакансії #[strong Оператор Процесів]? Зв'яжіться з роботодавцем #[strong Smart Work], який працевлаштовує на цю вакансію, та дізнайтесь всі деталі напряму, без обману та посередників. Пам'ятайте, що для отримання винагороди - ви обов'язково повинні бути працевлаштованими через WORKIUM.
          a(href="#employment-smart-work-popup").fancybox-wide-popup-toggle.btn-grey.btn-grey--infoblock.infoblock__btn Зв'язатись з Smart Work
          .infoblock__more-link-wrapper
            a(href="#").toggle-link.toggle-link--infoblock.infoblock__more-link.hidden-smPlus Детальніше
      .infoblock.vacancy-page__infoblock
        .infoblock__img-wrapper
          img(src="/img/agency_fee_wallet.png" alt="").infoblock__img
        .infoblock__text-wrapper
          h3.infoblock__title Ви заробляєте більше на 150 zł
          .infoblock__text.infoblock__text--truncated
            p Винагорода агенції #[strong Fast Service] по даній вакансії становить #[strong 0 - 0 zł.] Винагорода від #[strong WORKIUM] по цій же вакансій становить #[strong 450 zł.]
            p Тобто, за наявності ліцензії, зовнішньо-економічного договору та сплати податків ви можете спробувати працювати з роботодавцем напряму, проте обираючи працевлаштування через нейромережу WORKIUM - ви позбуваєтесь будь-яких складнощів та вимог, заробляєте більше на 150 zł і отримуєте кваліфіковану підтримку та захист, а також гарантію виплати коштів у розмірі 450 zł зручним для вас способом!
            p Тому, яку б ви вакансію не обрали, працевлаштовуватись через WORKIUM завжди буде простіше, безпечніше та значно вигідніше ніж при зверненні до підприємства або агенції напряму!
          .infoblock__more-link-wrapper
            a(href="#").toggle-link.toggle-link--infoblock.infoblock__more-link.hidden-smPlus Детальніше

  include ./includes/blocks/employment-smart-work-popup
  include ./includes/blocks/book-vacancy-popup
  script(src="/js/vacancy.js")