extends layouts/user_profile

block vars
  - userProfileClasses = 'user-profile--vacancies';

block content
  .vacancies
    .vacancies__header
      .vacancies__title-wrapper
        h1.page-title.vacancies__title Вакансії
        .vacancies__count 1762
      button(type="button" data-fancybox data-src="#add-employer-popup").btn-grey3.btn-grey3--small.fancybox-wide-popup-toggle Додати роботодавця
    include ./includes/blocks/filter
    .vacancy-cards.vacancies__cards
      .vacancy-card.vacancy-cards__item
        .vacancy-card__header
          .vacancy-info.vacancy-card__info
            .vacancy-info__logo
              img(src="/img/lg_electronics.svg" alt="LG Electronics").vacancy-info__logo-img
            .vacancy-info__top
              .vacancy-info__company-name LG Electronics Lorem ipsum dolor sit amet
              a(href="#").vacancy-card__address.vacancy-card__address--truncated.hidden-smPlus Poland, Gorzów Wielkopolski, Złotego Smoka 9, 66-400
              .tag.vacancy-info__category.hidden-xs Автозавод
              a(href="#" data-bookmark).bookmark-icon.vacancy-info__bookmark-icon
            .vacancy-info__tag-and-specialization
              .tag.vacancy-info__category.hidden-smPlus Автозавод
              .vacancy-info__specialization Виготовлення електроніки та різних складових
          .vacancy-card__rating-and-address
            //- .rating
            //-   .rating__wrapper
            //-     .rating__mark 8.8
            //-     .rating__total 10
            //-   .rating__label (198 відгуків)
            .vacancy-card__address.hidden-xs Poland, Gorzów Wielkopolski, Złotego Smoka 9, 66-400
        h2.vacancy-card__title Оператор на виробництво електроніки
        .vacancy-card__specifications
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за годину
            .specification__value 18 – 20 zl / год
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за міс
            .specification__value 3500 – 4900 zl / міс
          .specification.specification--large.vacancy-card__specification
            .specification__title Винагорода
            .specification__value 500 – 800 zl
            .tooltip.tooltip--extended.tooltip--extended-top.specification__tooltip
              .tooltip__text-wrapper
                .tooltip__text Сума, яку ви отримаєте на власний баланс відразу після відпрацювання вказаного терміну. Зарахування коштів відбувається автоматично та миттєво.
          .specification.specification--large.vacancy-card__specification
            .specification__title Відпрацювання
            .specification__value 30 днів
            .tooltip.tooltip--extended.tooltip--extended-top.specification__tooltip
              .tooltip__text-wrapper
                .tooltip__text Термін, який потрібно відпрацювати для того щоб отримати на свій баланс вказану винагороду. Після відпрацювання цього терміну ви можете залишитись на вибраній вакансії або змінити її на іншу - на зарахування коштів це ніяк не вплине.
          .specification.specification--responsibilities.vacancy-card__specification.vacancy-card__specification--responsibilities
            .specification__title Обов'язки 
            .specification__value
              p Комплектація замовлень Комплектація замовлень Комплектація замовлень Комплектація замовлень за допомогою сканера та електровузика пакування товару в коробки, палетування а інші
        .promo-blocks.vacancy-card__promo-blocks.hidden-smPlus
          .promo-blocks-swiper.swiper
            .swiper-wrapper
              .swiper-slide.promo-blocks-swiper__slide
                a(href="#").promo-block
                  .promo-block__company
                    .promo-block__logo
                      img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
                    h3.promo-block__title White Work Company
                  .characteristics.promo-block__characteristics
                    .characteristic.characteristic--sex.characteristics__item
                      .characteristic__value Чоловіки, жінки, сімейні пари
                    .characteristic.characteristic--age.characteristics__item
                      .characteristic__value до 55 років
                    .characteristic.characteristic--schedule.characteristics__item
                      .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                    .characteristic.characteristic--house.characteristics__item
                      .characteristic__value Безкоштовне, 300 зл/міс комуналь
                  .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                  .promo-block__footer
                    .more-link.more-link--full-width.promo-block__more-link Детальніше
              //- .swiper-slide.promo-blocks-swiper__slide
              //-   a(href="#").promo-block
              //-     .promo-block__company
              //-       .promo-block__logo
              //-         img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
              //-       h3.promo-block__title T&T People and Work
              //-     .characteristics.promo-block__characteristics
              //-       .characteristic.characteristic--sex.characteristics__item
              //-         .characteristic__value Чоловіки, жінки, сімейні пари
              //-       .characteristic.characteristic--age.characteristics__item
              //-         .characteristic__value до 55 років
              //-       .characteristic.characteristic--schedule.characteristics__item
              //-         .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              //-       .characteristic.characteristic--house.characteristics__item
              //-         .characteristic__value Безкоштовне, 300 зл/міс комуналь
              //-     .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              //-     .promo-block__footer
              //-       .more-link.more-link--full-width.promo-block__more-link Детальніше
              //- .swiper-slide.promo-blocks-swiper__slide
              //-   a(href="#").promo-block
              //-     .promo-block__company
              //-       .promo-block__logo
              //-         img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
              //-       h3.promo-block__title Dream Pol
              //-     .characteristics.promo-block__characteristics
              //-       .characteristic.characteristic--sex.characteristics__item
              //-         .characteristic__value Чоловіки, жінки, сімейні пари
              //-       .characteristic.characteristic--age.characteristics__item
              //-         .characteristic__value до 55 років
              //-       .characteristic.characteristic--schedule.characteristics__item
              //-         .characteristic__value Пн–Пт, 2 зміни по 8–12 год
              //-       .characteristic.characteristic--house.characteristics__item
              //-         .characteristic__value Безкоштовне, 300 зл/міс комуналь
              //-     .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              //-     .promo-block__footer
              //-       .more-link.more-link--full-width.promo-block__more-link Детальніше
            .swiper-pagination.promo-blocks-swiper__pagination
        .promo-blocks.vacancy-card__promo-blocks.hidden-xs
          .promo-blocks__items
            a(href="#").promo-block.promo-blocks__item
              .promo-block__header Працевлаштування напряму
              .promo-block__company
                .promo-block__logo
                  img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
                h3.promo-block__title White Work Company
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .promo-block__additional-info
                .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                .promo-block__working-period 30 днів відпрацювання
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
            a(href="#").promo-block.promo-blocks__item
              .promo-block__header Працевлаштування напряму
              .promo-block__company
                .promo-block__logo
                  img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
                h3.promo-block__title T&T People and Work
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .promo-block__additional-info
                .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                .promo-block__working-period 30 днів відпрацювання
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
            a(href="#").promo-block.promo-blocks__item
              .promo-block__header Працевлаштування напряму
              .promo-block__company
                .promo-block__logo
                  img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
                h3.promo-block__title Dream Pol
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
      .vacancy-card.vacancy-cards__item
        .vacancy-card__header
          .vacancy-info.vacancy-card__info
            .vacancy-info__logo
              img(src="/img/lg_electronics.svg" alt="LG Electronics").vacancy-info__logo-img
            .vacancy-info__top
              .vacancy-info__company-name LG Electronics
              .tag.vacancy-info__category Автозавод
              a(href="#" data-bookmark).bookmark-icon.vacancy-info__bookmark-icon
            .vacancy-info__specialization Виготовлення електроніки та різних складових
          .vacancy-card__rating-and-address
            //- .rating
            //-   .rating__wrapper
            //-     .rating__mark 8.8
            //-     .rating__total 10
            //-   .rating__label (198 відгуків)
            .vacancy-card__address Poland, Gorzów Wielkopolski, Złotego Smoka 9, 66-400
        h2.vacancy-card__title Оператор на виробництво електроніки
        .vacancy-card__specifications
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за годину
            .specification__value 18 – 20 zl / год
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за міс
            .specification__value 3500 – 4900 zl / міс
          .specification.specification--large.vacancy-card__specification
            .specification__title Винагорода
            .specification__value 500 – 800 zl
          .specification.specification--large.vacancy-card__specification
            .specification__title Відпрацювання
            .specification__value 30 днів
          .specification.specification--responsibilities.vacancy-card__specification.vacancy-card__specification--responsibilities
            .specification__title Обов'язки 
            .specification__value
              p Комплектація замовлень Комплектація замовлень Комплектація замовлень Комплектація замовлень за допомогою сканера та електровузика пакування товару в коробки, палетування а інші
        .promo-blocks.vacancy-card__promo-blocks.hidden-smPlus
          .promo-blocks-swiper.swiper
            .swiper-wrapper
              .swiper-slide.promo-blocks-swiper__slide
                a(href="#").promo-block
                  .promo-block__header Працевлаштування напряму
                  .promo-block__company
                    .promo-block__logo
                      img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
                    h3.promo-block__title White Work Company
                  .characteristics.promo-block__characteristics
                    .characteristic.characteristic--sex.characteristics__item
                      .characteristic__value Чоловіки, жінки, сімейні пари
                    .characteristic.characteristic--age.characteristics__item
                      .characteristic__value до 55 років
                    .characteristic.characteristic--schedule.characteristics__item
                      .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                    .characteristic.characteristic--house.characteristics__item
                      .characteristic__value Безкоштовне, 300 зл/міс комуналь
                  .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                  .promo-block__footer
                    .more-link.more-link--full-width.promo-block__more-link Детальніше
              .swiper-slide.promo-blocks-swiper__slide
                a(href="#").promo-block
                  .promo-block__header Працевлаштування напряму
                  .promo-block__company
                    .promo-block__logo
                      img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
                    h3.promo-block__title T&T People and Work
                  .characteristics.promo-block__characteristics
                    .characteristic.characteristic--sex.characteristics__item
                      .characteristic__value Чоловіки, жінки, сімейні пари
                    .characteristic.characteristic--age.characteristics__item
                      .characteristic__value до 55 років
                    .characteristic.characteristic--schedule.characteristics__item
                      .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                    .characteristic.characteristic--house.characteristics__item
                      .characteristic__value Безкоштовне, 300 зл/міс комуналь
                  .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                  .promo-block__footer
                    .more-link.more-link--full-width.promo-block__more-link Детальніше
              .swiper-slide.promo-blocks-swiper__slide
                a(href="#").promo-block
                  .promo-block__header Працевлаштування напряму
                  .promo-block__company
                    .promo-block__logo
                      img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
                    h3.promo-block__title Dream Pol
                  .characteristics.promo-block__characteristics
                    .characteristic.characteristic--sex.characteristics__item
                      .characteristic__value Чоловіки, жінки, сімейні пари
                    .characteristic.characteristic--age.characteristics__item
                      .characteristic__value до 55 років
                    .characteristic.characteristic--schedule.characteristics__item
                      .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                    .characteristic.characteristic--house.characteristics__item
                      .characteristic__value Безкоштовне, 300 зл/міс комуналь
                  .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                  .promo-block__footer
                    .more-link.more-link--full-width.promo-block__more-link Детальніше
            .swiper-pagination.promo-blocks-swiper__pagination
        .promo-blocks.vacancy-card__promo-blocks.hidden-xs
          .promo-blocks__items
            a(href="#").promo-block.promo-blocks__item
              .promo-block__header Працевлаштування напряму
              .promo-block__company
                .promo-block__logo
                  img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
                h3.promo-block__title White Work Company
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
            a(href="#").promo-block.promo-blocks__item
              .promo-block__header Працевлаштування напряму
              .promo-block__company
                .promo-block__logo
                  img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
                h3.promo-block__title T&T People and Work
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
            a(href="#").promo-block.promo-blocks__item
              .promo-block__company
                .promo-block__logo
                  img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
                h3.promo-block__title Dream Pol
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
      .vacancy-card.vacancy-cards__item
        .vacancy-card__header
          .vacancy-info.vacancy-card__info
            .vacancy-info__logo
              img(src="/img/lg_electronics.svg" alt="LG Electronics").vacancy-info__logo-img
            .vacancy-info__top
              .vacancy-info__company-name LG Electronics
              .tag.vacancy-info__category Автозавод
              a(href="#" data-bookmark).bookmark-icon.vacancy-info__bookmark-icon
            .vacancy-info__specialization Виготовлення електроніки та різних складових
          .vacancy-card__rating-and-address
            //- .rating
            //-   .rating__wrapper
            //-     .rating__mark 8.8
            //-     .rating__total 10
            //-   .rating__label (198 відгуків)
            .vacancy-card__address Poland, Gorzów Wielkopolski, Złotego Smoka 9, 66-400
        h2.vacancy-card__title Оператор на виробництво електроніки
        .vacancy-card__specifications
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за годину
            .specification__value 18 – 20 zl / год
          .specification.specification--large.vacancy-card__specification
            .specification__title Оплата за міс
            .specification__value 3500 – 4900 zl / міс
          .specification.specification--large.vacancy-card__specification
            .specification__title Винагорода
            .specification__value 500 – 800 zl
          .specification.specification--large.vacancy-card__specification
            .specification__title Відпрацювання
            .specification__value 30 днів
          .specification.specification--responsibilities.vacancy-card__specification.vacancy-card__specification--responsibilities
            .specification__title Обов'язки 
            .specification__value
              p Комплектація замовлень Комплектація замовлень Комплектація замовлень Комплектація замовлень за допомогою сканера та електровузика пакування товару в коробки, палетування а інші
        .promo-blocks.vacancy-card__promo-blocks.hidden-smPlus
          .promo-blocks-swiper.swiper
            .swiper-wrapper
              .swiper-slide.promo-blocks-swiper__slide
                a(href="#").promo-block
                  .promo-block__company
                    .promo-block__logo
                      img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
                    h3.promo-block__title White Work Company
                  .characteristics.promo-block__characteristics
                    .characteristic.characteristic--sex.characteristics__item
                      .characteristic__value Чоловіки, жінки, сімейні пари
                    .characteristic.characteristic--age.characteristics__item
                      .characteristic__value до 55 років
                    .characteristic.characteristic--schedule.characteristics__item
                      .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                    .characteristic.characteristic--house.characteristics__item
                      .characteristic__value Безкоштовне, 300 зл/міс комуналь
                  .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                  .promo-block__footer
                    .more-link.more-link--full-width.promo-block__more-link Детальніше
              .swiper-slide.promo-blocks-swiper__slide
                a(href="#").promo-block
                  .promo-block__company
                    .promo-block__logo
                      img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
                    h3.promo-block__title T&T People and Work
                  .characteristics.promo-block__characteristics
                    .characteristic.characteristic--sex.characteristics__item
                      .characteristic__value Чоловіки, жінки, сімейні пари
                    .characteristic.characteristic--age.characteristics__item
                      .characteristic__value до 55 років
                    .characteristic.characteristic--schedule.characteristics__item
                      .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                    .characteristic.characteristic--house.characteristics__item
                      .characteristic__value Безкоштовне, 300 зл/міс комуналь
                  .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                  .promo-block__footer
                    .more-link.more-link--full-width.promo-block__more-link Детальніше
              .swiper-slide.promo-blocks-swiper__slide
                a(href="#").promo-block
                  .promo-block__company
                    .promo-block__logo
                      img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
                    h3.promo-block__title Dream Pol
                  .characteristics.promo-block__characteristics
                    .characteristic.characteristic--sex.characteristics__item
                      .characteristic__value Чоловіки, жінки, сімейні пари
                    .characteristic.characteristic--age.characteristics__item
                      .characteristic__value до 55 років
                    .characteristic.characteristic--schedule.characteristics__item
                      .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                    .characteristic.characteristic--house.characteristics__item
                      .characteristic__value Безкоштовне, 300 зл/міс комуналь
                  .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
                  .promo-block__footer
                    .more-link.more-link--full-width.promo-block__more-link Детальніше
            .swiper-pagination.promo-blocks-swiper__pagination
        .promo-blocks.vacancy-card__promo-blocks.hidden-xs
          .promo-blocks__items
            a(href="#").promo-block.promo-blocks__item
              .promo-block__company
                .promo-block__logo
                  img(src="/img/white_work_company.png" alt="White Work Company").promo-block__logo-img
                h3.promo-block__title White Work Company
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
            a(href="#").promo-block.promo-blocks__item
              .promo-block__company
                .promo-block__logo
                  img(src="/img/people_and_work.png" alt="T&T People and Work").promo-block__logo-img
                h3.promo-block__title T&T People and Work
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
            a(href="#").promo-block.promo-blocks__item
              .promo-block__company
                .promo-block__logo
                  img(src="/img/dream_pol.png" alt="Dream Pol").promo-block__logo-img
                h3.promo-block__title Dream Pol
              .characteristics.promo-block__characteristics
                .characteristic.characteristic--sex.characteristics__item
                  .characteristic__value Чоловіки, жінки, сімейні пари
                .characteristic.characteristic--age.characteristics__item
                  .characteristic__value до 55 років
                .characteristic.characteristic--schedule.characteristics__item
                  .characteristic__value Пн–Пт, 2 зміни по 8–12 год
                .characteristic.characteristic--house.characteristics__item
                  .characteristic__value Безкоштовне, 300 зл/міс комуналь
              .salary.promo-block__salary #[span.salary__value 800 zl] винагорода
              .promo-block__footer
                .more-link.more-link--full-width.promo-block__more-link Детальніше
                
  include ./includes/blocks/additional-filters-popup
  include ./includes/blocks/cities-popup
  include ./includes/blocks/add-employer-popup
  include ./includes/blocks/add-employer-success-popup

  button(type="button" data-fancybox data-src="#additional-filters-popup").btn-filter.btn-filter--right-bottom.btn-filter--invisible.additional-filters-popup-link
    span.count.count--info-bg.count--filter-btn 99

block page_bottom
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js")
  script(src="/js/jquery.multi-select.js")
  script(src="/js/vacancies.js")
  script(src="/js/vacancies_module.js")