extends layouts/user_profile

block vars
  - userProfileClasses = 'user-profile--video';

block content
  .video-page
    //- h1.page-title.video-page__title Відео
    .video-page__videos
      .video-box
        video(autoplay muted loop).video-box__video
          source(src="/video/1.mp4" type="video/mp4")
  //- script(src="/js/affiliate.js")