// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap')

font-face('Graphik LCG', '../fonts/GraphikLCG/subset-GraphikLCG-Regular')
font-face('Graphik LCG', '../fonts/GraphikLCG/subset-GraphikLCG-RegularItalic', normal, italic)
font-face('Graphik LCG', '../fonts/GraphikLCG/subset-GraphikLCG-Medium', 500)
font-face('Graphik LCG', '../fonts/GraphikLCG/subset-GraphikLCG-MediumItalic', 500, italic)
font-face('Graphik LCG', '../fonts/GraphikLCG/subset-GraphikLCG-Semibold', 600)
font-face('Graphik LCG', '../fonts/GraphikLCG/subset-GraphikLCG-SemiboldItalic', 600, italic)
font-face('Graphik LCG', '../fonts/GraphikLCG/subset-GraphikLCG-Bold', bold)
font-face('Graphik LCG', '../fonts/GraphikLCG/subset-GraphikLCG-BoldItalic', bold, italic)