:root
	--base-font: 'Montserrat', sans-serif
	--accent: #0F182A
	--accent-light: #2A364D
	--text-color: #666B80
	--success: #33B324
	--info: #5340FF
	--warning: #de8f26
	--user-profile-bg: #F4F5FC
	--dark: #2A364C
	--light: #FFF
	--grey-light: #F0F4FA
	--grey-medium: #DFE1ED
	--grey: #989DB2
	--grey-light-gradient: linear-gradient(90deg, var(--grey-light) 0%, var(--light) 100%)
	--input-border-color: #EBEFF3
	--purple: #7360F2
	--light-blue: #229ED9

$xs = '(max-width: 767px)'
$xxsPlus = '(min-width: 576px)'
$xxs = '(max-width: 575px)'
$smMinus = '(max-width: 1023px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$md = '(min-width: 1024px)'
$mdMinus = '(max-width: 1199px)'
$lg = '(min-width: 1200px)'
$xlMinus = '(max-width: 1919px)'
$xlPlus = '(min-width: 1920px)'