// @require "../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css"

@require '../../node_modules/swiper/swiper.min.css'
@require "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css"
@require "../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css"
@require "../../node_modules/select2/dist/css/select2.min.css"
// @require "../../node_modules/multi.js/dist/multi.min.css"