.additional-filters
	&__header
		border-top-right-radius 16px
		border-top-left-radius 16px
		background #FAFBFD
		
	&__header-top
		display grid
		// grid-template-columns repeat(2, auto)
		grid-template-columns auto 1fr auto
		// justify-content space-between
		align-items center
		// gap 20px
		gap 28px
		// padding 24px 20px 24px 50px
		padding 16px 20px 14px 50px
		
		@media (max-width: 991px)
			padding 24px 20px 24px 30px
			
		@media $xs
			padding 15px 20px
		
		@media $xxs
			grid-template-columns auto 1fr auto
			gap 6px
			padding 15px 16px 10px 10px
	
	&__title
		font-weight 600
		font-size 24px
		line-height 1.25
		// font-family var(--graphik-lcg)
		
		@media $xxs
			font-size 21px
			line-height 1.2857
	
	&__form-items
		display grid
		// grid-template-columns repeat(3, auto)
		grid-template-columns 210px 140px 140px
		justify-content start
		gap 23px
	
	&__close-btn
		margin-top -13px
		
		@media $xs
			margin-top 0
	
	&__header-bottom
		display grid
		grid-template-columns 1fr auto
		// align-items start
		align-items center
		gap 15px
		// padding 0 13px 10px
		padding 0 28px 10px 13px
	
	&__body
		// max-height calc(100vh - 196px)
		max-height calc(100vh - 270px)
		// max-height none
		padding 25px 35px 30px 50px
		overflow auto
		
		@media (max-width: 991px)
			padding-left 30px
		
		@media $xs
			max-height calc(100vh - 168px)
			padding 7px 20px 20px
		
		@media $xxs
			max-height calc(100vh - 134px)
			padding-top 25px
			padding-right 0
			padding-left 0
	
	&__items
		display grid
		grid-template-columns 100%
		gap 22px
		margin-bottom 24px
		padding-right 16px
		padding-bottom 30px
		padding-left 16px
		border-bottom 1px solid #DFE2E6
	
	&__form-item
		position relative
	
	&__cities-dropdown-block
		position absolute
		top 100%
		left 0
	
	&__countries-select
		width 140px
	
	&__label
		margin-bottom 4px
	
	&__checkboxes-groups
		display grid
		// grid-template-columns repeat(3, 1fr)
		grid-template-columns 1fr 28% 28%
		gap 58px 35px
		
		@media (max-width: 991px)
			gap 40px 20px
		
		@media $xs
			grid-template-columns repeat(2, 1fr)
			// grid-template-columns repeat(2, auto)
			gap 30px 20px
		
		@media $xxs
			grid-template-columns 100%
			gap 24px
	
	&__checkboxes-group,
	&__radiobtns-group
		@media $xxs
			padding-right 16px
			padding-bottom 24px
			padding-left 16px
			border-bottom 1px solid #DFE2E6
			
			&:last-child
				padding-bottom 0
				border-bottom none
	
	&__checkboxes-group
		&--id-2
			order 0
			
		&--id-6
			order 1
			
		&--id-11
			order 2
			
		&--id-3
			order 3
			
		&--id-4
			order 4
			
		&--id-7
			order 5
			
		&--id-12
			order 6
			
		&--id-10
			order 7
			
		&--id-5
			order 8
	
	&__footer
		display grid
		grid-template-columns repeat(2, auto)
		// justify-content end
		justify-content center
		align-items center
		gap 32px
		padding 16px
		border-bottom-right-radius 16px
		border-bottom-left-radius 16px
		background #FAFBFD
		
		@media $xxs
			grid-template-columns 100%