.affiliate-program
	&__title
		margin-bottom 12px
	
	&__text
		// width 664px
		// max-width 100%
		// margin-bottom 40px
		margin-bottom 32px
		color var(--text-color)
		
		// @media $smMinus
		// 	margin-bottom 32px
		
		@media $xs
			margin-bottom 24px
			font-size 16px
			line-height 1.625
	
	&__info
		margin-bottom 37px
		// margin-bottom 30px
	
	&__bonus-info
		margin-bottom 32px
		
		@media $xs
			margin-bottom 24px
	
	&__partners-table
		@media $xs
			margin-right -17px
			margin-left -17px