.agency-gallery
  &__title
    margin-bottom 16px
    font-weight 600 
    font-size 24px
    line-height 1.25
  
  &__tabs-menu
    margin-bottom 24px
  
  &__list-wrapper
    @media $xs
      height 120px
      margin-right -20px
      margin-left -20px
      overflow hidden
    
  &__list
    list-style none
    display flex
    flex-wrap wrap
    gap 12px
    width 1000px
    max-width 100%
    
    @media $xs
      height 130px
      flex-wrap nowrap
      gap 8px
      padding-right 20px
      padding-left 20px
      overflow auto
  
  &__item
    @media $xs
      flex-shrink 0
      
    &:nth-child(n+11)
      display none
  
  &__item-link
    display grid
    
    &--video
      grid-template-areas "wrapper"
      
      .agency-gallery__item-img,
      &::after
        grid-area wrapper
      
      &::after
        content ""
        position relative
        z-index 1
        cursor pointer
        background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none'%3E%3Crect width='58.5' height='58.5' x='.75' y='.75' fill='%230F182A' fill-opacity='.3' rx='29.25'/%3E%3Cpath stroke='%23fff' stroke-width='1.5' d='M38.109 29.367a.75.75 0 0 1 0 1.266L25.903 38.4a.75.75 0 0 1-1.153-.633V22.232a.75.75 0 0 1 1.153-.632l12.206 7.767Z'/%3E%3Crect width='58.5' height='58.5' x='.75' y='.75' stroke='%23fff' stroke-width='1.5' rx='29.25'/%3E%3C/svg%3E") center / 48px no-repeat, linear-gradient(0deg, rgba(15, 24, 42, 0.05) 0%, rgba(15, 24, 42, 0.2) 100%)
  
  &__item-img
    width 88px
    height 88px
    border-radius 8px
    
    @media $xs
      width 120px
      height 120px
  
  &__hide-link-wrapper
    margin-top 12px
    
    @media $xs
      text-align right
  
  &--full
    .agency-gallery__item:nth-child(n+11)
      display block