.agency-info
  display grid
  grid-template-columns 24px 1fr
  gap 8px
  align-items center
  
  &__company-name
    font-weight 700
    font-size 13px
  
  &__work-place
    color #989DB2 
    font-size 13px
    line-height 14px
  
  &--vacancy-card
    .agency-info__company-name
      font-size 14px
  
  &--vacancy-block
    // grid-template-columns auto 1fr
    grid-template-columns 38px 1fr
    grid-template-areas "logo company-name" "logo work-place"
    gap 2px 8px
    justify-content start
    
    .agency-info__company-logo
      grid-area logo
      margin-right 4px
    
    .agency-info__company-name
      font-weight 500
      line-height 20px
    
    .agency-info__rating
      grid-area rating
      align-self start
      margin-left 3px