.agency-info
  display grid
  grid-template-columns 24px 1fr
  gap 8px
  align-items center
  
  &__company-name
    font-weight 700
    font-size 13px
  
  &--vacancy-card
    .agency-info__company-name
      font-size 14px