.arrow-link
  display inline-flex
  align-items center
  gap 3px
  font-weight 500
  color var(--info)
  text-decoration none
  
  &::after
    content ""
    // margin-bottom 3px
    margin-bottom -4px
    border 3px solid transparent
    border-top 3px solid var(--info)
  
  &--opened
    &::after
      margin-bottom 3px
      transform rotate(180deg)