.audio-speed
  width 40px
  height 24px
  border none
  outline none
  border-radius 8px
  background #fff
  font-size 13px
  line-height 22px
  color #989DB2
  cursor pointer

  &--highlighted
    background var(--info)
    color #fff