.awards-page
	&__title
		margin-bottom 40px
		
		@media $mdMinus
			margin-bottom 30px
		
		@media $smMinus
			margin-bottom 20px
		
		@media $xs
			// margin-bottom 15px
			margin-bottom 5px
	
	&__tabs-menu
		margin-bottom 37px
		
		@media $mdMinus
			margin-bottom 25px
		
		@media $smMinus
			margin-bottom 20px
		
		@media $xs
			// margin-bottom 15px
			margin-bottom 19px
	
	&__subtitle
		margin-bottom 10px
		
		@media $xs
			margin-bottom 3px
	
	&__description
		margin-bottom 30px
		font-weight 400
		color #3A3A3A
		
		@media $xs
			// margin-bottom 20px
			margin-bottom 17px
	
	&__user-level
		margin-bottom 29px
		
		@media $xs
			margin-bottom 20px