.awards
	display grid
	grid-template-columns repeat(auto-fill, minmax(218px, auto))
	justify-content start
	gap: 20px 24px
	
	@media $smMinus
		grid-template-columns repeat(4, 1fr)
		
	@media $xs
		grid-template-columns repeat(3, 1fr)
		
	@media $xxs
		grid-template-columns repeat(2, 1fr)
		gap 15px