.banks-list
	&__item
		// margin-bottom 13px
		padding-top 13px
		padding-bottom 10px
		border-bottom 1px solid #E9E8EA
		
		&:first-child
			padding-top 0
		
		&:last-child
			// margin-bottom 0
			// padding-top 0
			padding-bottom 0
			border-bottom none
			
	&--popup
		max-height calc(100vh - 158px)
		overflow auto