.bonus-statistic
	display grid
	// grid-template-columns repeat(3, auto)
	grid-template-columns repeat(4, auto)
	align-items end
	gap 16px
	// gap 23px
	
	@media $xs
		// grid-template-columns 100%
		grid-template-columns repeat(2, 1fr)
		gap 20px 15px