.bonus-info
	display grid
	// grid-template-columns auto 610px
	grid-template-columns auto 660px
	justify-content space-between
	align-items end
	gap 20px
	
	@media $1440-
		grid-template-columns 100%