.breadcrumbs
	&__list
		list-style none
		display flex
		align-items center
		gap 8px
	
	&__item
		font-weight 400
		font-size 12px
		color #989DB2
		white-space nowrap
		
		&::after
			content "/"
			margin-left 8px
		
		&:last-child::after
			display none
		
		&:not(:first-child)
			text-overflow ellipsis
			overflow hidden
	
	&__link
		color #989DB2
		text-decoration none
		@extend .transition
		
		&:hover
			color var(--accent)