.breadcrumbs
	&__list
		list-style none
		display flex
		align-items center
		gap 8px
	
	&__item
		font-weight 400
		font-size 12px
		color #989DB2
		white-space nowrap
		
		&::after
			content "/"
			margin-left 8px
		
		&:last-child::after
			display none
		
		&:not(:first-child)
			text-overflow ellipsis
			overflow hidden
		
		&--back
			display grid
			grid-template-columns 1fr auto
	
	&__link
		color #989DB2
		text-decoration none
		@extend .transition
		
		&:hover
			color var(--accent)
		
		&--back
			// display flex
			// align-items center
			// width 20px
			display grid
			grid-template-columns auto 1fr
			align-items center
			gap 10px
			
			&::before
				content ""
				width 18px
				height 16px
				background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 16'%3E%3Cpath stroke='%23989DB3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M16.5 8h-15m0 0 6.75 6.75M1.5 8l6.75-6.75'/%3E%3C/svg%3E") center no-repeat