.btn-grey3
	display inline-grid
	justify-content center
	align-items center
	padding 8px 24px
	border none
	outline none
	border-radius 12px
	font-weight 500
	font-size 16px
	line-height 1.625
	font-family var(--base-font)
	background var(--grey-medium)
	color var(--accent)
	white-space nowrap
	cursor pointer
	text-decoration none
	@extend .transition
	
	&:hover
		// background darken(#DFE1ED, 6%) 
		background #CDCFDD
	
	// @media $xs
	// 	padding-right 50px
	// 	padding-left 50px
	// 	font-size 15px
	
	&--small
		font-size 14px
		
		@media $xxs
			padding 8px
	
	&--plus
		padding 0 9px
		border-radius 8px
		font-size 14px
		
		@media $xs
			padding 5px 11px
		
		& > svg
			width 18px