.btn-beige
	display inline-flex
	justify-content center
	align-items center
	padding 5px 14px 5px 9px
	border none
	outline none
	border-radius 12px
	font-weight 500
	font-size 14px
	line-height 1.625
	font-family var(--base-font)
	background #f6eeea
	color #cd5b07
	white-space nowrap
	cursor pointer
	text-decoration none
	@extend .transition
	
	&--filter
		@media $smPlus
			font-size 13px
	
	&--additional-filters
		@media $xs
			padding 4px 12px
			border-radius 47px
			font-size 15px
			line-height 1.6