.btn-blue
	display inline-grid
	justify-content center
	align-items center
	// padding 14px 32px
	padding 4px 40px
	border 1px solid #546a91
	outline none
	border-radius 7px
	font-weight 500
	font-size 15px
	line-height 1.625
	font-family var(--base-font)
	background #3f506c
	color var(--light)
	white-space nowrap
	cursor pointer
	text-decoration none
	@extend .transition
	
	&:hover
		border-color #667ea6
		background #4E6280