.btn-default
	display inline-grid
	justify-content center
	padding 14px 32px
	border none
	outline none
	border-radius 12px
	font-weight 500
	font-size 16px
	line-height 1.625
	font-family var(--base-font)
	background var(--info)
	color var(--light)
	white-space nowrap
	cursor pointer
	text-decoration none
	@extend .transition
	
	&--user-settings
		padding 11px 80px
		border-radius 6px
	
	&--login
		padding 12px 32px
		border-radius 12px
		font-size 15px
		line-height 1.6
	
	&--withdrawal-form
		padding 11px 80px
		border-radius 5px