.btn-grey2
	display inline-grid
	justify-content center
	align-items center
	padding 8px 72px
	border none
	outline none
	border-radius 10px
	font-weight 500
	font-size 16px
	line-height 1.625
	font-family var(--base-font)
	background #eceefa
	color var(--accent)
	white-space nowrap
	cursor pointer
	text-decoration none
	
	@media $xs
		padding-right 50px
		padding-left 50px
		font-size 15px
	
	&--multi-wrapper
		padding 8px 46px
		font-size 14px
	
	&--error-payment
		padding-right 16px
		padding-left 16px
		border-radius 12px
		background #F0F4FA
	
	// &:hover
	// 	background var(--purple)
	// 	color var(--light)