.btn-grey
	display inline-grid
	justify-content center
	padding 12px 34px
	border none
	outline none
	border-radius 5px
	font-weight 500
	font-size 15px
	line-height 1.625
	font-family var(--base-font)
	background #f2f2f5
	color var(--accent)
	white-space nowrap
	cursor pointer
	text-decoration none
	
	&--withdrawal-form,
	&--authorization-form
		@media $xs
			font-size 16px
	
	&--authorization-form
		border-radius 12px
	
	&--clear-filter
		border-radius 12px
		background #F0F4FA
		color #374151
	
	&--multi-wrapper
		padding 6px 30px
		border-radius 8px
		font-size 14px
	
	// &:hover
	// 	background var(--purple)
	// 	color var(--light)