html.calendar-overlay-open,
html.calendar-overlay-open body {
  overflow: hidden;
}

/* =========================================
   ROOT WRAPPER
========================================= */

// .calendar {
//     // position: relative;
//     // font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
// }

/* =========================================
   FIELD
========================================= */

.calendar-field-wrapper
	display flex
	align-items center
	gap 20px
	padding-right 8px

.calendar .calendar-field
	width 325px
	max-width 100%
	height 48px
	border 1px solid #DFE2E6
	border-radius 12px
	display flex
	align-items center
	padding 0 12px
	cursor pointer
	background #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill='%23989db3' d='M8.01 17a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zM12.01 17a1 1 0 1 1 0 2H12a1 1 0 1 1 0-2zM16.01 17a1 1 0 1 1 0 2H16a1 1 0 1 1 0-2zM8.01 13a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zM12.01 13a1 1 0 1 1 0 2H12a1 1 0 1 1 0-2zM16.01 13a1 1 0 1 1 0 2H16a1 1 0 1 1 0-2z'/%3E%3Cpath fill='%23989db3' fill-rule='evenodd' d='M16 1.25a.75.75 0 0 1 .75.75v1.25H19A2.75 2.75 0 0 1 21.75 6v14A2.75 2.75 0 0 1 19 22.75H5A2.75 2.75 0 0 1 2.25 20V6A2.75 2.75 0 0 1 5 3.25h2.25V2a.75.75 0 0 1 1.5 0v1.25h6.5V2a.75.75 0 0 1 .75-.75M3.75 20c0 .69.56 1.25 1.25 1.25h14c.69 0 1.25-.56 1.25-1.25v-9.25H3.75zM5 4.75c-.69 0-1.25.56-1.25 1.25v3.25h16.5V6c0-.69-.56-1.25-1.25-1.25h-2.25V6a.75.75 0 0 1-1.5 0V4.75h-6.5V6a.75.75 0 0 1-1.5 0V4.75z' clip-rule='evenodd'/%3E%3C/svg%3E") right 12px center / 24px no-repeat
	font-family var(--base-font)
	font-weight 500
	font-size 16px
	color #000
	transition: all .2s ease

	&:hover
		border-color: #b9bec7;

.calendar-field-wrapper .calendar-field-wrapper__clear-btn
	display none

.calendar-field-wrapper:has(>.is-filled) .calendar-field-wrapper__clear-btn
  display inline-flex

/* =========================================
   OVERLAY
========================================= */

.calendar-overlay
	position fixed
	inset 0
	// background rgba(0, 0, 0, 0.6)
	// background rgba(24, 24, 27, 0.98)
	display flex
	align-items center
	justify-content center
	// z-index 2000
	z-index 99999999
	padding 20px 0
	opacity 0
	visibility hidden

	&.is-open
		opacity 1
		visibility visible

/* =========================================
   MODAL
========================================= */

.calendar-modal
	width 600px
	height 1000px
	max-height 100%
	max-width 100%
	background #fff
	border-radius 24px
	padding 20px 24px
	box-shadow 0 30px 60px rgba(0, 0, 0, 0.15)
	font-family var(--base-font)
	// overflow auto

	transform translateY(20px) scale(.96)
	opacity 0

	transition
		transform .3s cubic-bezier(.16,1,.3,1),
		opacity .3s ease

.calendar-overlay.is-open .calendar-modal
	transform translateY(0) scale(1)
	opacity 1

/* =========================================
   HEADER
========================================= */

.calendar-header
	display flex
	align-items center
	justify-content space-between
	margin-bottom 24px

.calendar-back
	display inline-flex
	width 24px
	height 24px
	border none
	outline none
	background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath stroke='%230f182a' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m12 19-7-7 7-7M19 12H5'/%3E%3C/svg%3E") center / 24px no-repeat
	cursor pointer

.calendar-close
	display inline-flex
	width 24px
	height 24px
	border none
	outline none
	background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23989db3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M5.333 18.666 18.667 5.332m-13.334 0 13.334 13.334'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M4 4h16v16H4z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center / 24px no-repeat
	cursor pointer

.calendar__title
	font-size 16px
	line-height 1.625
	font-weight 600
	color #000

/* =========================================
   WEEKDAYS
========================================= */

.global-weekdays
	display grid
	grid-template-columns repeat(7, 1fr)
	gap 36px
	margin-bottom 12px
	padding-bottom 12px
	font-size 12px
	line-height 1.67
	color #000
	text-align center
	font-weight 800
	text-transform uppercase

.month
	margin-bottom 32px
	overflow hidden

.month + .month
	padding-top 32px
	border-top 1px solid #EBEBEB

/* =========================================
   MONTH BLOCK
========================================= */

.calendar__body
	max-height calc(100% - 152px)
	// max-height calc(100% - 182px);
	overflow auto;
	scrollbar-width none

.calendar__body::-webkit-scrollbar
	display none

.month
  margin-bottom 32px

.month h4
	font-size 18px
	line-height 1.33
	margin-bottom 8px
	font-weight 600
	color #000

/* =========================================
   DAYS GRID
========================================= */
.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	justify-items center
	gap: 8px 36px;
}

.days button {
	border none
	background transparent
	cursor pointer
}

.days button span {
	display flex
	align-items center
	justify-content center
	width 48px
	height: 48px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	font-family: var(--base-font);
	color #000
	// transition: all .15s ease;
	position: relative;
}

.days button:hover span {
	background: #F4F5FC;
}

/* Selected day */
.days button.selected span {
	z-index 2
	background: #5340FF;
	color: #fff;
}

/* Range background */
.days button {
	position relative
}
.days button.range {
	background: #F4F5FC;
	border-radius: 0;
}
.days button.range:nth-child(7n) {
	border-top-right-radius 12px
	border-bottom-right-radius 12px
}
.days button.range:nth-child(7n+1),
.days button.range:nth-of-type(1) {
	border-top-left-radius 12px
	border-bottom-left-radius 12px
}
.days button::after {
	content: "";
	position absolute;
	top 0
	right -48px
	width: 48px;
	height: 48px;
	background: transparent;
	pointer-events none
}
.days button.range::after {
	background: #F4F5FC;
}

.days button.selected:has(+button.selected)
	z-index 2

.days button.selected + button.selected::before,
.days button.selected:has(+button.selected)::after,
.days button.selected + button:not(.selected):hover::before
	background #F4F5FC

.days button.selected + button:not(.selected):hover::before
	width 70px

.days button.selected + button.selected + button:not(.selected):hover::before,
.days button.range + button.selected + button:not(.selected):hover::before
	background transparent

.days button.range:nth-child(7n)::after,
.days button.range:nth-of-type(1)::before,
.days button.range:last-child::after,
.days button.range:nth-child(7n+1)::before {
  display none
}
.days button::before {
	content ""
	position absolute
	z-index -1
	top 0
	left -48px
	width 48px
	height 48px
	background: transparent;
	pointer-events none
}
.days button.range::before {
    background: #F4F5FC;
}

/* Correct rounding for range edges */
.days button.range:first-child {
	border-radius: 20px 0 0 20px;
}

.days button.range:last-child {
	border-radius: 0 20px 20px 0;
}
.days button.range:last-child::after {
	content: '';
	position: absolute;
	width: 36px;
	height: 48px;
}

/* =========================================
   FOOTER
========================================= */

.calendar-footer
	display flex
	align-items center
	justify-content space-between
	gap 12px
	margin 0 -24px
	padding 16px 24px 0
	box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1)

.accuracy
	display flex
	gap 8px
	overflow auto
	scrollbar-width none

.accuracy::-webkit-scrollbar
  display none

.accuracy button {
	flex-shrink 0
	padding: 11px 12px;
	border-radius: 90px;
	border: 1px solid #DFE2E6;
	background: #fff;
	cursor: pointer;
	font-weight 500
	font-size: 14px;
	line-height 1.57142857
	font-family var(--base-font)
	color #000
}

.accuracy button:hover,
.accuracy button.active {
    padding: 10px 11px;
    border: 2px solid #0F182A;
    background: #F4F5FC;
}

/* =========================================
   ACTIONS
========================================= */

.footer-actions
	display grid
	grid-template-columns 100%
	align-items center
	justify-content space-between
	gap 16px

html.calendar-overlay-open:has(.calendar-clear.is-visible) .calendar__body
	max-height calc(100% - 216px)

html.calendar-overlay-open:has(.calendar-clear.is-visible) .calendar-footer
	display block

html.calendar-overlay-open:has(.calendar-clear.is-visible) .footer-actions
	grid-template-columns auto auto
	margin-top 16px

.calendar-modal__apply-btn
  min-width 169px

.calendar-clear
	display none
	background none
	border none
	color #5340FF
	font-weight 600
	font-size 16px
	line-height 1.625
	font-family var(--base-font)
	cursor pointer

	&.is-visible
		display inline-block

/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 767px) {
		.calendar-overlay {
				padding 0
		}

		.calendar-modal {
				width 100%
		}
		
		.calendar-field {
				border-color: #e5e7ea;
		}
}

@media (max-width: 575px) {
    .calendar .calendar-field {
        width 100%
    }

    .calendar-modal {        
        width 100%
        padding 12px 16px
        border-radius 0
    }

    .calendar__body {
        max-height calc(100% - 216px)
    }

    .global-weekdays,
    .days {
        gap 8px
    }

    .global-weekdays {
        margin-bottom 8px
        padding-bottom 8px
    }

    .month {
        margin-bottom: 24px;
    }

    .month + .month {
        padding-top: 24px;
    }

    .month h4 {
        margin-bottom 16px
    }

    .days button span {
        width 40px
        height 40px
    }

    .days button.range::before,
    .days button.range::after {
        height 40px
    }

    .calendar-footer {
        display block
        padding 12px 16px 0
    }

    .accuracy {
        margin 0 -12px
        padding 0 12px
    }

    .accuracy button {
        padding 11px 16px
    }

    .accuracy button:hover,
    .accuracy button.active {
        padding 10px 15px
    }

    .footer-actions {
        margin-top 16px
    }

    .calendar-modal__apply-btn {
        width 100%;
    }

    html.calendar-overlay-open:has(.calendar-clear.is-visible) .calendar-modal__apply-btn {
        width auto
    }

}

@media (min-width: 576px) {
    .global-weekdays {
        grid-template-columns: repeat(7, 48px);
        justify-content center
        gap 20px
        font-size: 13px;
    }

    .month h4 {
        text-align center
    }

    .days {
        grid-template-columns: repeat(7, 48px);
        justify-content center
        gap: 8px 20px;
    }
}
