/* =========================================
   ROOT WRAPPER
========================================= */

.calendar {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* =========================================
   FIELD
========================================= */

.calendar .calendar-field {
  width: 325px;
  max-width: 100%;
  height: 48px;
//   border: 1px solid #DFE2E6;
  border: 1px solid #e5e7ea;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill='%23989db3' d='M8.01 17a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zM12.01 17a1 1 0 1 1 0 2H12a1 1 0 1 1 0-2zM16.01 17a1 1 0 1 1 0 2H16a1 1 0 1 1 0-2zM8.01 13a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zM12.01 13a1 1 0 1 1 0 2H12a1 1 0 1 1 0-2zM16.01 13a1 1 0 1 1 0 2H16a1 1 0 1 1 0-2z'/%3E%3Cpath fill='%23989db3' fill-rule='evenodd' d='M16 1.25a.75.75 0 0 1 .75.75v1.25H19A2.75 2.75 0 0 1 21.75 6v14A2.75 2.75 0 0 1 19 22.75H5A2.75 2.75 0 0 1 2.25 20V6A2.75 2.75 0 0 1 5 3.25h2.25V2a.75.75 0 0 1 1.5 0v1.25h6.5V2a.75.75 0 0 1 .75-.75M3.75 20c0 .69.56 1.25 1.25 1.25h14c.69 0 1.25-.56 1.25-1.25v-9.25H3.75zM5 4.75c-.69 0-1.25.56-1.25 1.25v3.25h16.5V6c0-.69-.56-1.25-1.25-1.25h-2.25V6a.75.75 0 0 1-1.5 0V4.75h-6.5V6a.75.75 0 0 1-1.5 0V4.75z' clip-rule='evenodd'/%3E%3C/svg%3E") right 12px center / 24px no-repeat;
  font-size: 14px;
  font-family var(--base-font)
  color #989DB2
  transition: all .2s ease;
}
.calendar .calendar-field.is-filled {
    color #000
}

.calendar .calendar-field:hover {
    border-color: #b9bec7;
}

/* =========================================
   OVERLAY
========================================= */

.calendar .calendar-overlay {
    position: fixed;
    inset: 0;
    // background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    // padding: 40px 0;
    padding: 20px 0;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity .3s ease,
        visibility 0s linear .3s;
}

.calendar .calendar-overlay.is-open {
    opacity: 1;
    visibility: visible;
    transition:
        opacity .3s ease,
        visibility 0s linear 0s;
}

/* =========================================
   MODAL
========================================= */

.calendar .calendar-modal {
    width: 600px;
    height: 1000px
    max-height: 100%;
    max-width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 20px 24px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);
    font-family: var(--base-font);
    // overflow: auto;

    transform: translateY(20px) scale(.96);
    opacity: 0;

    transition:
        transform .3s cubic-bezier(.16,1,.3,1),
        opacity .3s ease;
}

.calendar .calendar-overlay.is-open .calendar-modal {
    transform: translateY(0) scale(1);
    opacity: 1;
}

/* =========================================
   HEADER
========================================= */

.calendar .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.calendar .calendar-back {
    display inline-flex
    width 24px
    height 24px
    border none
    outline none
    background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath stroke='%230f182a' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m12 19-7-7 7-7M19 12H5'/%3E%3C/svg%3E") center / 24px no-repeat
    cursor pointer
}

.calendar .calendar-close {
    display inline-flex
    width 24px
    height 24px
    border none
    outline none
    background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23989db3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M5.333 18.666 18.667 5.332m-13.334 0 13.334 13.334'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M4 4h16v16H4z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center / 24px no-repeat
    cursor pointer
}

// .calendar .calendar-header button {
//     background: none;
//     border: none;
//     font-size: 20px;
//     cursor: pointer;
//     color: #6b7280;
// }

// .calendar .calendar-header button:hover {
//     color: #111827;
// }

.calendar .js-title {
    font-size: 16px;
    line-height: 1.625;
    font-weight: 600;
    color: #000;
}

/* =========================================
   WEEKDAYS
========================================= */

.calendar .global-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 36px;
    margin-bottom: 12px;
    padding-bottom 12px
    font-size: 12px;
    line-height: 1.67;
    color: #000;
    text-align: center;
    font-weight: 800;
    text-transform uppercase
}

.calendar .month {
    margin-bottom: 32px;
}

.month + .month {
    padding-top: 32px;
    border-top: 1px solid #EBEBEB;
}


// .calendar .weekdays {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     margin-bottom: 10px;
//     font-size: 13px;
//     color: #6b7280;
//     text-align: center;
//     font-weight: 500;
// }

// .calendar .weekdays div {
//     padding: 4px 0;
// }

/* =========================================
   MONTH BLOCK
========================================= */

.js-body {
    max-height: calc(100% - 152px);
    // max-height: calc(100% - 182px);
    overflow: auto;
    scrollbar-width none
}
.js-body::-webkit-scrollbar {
    display none
}

.calendar .month {
    margin-bottom: 32px;
}

.calendar .month h4 {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 8px;
    font-weight: 600;
    color #000
}

/* =========================================
   DAYS GRID
========================================= */

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items center
    gap: 8px 36px;
}

.calendar .days button {
    border none
    background transparent
}

.calendar .days button span {
    display flex
    align-items center
    justify-content center
    width 48px
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--base-font);
    color #000
    // transition: all .15s ease;
    position: relative;
}

.calendar .days button span:hover {
    background: #F4F5FC;
}

/* Selected day */
.calendar .days button.selected span {
    z-index 2
    background: #5340FF;
    color: #fff;
}
// .calendar .days button.selected:has(+button.range)::before {
//     content: "";
//     position absolute;
//     top 0
//     right 0
//     width: 24px;
//     height: 48px;
//     background: #F4F5FC;
//     pointer-events none
//     z-index -1
// }

/* Range background */
.calendar .days button {
    position relative
}
.calendar .days button.range {
    background: #F4F5FC;
    border-radius: 0;
}
.calendar .days button.range:nth-child(7n) span {
    border-top-right-radius 12px
    border-bottom-right-radius 12px
}
.calendar .days button.range:nth-child(7n+1) span,
.calendar .days button.range:nth-of-type(1) span {
    border-top-left-radius 12px
    border-bottom-left-radius 12px
}
.calendar .days button::after {
    content: "";
    position absolute;
    top 0
    right -48px
    width: 48px;
    height: 48px;
    background: transparent;
    pointer-events none
}
.calendar .days button.range::after {
    background: #F4F5FC;
}

.calendar .days button.selected:has(+button.selected)
    z-index 2

.calendar .days button.selected + button.selected::before,
.calendar .days button.selected:has(+button.selected)::after,
.calendar .days button.selected + button:not(.selected):hover::before
    background #F4F5FC

.calendar .days button.selected + button:not(.selected):hover::before
    width 70px

.calendar .days button.selected + button.selected + button:not(.selected):hover::before
    background transparent

// .calendar .days button.selected + button.selected::before {
//     content: "";
//     position absolute;
//     top 0
//     right 48px
//     width: 48px;
//     height: 48px;
//     background: #F4F5FC;
//     pointer-events none
// }

.calendar .days button.range:nth-child(7n)::after,
.calendar .days button.range:nth-of-type(1)::before,
.calendar .days button.range:last-child::after,
.calendar .days button.range:nth-child(7n+1)::before {
    display none
}
.calendar .days button::before {
    content ""
    position absolute
    z-index -1
    top 0
    left -48px
    width 48px
    height 48px
    background: transparent;
    pointer-events none
}
.calendar .days button.range::before {
    background: #F4F5FC;
}

/* Correct rounding for range edges */
.calendar .days button.range:first-child {
    border-radius: 20px 0 0 20px;
}

.calendar .days button.range:last-child {
    border-radius: 0 20px 20px 0;
}
.calendar .days button.range:last-child::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 48px;
}

/* =========================================
   FOOTER
========================================= */

.calendar .calendar-footer {
    display flex
    align-items center
    justify-content space-between
    gap 12px
    margin 0 -24px
    padding 16px 24px 0
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.calendar .accuracy {
    display: flex;
    gap: 8px;
    overflow auto
    scrollbar-width none
    
    // flex-wrap: wrap;
    // margin-bottom: 18px;
}

.calendar .accuracy::-webkit-scrollbar {
    display none
}

.calendar .accuracy button {
    // padding: 11px 15px;
    flex-shrink 0
    padding: 11px 12px;
    border-radius: 90px;
    border: 1px solid #DFE2E6;
    background: #fff;
    cursor: pointer;
    font-weight 500
    font-size: 14px;
    line-height 1.57142857
    font-family var(--base-font)
    color #000
    // transition: .2s;
}

.calendar .accuracy button:hover,
.calendar .accuracy button.active {
    // padding: 10px 14px;
    padding: 10px 11px;
    border: 2px solid #0F182A;
    background: #F4F5FC;
}

/* =========================================
   ACTIONS
========================================= */

.calendar .footer-actions {
    display: grid;
    grid-template-columns 100%
    align-items: center;
    justify-content: space-between;
    gap 16px
}

.calendar:has(.calendar-clear.is-visible) .js-body {
    max-height calc(100% - 216px)
}
.calendar:has(.calendar-clear.is-visible) .calendar-footer {
    display block
}
.calendar:has(.calendar-clear.is-visible) .footer-actions {
    grid-template-columns auto 169px
    margin-top 16px
}

.calendar .js-clear {
    background: none;
    border: none;
    color: #5340FF;
    font-weight: 600;
    font-size 16px
    line-height 1.625
    font-family var(--base-font)
    cursor: pointer;
}

// .calendar .js-clear:hover {
//     text-decoration: underline;
// }

.calendar-clear {
//   opacity: 0;
//   pointer-events: none;
//   transition: opacity .2s ease;
    display none
}

.calendar-clear.is-visible {
    display inline-block
//   opacity: 1;
//   pointer-events: auto;
}

// .calendar .js-apply {
//     padding: 10px 22px;
//     border-radius: 12px;
//     border: none;
//     background: linear-gradient(135deg, #6366f1, #4f46e5);
//     color: #fff;
//     font-weight: 600;
//     cursor: pointer;
//     transition: .2s;
// }

// .calendar .js-apply:hover {
//     opacity: .9;
// }

/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 767px) {
    .calendar {
        .calendar-overlay {
            padding 0
        }

        .calendar-modal {
            width 100%
        }
    }
}

@media (max-width: 575px) {
    .calendar .calendar-field {
        width 100%
    }

    .calendar .calendar-modal {
        // width: 95%;
        // padding: 20px;
        // border-radius: 18px;
        
        width 100%
        padding 12px 16px
        border-radius 0
    }

    .js-body {
        max-height calc(100% - 216px)
    }

    .calendar .global-weekdays,
    .calendar .days {
        gap 8px
    }

    .calendar .global-weekdays {
        margin-bottom 8px
        padding-bottom 8px
    }

    .calendar .month {
        margin-bottom: 24px;
    }

    .month + .month {
        padding-top: 24px;
    }

    .calendar .month h4 {
        margin-bottom 16px
    }

    .calendar .days button span {
        width 40px
        height 40px
        // height: 36px;
        // font-size: 13px;
    }

    .calendar .days button.range::before,
    .calendar .days button.range::after {
        height 40px
    }

    .calendar .calendar-footer {
        display block
        padding 12px 16px 0
    }

    .calendar .accuracy {
        margin 0 -12px
        padding 0 12px
    }

    .calendar .accuracy button {
        padding 11px 16px
    }

    .calendar .accuracy button:hover,
    .calendar .accuracy button.active {
        padding 10px 15px
    }

    .calendar .footer-actions {
        margin-top 16px
    }

    .calendar-modal__apply-btn {
        width 100%;
    }

    .calendar:has(.calendar-clear.is-visible) .calendar-modal__apply-btn {
        width auto
    }

}

@media (min-width: 576px) {
    .calendar .global-weekdays {
        grid-template-columns: repeat(7, 48px);
        justify-content center
        gap 20px
        font-size: 13px;
    }

    .calendar .month h4 {
        text-align center
    }

    .calendar .days {
        grid-template-columns: repeat(7, 48px);
        justify-content center
        gap: 8px 20px;
    }

    // .calendar .days button {
    //     width auto
    // }
}
