.checkboxes-group
	&__title
		margin-bottom 1em
		font-weight 600
		font-size 16px
		line-height 1.625
		@extend .transition
		
		@media $xxs
			font-size 17px
		
		@media $smPlus
			color var(--black)
		
		&::after
			@extend .transition
		
		@media $xxs
			display grid
			grid-template-columns 1fr auto
			align-items center
			gap 15px
			
			&::after
				display none
	
	&__description
		padding 8px 30px 8px 13px
		border-radius 8px
		background #F5F7FC
		font-weight 600
		font-size 11px
		line-height 14px
		
		@media $smPlus
			margin 0
			padding 0
			border-radius 0
			background transparent
			color #666B80
			font-weight 400
			font-size 14px
			line-height 1.57143 
		
		@media $xxs
			font-size 13px
			line-height normal
	
	&__list
		list-style none
		display grid
		grid-template-columns 100%
		gap 16px
		@extend .transition
		
		@media (max-width: 991px)
			gap 14px
		
		@media $xxs
			gap 16px
			overflow auto
	
	&--three-columns
		grid-column 1 / 4
		
		@media $xs
			grid-column 1 / 3
			
		@media $xxs
			grid-column 1 / 2
		
		.checkboxes-group__list
			grid-auto-flow column
			grid-template-columns auto
			
			@media $xxs
				grid-auto-flow row
	
	&--ten-rows
		.checkboxes-group__list
			grid-template-rows repeat(10, auto)
			
			@media (max-width: 991px)
				grid-template-rows repeat(15, auto)
			
			@media $xs
				grid-template-rows repeat(20, auto)
	
	&--three-rows
		.checkboxes-group__list
			grid-template-rows repeat(3, auto)
			
			@media (max-width: 991px)
				grid-template-rows repeat(4, auto)
				
			@media $xs
				grid-template-rows repeat(6, auto)
	
	&--closed
		.checkboxes-group__title
			@media $xxs
				margin-bottom 0
				
				&::after
					transform none
		
		.checkboxes-group__list
			@media $xxs
				max-height 0
	
	&--cities
		.checkboxes-group__list
			@media $xxs
				max-height none
	
	&--specializaciia
		.checkboxes-group__list
			@media $smPlus
				grid-template-columns repeat(4, 1fr)
	
	&--row
		.checkboxes-group__title
			font-size 18px
			line-height 1.34
			color var(--black)

			@media $xs
				font-size 19px

			&:has(+.checkboxes-group__description)
				margin-bottom 0

				@media $xs
					margin-bottom 8px
		
		.checkboxes-group__description
			margin-bottom 1em
			
		.checkboxes-group__list
			display flex
			flex-wrap wrap
			gap 8px
		
		.checkboxes-group__item
			&:has(.checkbox--tag-style.checkbox--highlighted)
				order -1
	
	&--filter-element-popup
		.checkboxes-group__title
			margin-bottom 24px
			font-size 18px
			text-align center
			color var(--black)