.checkmark-list
	display grid
	grid-template-columns 100%
	gap 37px
	list-style none
	
	@media $smMinus
		gap 30px
	
	@media $xs
		gap 20px
	
	&__item
		position relative
		padding-left 33px
		// display grid
		// grid-template-columns auto 1fr
		// align-items center
		// gap 6px
		
		&::before
			content ""
			position absolute
			top -2px
			left -5px
			width 32px
			height 32px
			// margin-left -5px
			background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%235340ff' d='M8 23c0 8.838 7.164 16 16 16s16-7.162 16-16c0-8.836-7.164-16-16-16S8 14.164 8 23Zm13.474 7.002-2.968-2.971-3.006-3.013 2.968-2.971 3.013 3.008L29.532 16l2.968 2.971-11.026 11.031Z'/%3E%3C/g%3E%3C/svg%3E") center / cover no-repeat
	
	&__item-title
		margin-bottom 6px
		font-weight 500
		font-size 16px
	
	&__item-text
		font-weight 400