.checkboxes-tabs
  list-style none
  display grid
  grid-auto-flow column
  padding 4px
  // border 1px solid #DFE2E6
  border 1px solid #e5e7ea
  border-radius 16px
  
  @media $xxs
    gap 16px
    // gap 18px
    // max-height 200px
    overflow auto