.circular-avatar
	display grid
	grid-template-columns 100%
	width 110px
	
	&__circle-progressbar,
	&__img
		grid-area 1 / 1 / 2 / 2
	
	&__img
		width 93px
		margin 9px
		vertical-align middle
		border-radius 50%