.client-label
	display inline-grid
	place-content center
	padding 0 9px
	border 1px solid #40A0FF
	border-radius 0 6px 6px 0
	background #fff
	color #4683FF
	font-size 13px
	line-height 22px
	
	&--aqua
		border-color #79CBDE
		color #4899C2
	
	&--grey
		border-color #A4A9D2
		color #898BA9