.client-card
	// padding 24px 32px
	border-radius 12px
	background var(--light)
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.08)
	
	// @media $xs
	// 	padding 20px 24px
	
	// @media $xxs
	// 	padding 16px 16px 24px
	
	// &__header,
	// &__body
	// 	// padding 24px 32px
	// 	padding 11px 32px
	
	&__header
		display grid
		grid-template-columns repeat(2, auto)
		justify-content space-between
		align-items center
		gap 20px
		// padding 11px 32px
		padding 11px 28px 11px 32px
		// margin-bottom 24px
		border-top-right-radius 12px
		border-top-left-radius 12px
		background linear-gradient(90deg, #D2DCFC 0%, #D7EAFC 100%)
		
		@media $xxs
			grid-template-columns 100%
			padding 12px 16px
		
		// @media $xs
		// 	padding 20px 24px
		
		// @media $xxs
		// 	padding 16px 16px 24px
		
		// @media $xxs
		// 	margin-bottom 16px
	
	&__body
		// padding 32px 32px 24px
		// padding 32px 24px 27px 32px
		padding 16px 24px 27px 32px
		
		@media $xs
			padding 16px 15px 24px
	
	&__id-and-comment
		@media $xxs
			margin-top 16px
		
		@media $xxsPlus
			// margin-top -3px
			// margin-right 3px
			margin-top 3px
			text-align right
	
	&__name,
	&__phone
		@media $xxs
			font-size 16px
			line-height 1.625
	
	&__name
		font-weight 600
	
	&__phone
		color var(--accent)
		text-decoration none
		
		@media $smPlus
			font-size 13px
			line-height 22px
	
	&__btn-and-icon
		display grid
		grid-template-columns repeat(2, auto)
		align-items center
		gap 10px
		
		@media $smPlus
			margin-right -14px
		
		@media $xxs
			justify-content start
	
	&__id,
	&__comment
		color var(--grey)
		font-size 13px
		line-height 1.6923
	
	&__id
		@media $xxsPlus
			margin-bottom -4px
	
	&__additional
		display none
		margin-bottom 32px
		font-size 14px
		// line-height normal
		line-height 1.25
		
		@media $md
			margin-right 10px
	
	&__additional-block
		& + .client-card__additional-block
			margin-top 2px
	
	&__additional-label
		margin-bottom 10px
		margin-left 4px
		color #989DB2
		font-size 13px
	
	&__additional-text,
	&__additional-item
		// padding 10px 17px 13px
		padding-right 17px
		padding-left 17px
		border-radius 6px
		background #F7F8FD
	
	&__additional-text
		margin-bottom 5px
		padding-top 10px
		padding-bottom 13px
	
	&__additional-item
		position relative
		padding-top 9px
		padding-bottom 9px
		
		&--copy
			display inline-grid
			grid-template-columns 1fr auto
			gap 5px
			align-items center
			padding 6px 13px 5px
			color #2E3646
			text-decoration none
			
			@media $smPlus
				gap 8px
				padding-right 15px
				padding-left 15px
			
			@media $xs
				margin-bottom 5px
			
			&::after
				content ""
				width 24px
				height 24px
				background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%235340FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M20 9h-9a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2Z'/%3E%3Cpath stroke='%235340FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1'/%3E%3C/svg%3E") center center / cover no-repeat
				
				@media $smPlus
					width 19px
					height 19px
	
	&__additional-item-tooltip
		position absolute
		z-index 10
		top -35px
		right 0
		// top -43px
		// right -53px
	
	&__additional-footer,
	&__additional-footer-left
		display grid
		grid-template-columns repeat(2, auto)
		gap 7px
		align-items center
		
		@media $xs
			grid-template-columns 100%
	
	&__additional-footer
		justify-content space-between
	
	&__additional-footer-left
		justify-content start
	
	&__additional-item
		&--copy
			margin-left auto
	
	&__specifications
		display grid
		// grid-template-columns repeat(6, auto)
		grid-template-columns repeat(5, auto)
		gap 32px
		margin-right -5px
		
		&--recruitment
			grid-template-columns repeat(6, auto)
		
		@media $mdMinus
			gap 20px
		
		@media $smMinus
			grid-template-columns repeat(3, auto)
		
		@media $smPlus
			// margin-bottom 35px
			margin-bottom 32px
		
		@media $xxs
			grid-template-columns repeat(2, auto)
			gap 16px 31px
	
	&__specification
		@media $md
			position relative
			padding-left 16px
		
			&:not(:first-child)::before
				content ""
				position absolute
				// top 0
				// bottom 0
				top 7px
				bottom 7px
				left 0
				width 1px
				// height 32px
				margin auto
				background var(--grey-medium)
		
			&:first-child
				padding-left 0
	
	&__status-btn
		margin-top 16px
	
	&__status-line
		margin-right 8px
	
	&--grey-bg
		.client-card__header
			background linear-gradient(90deg, #d4d6e4 0%, #dfe1ed 100%)
	
	&--aqua-bg
		.client-card__header
			background linear-gradient(90deg, #dce9f2 0%, #ddefef 100%)
	
	&--beige-bg
		.client-card__header
			background linear-gradient(90deg, #f7ddc4 0%, #feefce 100%)
	
	&--green-bg
		.client-card__header
			background linear-gradient(90deg, #C6EDBE 0%, #E4F2DA 100%)
	
	&--lilac-bg
		.client-card__header
			background linear-gradient(90deg, #ded9f2 0%, #dce1f5 100%)