.client-label-filled
	display inline-grid
	place-content center
	padding 0 14px 0 10px
	border-radius 6px 0 0 6px
	background linear-gradient(90deg, #4683FF 0%, #40A0FF 100%)
	color #FFF
	font-weight 600
	font-size 13px
	line-height 22px
	
	&--aqua-bg
		background linear-gradient(90deg, #4899C2 0%, #79CBDE 100%)
		
	&--grey-bg
		background linear-gradient(90deg, #898BA9 0%, #A4A9D2 100%)