.closed-section
	display grid
	grid-template-columns 100%
	justify-items center
	padding 52px 0 64px
	text-align center
	
	&__icon-wrapper
		display grid
		place-content center
		width 152px
		height 152px
		margin-bottom 42px
		border-radius 50%
		background #222D42
	
	&__icon
		width 62px
	
	&__avatar
		// display grid
		// place-content center
		width 154px
		height 154px
		margin-bottom 27px
		border 20px solid rgb(36	45 64)
		border-radius 50%
	
	&__avatar-img
		width 100%
	
	&__title
		margin-bottom 29px
		font-weight 600
		font-size 24px
	
	&__text
		padding 0 10px
		font-size 18.5px
		line-height 22px
		
		& > p + p
			margin-top 25px
	
	&--verification,
	&--user-profile
		.closed-section__text
			font-size 16.5px
			line-height 1.15
			
			& > p + p
				margin-top 22px
	
	&--verification
		.closed-section__text
			line-height 1.5
	
	&--verification
		padding-bottom 53px
		
		.closed-section__icon-wrapper
			margin-bottom 28px
	
	&--user-profile
		padding-top 56px
		padding-bottom 108px
		
		.closed-section__title
			margin-bottom 39px
			font-size 25px