.closed-section
	display grid
	grid-template-columns 100%
	justify-items center
	padding 52px 0 64px
	text-align center
	
	&__icon-wrapper
		display grid
		place-content center
		width 152px
		height 152px
		margin-bottom 42px
		border-radius 50%
		background #222D42
	
	&__icon
		width 62px
	
	&__text
		padding 0 10px
		font-size 18.5px
		line-height 22px
		
		& > p + p
			margin-top 25px