.closed-section
	display grid
	grid-template-columns 100%
	justify-items center
	padding 52px 0 53px
	text-align center
	
	@media $xxs
		padding 20px 0
	
	&__icon-wrapper
		display grid
		place-content center
		width 152px
		height 152px
		margin-bottom 28px
		border-radius 50%
		background #222D42
		
		@media $xxs
			width 120px
			height 120px
			margin-bottom 20px
	
	&__icon
		width 62px
		
		@media $xxs
			width 42px
	
	&__avatar
		// display grid
		// place-content center
		width 154px
		height 154px
		margin-bottom 27px
		border 20px solid rgb(36	45 64)
		border-radius 50%
	
	&__avatar-img
		width 100%
	
	&__title
		margin-bottom 29px
		font-weight 600
		font-size 24px
		
		@media $xxs
			margin-bottom 16px
			font-size 20px
	
	&__text
		padding 0 10px
		// font-size 18.5px
		// line-height 22px
		font-size 16.5px
		line-height 1.5
		
		a
			color #FFF
		
		@media $xxs
			font-size 14px
		
		& > p + p
			margin-top 22px
			
			@media $xxs
				margin-top 18px
	
	&--user-profile
		padding-top 56px
		padding-bottom 108px
		
		.closed-section__title
			margin-bottom 39px
			font-size 25px