.conditions
	&__list
		list-style none
		display grid
		grid-template-columns 100%
		gap 24px
		
		@media $xs
			gap 16px
	
	&__item-title
		font-size 24px
		line-height 1.167
		
		&--green
			color #70AD22
		
		&--blue
			color #588AA9
		
		&--brown
			color #BFA689
	
	&__item-text
		font-size 15px
		line-height 1.6