.contact-box
	@media $xs
		text-align center
		
	&__title
		margin-bottom 24px
		font-weight 600
		font-size 32px
		line-height 1.25
		
		@media $xs
			margin-bottom 17px
			font-size 24px
	
	&__phones
		margin-bottom 32px
		
		@media $xs
			margin-bottom 15px
	
	&__buttons
		@media $xs
			margin-right auto
			margin-left auto
	
	&--support
		.contact-box__title
			margin-bottom 34px
			font-weight 500
			font-size 15px
		
		.contact-box__phones
			margin-bottom 30px
			margin-left -1px