.contact-box
	@media $xs
		text-align center
		
	&__title
		margin-bottom 24px
		font-weight 600
		font-size 32px
		line-height 1.25
		
		@media $xs
			margin-bottom 17px
			font-size 24px
	
	&__phones
		margin-bottom 32px
		
		@media $xs
			margin-bottom 15px
	
	&__call-btn-wrapper
		text-align center
	
	&__call-btn
		margin-bottom 41px
		margin-left -20px
	
	&__buttons
		@media $xs
			margin-right auto
			margin-left auto
	
	&--support
		.contact-box__title
			margin-bottom 34px
			font-weight 500
			font-size 16px
		
		.contact-box__phones
			margin-bottom 24px
			margin-left -1px
	
	&--support-popup
		// padding 25px 30px
		padding 25px 15px 20px 30px
		text-align left
		
		.contact-box__title
			// margin-bottom 40px
			margin-bottom 44px
			font-weight 500
			font-size 17px
		
		.contact-box__phones
			margin-bottom 35px
		
		.contact-box__call-btn
			margin-bottom 56px
			margin-left -38px
		
		.contact-box__buttons
			margin-right 0
			margin-left 0