.contact-buttons
	width 258px
	
	@media $xs
		width auto
	
	&__list
		list-style none
		display grid
		grid-template-columns 100%
		gap 16px
	
	&__item
		display grid
	
	&--row
		width auto
		max-width 100%
		
		.contact-buttons__list
			// grid-template-columns repeat(2, 260px)
			grid-template-columns repeat(2, 216px)
			justify-content space-between
			align-items center
			gap 10px
			
			@media $xs
				grid-template-columns 100%
	
	&--center
		.contact-buttons__list
			justify-content center
	
	&--text-page
		.contact-buttons__list
			gap 30px
			
			@media $smMinus
				gap 20px
			
			@media $xs
				gap 10px
	
	&--article-box
		.contact-buttons__list
			@media $md
				grid-template-columns repeat(2, 256px)
				gap 36px
	
	&--support
		// width 198px
		// width 215px
		width 310px
		
		.contact-buttons__list
			grid-template-columns repeat(2, auto)
			// gap 17px
			gap 21px