.contact-box
	@media $xs
		text-align center
		
	&__title
		margin-bottom 24px
		font-weight 600
		font-size 32px
		line-height 1.25
		
		@media $xs
			margin-bottom 17px
			font-size 24px
	
	&__text
		display grid
		grid-template-columns auto 1fr
		align-items center
		gap 18px
		margin-bottom 40px
		margin-left -1px
		font-size 16px
		
		&::before
			content ""
			width 28px
			height 28px
			background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg data-name='Layer 2'%3E%3Cpath d='M14.18 22H9.76A2.72 2.72 0 0 1 7 19.33v-1.66A2.72 2.72 0 0 1 9.76 15h2.65a.73.73 0 0 0 .77-.67v-1.66a.73.73 0 0 0-.77-.67H8a1 1 0 0 1 0-2h4.41a2.72 2.72 0 0 1 2.77 2.67v1.66A2.72 2.72 0 0 1 12.41 17H9.76a.72.72 0 0 0-.76.67v1.66a.72.72 0 0 0 .76.67h4.42a1 1 0 0 1 0 2ZM23 17h-4.41a2.72 2.72 0 0 1-2.77-2.67V11a1 1 0 0 1 2 0v3.33a.73.73 0 0 0 .77.67H22v-4a1 1 0 0 1 2 0v5a1 1 0 0 1-1 1Z' fill='%2338ca16'/%3E%3Cpath fill='%2338ca16' d='M23 22a1 1 0 0 1-1-1V11a1 1 0 0 1 2 0v10a1 1 0 0 1-1 1Z'/%3E%3Cpath d='M16 30a14 14 0 1 1 6.46-26.42 1 1 0 1 1-.92 1.77A12 12 0 1 0 28 16a12 12 0 0 0-1.85-6.4 1 1 0 1 1 1.7-1.06A14 14 0 0 1 16 30Z' fill='%2338ca16'/%3E%3C/g%3E%3C/svg%3E") center / cover no-repeat
	
	&__phones
		margin-bottom 32px
		
		@media $xs
			margin-bottom 15px
	
	&__call-btn-wrapper
		text-align center
	
	&__call-btn
		margin-bottom 41px
		margin-left -20px
		
		&:last-child
			margin-bottom 0
	
	&__buttons
		@media $xs
			margin-right auto
			margin-left auto
	
	&--support
		.contact-box__title
			// margin-bottom 34px
			margin-bottom 13px
			font-weight 500
			font-size 16px
		
		.contact-box__phones
			margin-top 40px
			margin-bottom 24px
			margin-left -1px
			
			&:last-child
				margin-bottom 0
	
	&--support-popup
		// padding 25px 30px
		padding 25px 15px 20px 30px
		text-align left
		
		.contact-box__title
			// margin-bottom 40px
			// margin-bottom 44px
			margin-bottom 13px
			font-weight 500
			font-size 17px
		
		.contact-box__phones
			margin-bottom 35px
		
		.contact-box__call-btn
			margin-bottom 56px
			margin-left -38px
		
		.contact-box__buttons
			margin-right 0
			margin-left 0
	
	&--no-back-btn
		padding-top 40px
	
	&--affiliate-support,
	&--order-service,
	&--book-vacancy,
	&--employment
		display grid
		grid-template-columns repeat(2, 1fr)
		max-width 100%
	
	&--affiliate-support
		gap 25px
		width 800px
		
		@media $xs
			grid-template-columns 100%
			justify-items center
		
		.contact-box__buttons-wrapper
			order -1
			margin-top 14px
			
			@media $xs
				order 0
				text-align left
		
		.contact-box__call-btn
			margin-left 11px
		
		.contact-box__phones
			margin-bottom 0
	
	&--order-service,
	&--book-vacancy,
	&--employment
		justify-items center
		
		@media $xs
			grid-template-columns 100%
			// gap 24px
			gap 31px
		
		.contact-box__buttons-wrapper
			margin-top -6px
		
		.contact-box__call-btn
			margin-bottom 12px
			margin-left 0
		
		.contact-box__phones
			margin-right 33px
			margin-bottom 0
			
			@media $xs
				margin-right auto
	
	&--book-vacancy,
	&--employment
		@media $xs
			.contact-box__buttons-wrapper
				display grid
				grid-template-columns 100%
				order -1
				margin-top 0
			
			.contact-box__buttons
				order -1
			
			.contact-box__call-btn
				margin-top 12px
				margin-bottom 0
	
	&--employment
		width 670px
		max-width 100%
		margin-right auto
		margin-left auto
		
		.contact-box__title,
		.contact-box__phones
			justify-self start
		
		.contact-box__title
			font-weight 700
			font-size 16px
			
			@media $xs
				margin-bottom 0
	
	&--contact-section
		@media $xs
			display grid
			grid-template-columns 100%
			
		.contact-box__phones
			@media $xs
				order 1
				margin-top 22px
				margin-bottom 0
	
	&--has-title
		.contact-box__title
			grid-column 1 / 3
			
			@media $xs
				grid-column auto
				order -1