.contact-phones
	position relative
		
	&__list
		list-style none
	
	&__item
		position relative
		display grid
		grid-template-columns 1fr auto
		align-items center
		margin-right 13px
		// gap 5px
		
		& + .contact-phones__item
			margin-top 8px
		
		&:hover
			.copy-btn
				background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%235340FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M20 9h-9a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-9a2 2 0 0 0-2-2Z'/%3E%3Cpath stroke='%235340FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1'/%3E%3C/svg%3E")
		
		&:nth-child(2)
			.contact-phones__tooltip
				top -28px
	
	&__tooltip
		position absolute
		z-index 10
		// top -1px
		// right -24px
		top -32px
		right -10px
		pointer-events none
	
	// &__copy-btn
		// margin-right 13px
	// 	position absolute
	// 	top 0
	// 	right 13px
	// 	bottom 0
	// 	margin auto
	
	&--support
		.contact-phones__item + .contact-phones__item
			margin-top 15px