.count
	display inline-grid
	place-items center
	width 1.75em
	height 1.75em
	border-radius 50%
	background #BA1A1A
	color var(--light)
	font-weight 400
	font-size 12px
	
	&--small
		font-size 9px
	
	&--info-bg
		background var(--info)
	
	&--selected-cities
		width 2.25em
		height 1.7em
		border-radius 10px
		font-weight 600
		font-size 13px