.docs-page
	// &__title
	// 	margin-bottom 30px

	&__title-wrapper
		display grid
		grid-template-columns repeat(2, auto)
		justify-content start
		align-items start
		gap 5px
		margin-bottom 10px
		
		@media $xs
			gap 7px
		
		&:has(>.vacancies-title__btn)
			align-items center
			gap 18px
			
			@media $xs
				gap 12px
	
	&__header
		margin-bottom 35px
		
		@media $smMinus
			margin-bottom 25px
		
		@media $xs
			margin-bottom 20px
	
	&__tabs
		margin-bottom 66px
		
		@media $1440-
			margin-bottom 50px
		
		@media $mdMinus
			margin-bottom 40px
		
		@media $smMinus
			margin-bottom 30px
		
		@media $xs
			margin-bottom 20px
	
	// &__tabs-menu-wrapper
	// 	position relative
	// 	margin-bottom 44px
		
	// 	@media $smMinus
	// 		margin-bottom 30px
		
	// 	@media $xs
	// 		margin-bottom 25px