.dropdown-menu
	background var(--light)
	
	&__list
		list-style none
	
	&__link
		color #1A1919
		display grid
		grid-template-columns 100%
		align-items center
		gap 12px
		padding 6px 12px
		color var(--accent)
		text-decoration none
		@extend .transition
		
		&:hover
			background #F4F4FB
		
		&--has-icon
			grid-template-columns 24px 1fr
	
	&__icon-wrapper
		display grid
		grid-template-columns 100%
		place-items start