.dropdown-menu
	background var(--light)
	
	&__list
		list-style none
	
	&__link
		color #1A1919
		display grid
		grid-template-columns 100%
		align-items center
		gap 12px
		padding 6px 12px
		color var(--accent)
		text-decoration none
		@extend .transition
		
		&:hover
			background #F4F4FB
		
		&--has-icon
			grid-template-columns 24px 1fr
		
		&--copy-user-id
			grid-template-columns 24px 1fr auto
			
			&::after
				content ""
				width 20px
				height 20px
				background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cg stroke='%237566d7' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' clip-path='url(%23a)'%3E%3Cpath d='M16.667 6.667H8.333c-.92 0-1.666.746-1.666 1.666v8.333c0 .921.746 1.667 1.666 1.667h8.334c.92 0 1.666-.746 1.666-1.666V8.332c0-.92-.746-1.667-1.666-1.667Z'/%3E%3Cpath d='M3.333 13.333c-.916 0-1.666-.75-1.666-1.667V3.333c0-.917.75-1.667 1.666-1.667h8.334c.916 0 1.666.75 1.666 1.667'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat
		
		&--copied-user-id
			&::after
				background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%237566d7' stroke-width='2' d='m16.516 8.935-5.456 5.767-2.964-2.804'/%3E%3Cpath stroke='%237566d7' stroke-width='2' d='M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z'/%3E%3C/svg%3E")
	
	&__icon-wrapper
		display grid
		grid-template-columns 100%
		place-items start