.employment-variants
  &__info-title
    margin-bottom 10px
    
  &__items
    display flex
    flex-wrap wrap
    align-items start
    gap 8px
    
  &__item
    flex-basis 182px
    
    @media $xs
      flex-grow 1