.employment-variants-swiper
  padding-bottom 11px
  
  &__slides
    align-items end
  
  &__slide
    width auto
  
  &__pagination
    margin-top 17px
    
    &:not(:has(:nth-child(2)))
      display none