.employment-variants
  &__info-title
    margin-bottom 10px
    
  &__items
    display flex
    flex-wrap wrap
    // align-items start
    // gap 8px
    gap 16px
    
  &__item
    // flex-basis 182px
    flex-basis 183px
    
    @media $xs
      flex-grow 1