.employment-variants-swiper
  padding-bottom 11px
  
  // &__slides
  //   align-items end
  
  &__slide
    width auto
    height auto
  
  &__item
    height 100%
  
  &__pagination
    margin-top 17px
    
    &:not(:has(:nth-child(2)))
      display none