.fancybox-popup
	@media $xs
		width 100%
		padding 16px
		border-top-right-radius 10px
		border-top-left-radius 10px
	
	@media $smPlus
		width 460px
		max-width 100%
		border-radius 24px
	
	&__label
		margin-bottom 20px
		
	&__title
		margin-bottom 16px
		padding-right 24px
		font-size 24px
		line-height 1.25
	
	&__client-name,
	&__client-phone
		font-size 16px
		line-height 1.625
	
	&__client-name
		font-weight 600
	
	&__client-phone
		outline none
		color var(--accent)
		text-decoration none
	
	&__client-info
		margin-bottom 24px
	
	&__status-line
		margin-bottom 20px
		margin-left 2px
	
	&__img-wrapper
		min-height 180px
		margin-bottom 26px
	
	&__user-level-avatar
		margin-right auto
		margin-left auto
	
	&__text
		font-size 15px
		line-height normal
		
		& > p
			& + p
				margin-top 32px
	
	&__text,
	&__large-text-interval
		a
			color #5340FF
			text-decoration none
			
	&__large-text-interval
		line-height 24px
	
	&__buttons
		display grid
		grid-template-columns repeat(auto-fill, minmax(194px, auto))
		justify-content center
		gap 38px
		margin-top 42px
	
	&__banks-list
		@media $xs
			margin-right -16px
			padding-right 16px
	
	&__tabs-menu
		margin-bottom 30px
		
		@media $xs
			margin-right 20px
	
	&__action-btns
		margin-top 25px
	
	&__btn-wrapper
		margin-top 32px
		
		@media $xs
			display grid
			grid-template-columns 100%
			margin-top 24px
	
	&__btn
		width 100%
	
	&__show-contacts-btn
		margin-top -14px
		
		@media $xs
			margin-top 9px
	
	&--wide
		text-align center
		
		.fancybox-popup__title
			margin-bottom 40px
			padding-right 0
			font-weight 500
			font-size 22px
			line-height normal
		
		@media $smPlus
			width 612px
	
	&--payment-systems
		max-height 75%
		border-radius 20px 20px 0 0
		box-shadow 0 0 24px rgba(15, 24, 42, 0.15)
		
		.fancybox-popup__title
			margin-bottom 12px
			font-weight 600
	
	&--award
		text-align center
		
		@media $xs
			padding-bottom 30px
		
		.fancybox-popup__img-wrapper
			position relative
			display grid
			grid-template-columns 100%
			place-items center
			margin -31px -20px 46px
			padding 50px 20px
			border-radius 24px 24px 0 0
			overflow hidden
			
			@media $xs
				margin -16px -16px 20px
				padding 30px 20px
				border-radius 10px 10px 0 0
			
			&::before
				content ""
				position absolute
				top 0
				right -70px
				bottom 0
				left -70px
				border-radius 0 0 56% 60%
				background-image linear-gradient(135deg, #d8cffe 0%, #f6d0b7 100%)
			
			&--dark-bg
				&::before
					background #525554
		
		.fancybox-popup__img
			position relative
			
			@media $xs
				width 145px
		
		.fancybox-popup__title
			margin-bottom 33px
			padding-right 0
			font-weight 600
			font-size 33px
			line-height normal
			
			@media $xs
				margin-bottom 20px
		
		.fancybox-popup__text
			width 544px
			max-width 100%
			margin-right auto
			margin-left auto
			line-height 1.6
		
		.fancybox-popup__buttons
			grid-template-columns 195px
			margin-top 62px
			
			@media $xs
				margin-top 30px
			
		@media $smPlus
			width 612px
	
	&--award-dark-bg
		&.fancybox-popup.fancybox__content
			.f-button.is-close-btn
				--f-button-color: var(--light)
				--f-button-hover-color: var(--light)
	
	&--user-profile
		height 100%
		background #101728
		overflow auto
		
		@media $xs
			padding-right 8px
			padding-bottom 56px
			padding-left 8px
	
	&.fancybox__content
		button.f-button.is-close-btn
			top 10px
			right 10px
			// right 18px
			--f-button-bg transparent
			--f-button-active-bg transparent
			--f-button-hover-bg transparent
			--f-button-svg-width 19px
			--f-button-svg-height 19px
			--f-button-width 37px
			--f-button-height 37px
				
	// &--closed-verification,
	// &--closed-user-profile,
	// &--profile-menu
	// 	&.fancybox__content
	// 		button.f-button.is-close-btn
	// 			--f-button-svg-width 19px
	// 			--f-button-svg-height 19px
	// 			--f-button-width 37px
	// 			--f-button-height 37px
	
	// &--closed-verification,
	// &--closed-user-profile
	// 	&.fancybox__content
	// 		button.f-button.is-close-btn
	// 			top 10px
	// 			right 18px
	
	&--additional-filters
		padding 0
		
		@media $smPlus
			// width 1032px
			// width 1068px
			width 1090px
			border-radius 16px
		
		@media $xs
			height 100vh
			border-radius 0
	
	&--cities
		@media $xs
			height 100vh
			border-radius 0
	
	&--share
		border-top-right-radius 16px
		border-top-left-radius 16px
		
		.fancybox-popup__title
			font-weight 600
			font-size 20px
			line-height 1.4
			
		.fancybox-popup__text
			margin 14px -16px 0
			padding 16px
			border-top 1px solid #DFE1ED
			color #666B80
			font-weight 400
			line-height 1.466666666666667
			
			& > p + p
				margin-top 8px
		
		.fancybox-popup__auth-btns
			margin-bottom 24px
			
		@media $xs
			// padding-bottom 8px
			padding-bottom 0
			
	&--filter-element
		@media $xs
			// padding-bottom 8px
			padding-bottom 0
	
	&--order-service,
	&--book-vacancy,
	&--employment
		@media $xs
			overflow auto
			border-radius 0
		
		&.fancybox-popup.fancybox__content
			padding-top 40px
			padding-bottom 40px
			
			button.f-button.is-close-btn
				--f-button-svg-width 24px
				--f-button-svg-height 24px
			
			@media $xs
				padding-top 32px
				padding-bottom 32px
		
		.fancybox-popup__img-wrapper
			margin-bottom 18px
		
		.fancybox-popup__img
			width 200px
			
		.fancybox-popup__title
			margin-bottom 16px
			font-weight 600
			font-size 24px
			line-height 1.167
		
		.fancybox-popup__text
			width 532px
			max-width 100%
			margin 0 auto 38px
			line-height 1.467
			text-align left
			
			@media $xs
				margin-bottom 15px
				
			& > p + p
				// margin-top 10px
				margin-top 12px
	
	&--tooltip-popup
		padding 24px 32px
		border-top-right-radius 16px
		border-top-left-radius 16px
		
		&.fancybox-popup.fancybox__content
			button.f-button.is-close-btn
				top 16px
		
		.fancybox-popup__title
			margin-bottom 18px
			padding-right 0
			font-weight 600
			font-size 20px
			line-height 1.4
		
		.fancybox-popup__text
			margin-bottom 26px
			color #666B80
			font-size 16px
			line-height 1.5
			
			& > p + p
				margin-top 16px
	
	&--employment
		@media $smPlus
			// width 720px
			width 750px
		
		.fancybox-popup__img-wrapper
			margin-bottom 25px
			
			@media $xs
				margin-bottom 24px
		
		.fancybox-popup__img
			width auto
			
			@media $xs
				width 266px
			
		.fancybox-popup__text
			// width 640px
			width 670px
			
			a
				color #5340FF
	
	&--add-employer,
	&--successfull-payment,
	&--error-payment
		@media $xs
			overflow auto
			border-radius 0
			
		.fancybox-popup__img-wrapper
			margin-bottom 20px
			
			@media $xs
				margin-bottom 16px
		
		.fancybox-popup__img
			@media $xs
				width 184px
			
		.fancybox-popup__title
			margin-bottom 14px
			font-weight 600
			font-size 24px
		
		.fancybox-popup__text
			margin-bottom 16px
			line-height 1.467
			text-align left
			
			& > p + p
				margin-top 8px
	
	&--successfull-payment,
	&--error-payment
		.fancybox-popup__title
			margin-bottom 16px
			
		.fancybox-popup__text
			width 520px
			max-width 100%
			margin-right auto
			margin-left auto
			text-align center
	
	&--error-payment
		.fancybox-popup__buttons
			width 471px
			max-width 100%
			margin 32px auto 0
			grid-template-columns repeat(2, 1fr)
			gap 12px
			
			@media $xxs
				grid-template-columns 100%
		
	&.fancybox__content
		button.f-button.is-close-btn
			@media $xs
				top 7px
				right 7px
				--f-button-svg-width 24px
				--f-button-svg-height 24px
				--f-button-width 42px
				--f-button-height 42px
		
		&.fancybox-popup--closed-section,
		&.fancybox-popup--user-profile
			button.f-button.is-close-btn
				top 10px
				right 10px
				--f-button-svg-width 27px
				--f-button-svg-height 27px
				--f-button-width 46px
				--f-button-height 46px
				
				@media $425-
					top 7px
					right 7px
					--f-button-svg-width 24px
					--f-button-svg-height 24px
					--f-button-width 42px
					--f-button-height 42px