.fancybox-close-button
	position absolute
	top 18px
	right 18px
	width 24px
	height 24px
	border none
	outline none
	border-radius 50%
	background none
	color #B8BBCA
	cursor pointer
	@extend .transition
	
	&:hover
		color #989db2