.fancybox-popup
	@media $xs
		width 100%
		padding 16px
		border-top-right-radius 10px
		border-top-left-radius 10px
	
	@media $smPlus
		// width 460px
		width 460px
		max-width 100%
		border-radius 24px
		
	&__title
		margin-bottom 16px
		padding-right 24px
		font-size 24px
		line-height 1.25
	
	&__client-name,
	&__client-phone
		font-size 16px
		line-height 1.625
	
	&__client-name
		font-weight 600
	
	&__client-phone
		outline none
		color var(--accent)
		text-decoration none
	
	&__client-info
		margin-bottom 24px
	
	&__status-line
		margin-bottom 20px
		margin-left 2px
		// margin-left 5px
	
	&__img-wrapper
		min-height 180px
		margin-bottom 26px
		// margin-bottom 30px
	
	&__user-level-avatar
		margin-right auto
		margin-left auto
	
	&__text
		font-size 15px
		line-height normal
		
		& > p
			& + p
				margin-top 32px
	
	&__large-text-interval
		line-height 24px
		
		a
			color #5340FF
			text-decoration none
	
	&__buttons
		display grid
		grid-template-columns repeat(auto-fill, minmax(194px, auto))
		justify-content center
		gap 38px
		margin-top 42px
	
	&__banks-list
		@media $xs
			margin-right -16px
			padding-right 16px
	
	&__tabs-menu
		margin-bottom 30px
		
		@media $xs
			margin-right 20px
	
	&--wide
		text-align center
		
		.fancybox-popup__title
			margin-bottom 40px
			padding-right 0
			font-weight 500
			font-size 22px
			line-height normal
		
		@media $smPlus
			width 612px
	
	&--payment-systems
		border-radius 20px 20px 0 0
		box-shadow 0 0 24px rgba(15, 24, 42, 0.15)
		
		.fancybox-popup__title
			margin-bottom 12px
			font-weight 600
	
	&--award
		text-align center
		
		// &.fancybox__content
		// 	button.f-button.is-close-btn
		// 		opacity 0.3
		
		.fancybox-popup__img-wrapper
			position relative
			display grid
			grid-template-columns 100%
			place-items center
			margin -31px -20px 46px
			padding 50px 20px
			border-radius 24px 24px 0 0
			overflow hidden
			// border-bottom-right-radius 50%
			// border-bottom-left-radius 50%
			// background-image linear-gradient(90deg, #d8cffe 0%, #f6d0b7 100%)
			
			&::before
				content ""
				position absolute
				top 0
				right -70px
				bottom 0
				left -70px
				border-radius 0 0 56% 60%
				// border-bottom-right-radius 50%
				// border-bottom-left-radius 50%
				background-image linear-gradient(135deg, #d8cffe 0%, #f6d0b7 100%)
			
			&--dark-bg
				&::before
					background #525554
		
		.fancybox-popup__img
			position relative
		
		.fancybox-popup__title
			margin-bottom 33px
			padding-right 0
			font-weight 600
			font-size 33px
			line-height normal
		
		.fancybox-popup__text
			// width 500px
			width 544px
			max-width 100%
			margin-right auto
			margin-left auto
			line-height 1.6
		
		.fancybox-popup__buttons
			// grid-template-columns 100%
			// justify-items center
			grid-template-columns 195px
			margin-top 62px
			
		@media $smPlus
			width 612px
	
	&--award-dark-bg
		&.fancybox-popup.fancybox__content
			.f-button.is-close-btn
				--f-button-color: var(--light)
				--f-button-hover-color: var(--light)
		
	// &--authorization
	// 	&.fancybox-popup.fancybox__content
	// 		.f-button.is-close-btn
	// 			--f-button-color: var(--light)
	// 			--f-button-hover-color: var(--light)
	
	&--user-profile
		height 100%
		background #101728
		
		@media $xs
			padding-right 8px
			padding-bottom 56px
			padding-left 8px
	
	&--additional-filters
		padding 0
		
		@media $smPlus
			width 1032px
			border-radius 16px
		
		@media $xs
			height 100vh
			// height calc(var(--vh, 1vh) * 100)
			border-radius 0
	
	&--share
		@media $xs
			padding-bottom 8px