.fancybox
	&--popup
		--fancybox-bg: rgba(0, 0, 0, 0.6)
	
		@media $xs
			.fancybox__slide
				padding 0
				justify-content end
				
				&::before,
				&::after
					display none
			
		.fancybox__content
			@media $smPlus
				padding 1.3rem 2rem
				
			.f-button.is-close-btn
				top 18px
				right 12px
				--f-button-width: 24px
				--f-button-height: 24px
				--f-button-svg-width: 15px
				--f-button-svg-height: 15px
				--f-button-border-radius: 50%
				--f-button-bg: rgba(0, 0, 0, 0.45)
				--f-button-hover-bg: rgba(0, 0, 0, 0.6)
				
				@media $smPlus
					right 18px