.filter-element
	@media $xxs
		// padding 22px 16px
		padding 0 16px 30px
		
	&__title
		// margin-bottom 1em
		margin-bottom 28px
		font-weight 600
		font-size 16px
		line-height 1.625
		
		@media $xxs
			font-size 17px