.filter
	display grid
	grid-template-columns 100%
	// gap 13px
	gap 11px
	padding-top 12px
	padding-bottom 12px
	background var(--user-profile-bg)
	
	@media $xxs
		gap 9px
		// gap 12px
	
	&__top,
	&__bottom
		display grid
		gap 12px
		justify-content space-between
		
		@media $xlMinus
			gap 7px
		
	&__top
		// grid-template-columns 17% 17% 17% 11% 10% auto
		// grid-template-columns 17% 10.7% 17.6% 11% 10% auto
		// grid-template-columns 17% 10.7% 17.6% 9.9% 11% 6% auto
		grid-template-columns 14% 11% 13% 9% 9% 9% 6% auto
		justify-content start
		align-items start
		
		@media $xlMinus
			// grid-template-columns 16% 16% 15% 11% 10% 6% auto
			// grid-template-columns 17% 10.7% 17.6% 9.9% 11% 6% auto
			// grid-template-columns 14% 13% 13% 11% 10% 8% 7% auto
			grid-template-columns 14% 11% 13% 9% 9% 9% 7.5% auto
			justify-content space-between
		
		@media $mdMinus
			grid-template-columns repeat(3, 1fr)
		
		@media $xs
			grid-template-columns repeat(2, 1fr)
		
		// @media $xxs
		// 	grid-template-columns 100%
	
	&__item
		position relative
		
		@media $xxs
			display grid
		
		&--buttons
			display grid
			grid-template-columns repeat(2, auto)
			align-items center
			gap 12px
		
	&__bottom
		// grid-template-columns repeat(2, auto)
		grid-template-columns auto 1fr auto
		align-items center
		// align-items start
		gap 18px
		
		@media $xs
			grid-template-columns 100%
			// grid-template-columns repeat(2, 1fr)
		
		@media $xxs
			display grid
			// grid-template-columns repeat(2, auto)
			grid-template-columns repeat(2, 1fr)
			align-items center
			// gap 4px
			gap 8px
			// margin-right -16px
	
	&__clear-link
		margin-top 0.6em
		margin-right 0.8em
	
	&__clear-btn
		margin-top 2px
		// margin-right 26px
		margin-right 18px
		margin-left auto
	
	&__countries-select
		width 138px
		
		@media $xlMinus
			width 100%
	
	&__cities-select
		width 100%
	
	&__currencies-select
		width 80px
	
	&__tags-selects
		display grid
		grid-template-columns repeat(2, auto)
		// gap 20px
		gap 13px
		margin-top 3px
		
		@media $xxs
			grid-template-columns 100%
			margin-top 0
	
	&__experience-select
		width 120px
		
		@media $xxs
			width 100%
	
	&__sex-select
		width 128px
		
		@media $xxs
			width 100%