.filters-btn
  display inline-flex
  align-items center
  justify-content center
  border none
  outline none
  background transparent
  cursor pointer

  &__lottie-player
    width 30px
    pointer-events none