.find-vacancy-section
  text-align center

  &__title
    margin-bottom 13px
  
  &__text
    margin-bottom 70px

    @media $smMinus
      margin-bottom 50px

    @media $xs
      margin-bottom 36px
  
  &__subtitle
    margin-bottom 38px

    @media $smMinus
      margin-bottom 30px