.form-search-box
	position relative
	
	&__clear-btn
		position absolute
		top 0
		right 0
		bottom 0
		width 36px
		height 36px
		margin auto
		border none
		outline none
		background url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17L17 1M1 1L17 17' stroke='%2379828f' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center / 12px no-repeat
		cursor pointer
		display none
		
		@media $xs
			width 40px
			height 40px
			background-size 14px
		
		&--visible
			display block