.grey-bg-title
  display inline-flex
  padding 10px 45px
  border-radius 12px
  background rgb(243 243 252)
  font-weight 600
  font-size 22px
  line-height normal

  @media $smMinus
    font-size 20px

  @media $xs
    font-size 18px