.header
	&__container,
	&__right
		display grid
		grid-template-columns repeat(2, auto)
		align-items center
		gap 32px
		
	&__container
		justify-content space-between
		padding-top 18px
		padding-bottom 18px