.hero-section
	&__container
		display grid
		// grid-template-columns 1fr auto
		// grid-template-columns 450px auto
		grid-template-columns 1fr 602px
		// align-items center
		justify-content space-between
		align-items start
		// gap 80px
		gap 80px
		
		@media $mdMinus
			grid-template-columns repeat(2, 1fr)
			gap 60px
			
		@media $smMinus
			gap 40px
			
		@media $xs
			grid-template-columns 100%
			gap 18px
	
	&__text-wrapper
		margin-bottom 39px
	
	&__title
		// margin-bottom 24px
		margin-bottom 39px
		
		@media $xs
			margin-bottom 16px
	
	&__text
		// margin-bottom 32px
		margin-bottom 45px
		
		@media $xs
			margin-bottom 24px
	
	&__img-wrapper
		margin-top 14px
		text-align center
		
		@media $xs
			order -1
	
	&__img
		// width 657px
		width 602px
		vertical-align middle
		
		@media $smPlus
			height 220px
			
		@media $md
			height 369px
	
	&__video-wrapper
		@media $smPlus
			display grid
			align-content center
			height 369px
			border-radius 16px
			overflow hidden
	
	&__video
		@media $smPlus
			justify-self center
			min-width 100%
			height 369px
		
		@media $xs
			max-width 100%
			border-radius 16px
	
	&__btn-wrapper
		@media $xs
			text-align center
	
	&__btn
		@media $xs
			width 300px