.highlighted-text
	display inline-grid
	padding 5px 10px
	border-radius 10px
	background #DBF1BF
	color var(--accent)
	font-size 20px
	
	@media $xs
		font-size 18px
	
	&--beige
		background #FAE2C6
	
	&--pink
		padding 5px 7px
		background #f9e4e2