.hint
	position relative
	display inline-grid
	grid-template-columns auto 1fr
	align-items center
	gap 6px
	font-weight 400
	font-size 14px
	color #666B80
	text-decoration none
	overflow hidden
	
	&::before
		content ""
		width 16px
		height 16px
		margin-top 3px
		background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cg stroke='%23989DB3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' clip-path='url(%23a)'%3E%3Cpath d='M14.14 10.593a6.666 6.666 0 1 1-8.807-8.706'/%3E%3Cpath d='M14.667 8A6.667 6.667 0 0 0 8 1.333V8h6.667Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat
	
	&__text
		position relative
		cursor pointer
		
		&::after
			content ""
			position absolute
			right 0
			bottom 2px
			left 0
			border-bottom 1px dashed #666B80
			@extend .transition
	
		&:hover
			&::after
				border-bottom-color transparent
	
	&__tooltip
		position absolute
		z-index 100
		top 50%
		transform translateY(-50%)
		left 100%
		
		&.tooltip--visible
			left calc(100% + 14px)
	
	// &__tooltip
	// 	position absolute
	// 	z-index 100
	// 	transition none
		
	// 	&--right.tooltip--visible
	// 		top 50%
	// 		transform translateY(-50%)
	// 		// left 100%
	// 		left calc(100% + 14px)
			
	// 	&--bottom.tooltip--visible
	// 		top 100%
	// 		transform translateX(-50%)
	// 		left 50%
	// 		// left calc(100% + 14px)
	
	&--tooltip-visible
		overflow visible