.homepage
	padding-top 94px
	padding-bottom 160px
	
	@media $xs
		padding-top 88px
		padding-bottom 52px
	
	&__hero-section
		margin-bottom 156px
		
		@media $xs
			margin-bottom 72px
	
	&__steps-section
		margin-bottom 159px
		
		@media $xs
			margin-bottom 70px
	
	&__people-section
		margin-bottom 160px
		
		@media $xs
			margin-bottom 72px
	
	&__statistics-section
		margin-bottom 160px
		
		@media $xs
			margin-bottom 72px
	
	&__testimonials-section
		margin-bottom 160px
		
		@media $xs
			margin-bottom 72px