.ideas
	&__title
		margin-bottom 40px
		
		@media $smMinus
			margin-bottom 30px
		
		@media $xs
			margin-bottom 20px
		
	&__content
		padding 40px 35px
		background var(--light)
		
		@media $smMinus
			padding 30px
		
		@media $xs
			padding 20px
	
	&__content-inner
		width 1000px
		max-width 100%
		margin-right auto
		margin-left auto
	
	&__text-wrapper
		font-weight 400
		
		p
			margin-bottom 15px
			line-height normal
			
			a
				color var(--light-blue)
				text-decoration none
			
			&:last-child
				margin-bottom 0
	
	&__img-wrapper
		margin-bottom 35px
		text-align center
		
		@media $smMinus
			margin-bottom 30px
		
		@media $xs
			margin-bottom 25px
	
	&__img
		vertical-align middle
	
	&__subtitle
		margin-top 35px
		margin-bottom 30px
		text-align center
		font-weight 500
		font-size 16px
		
		@media $smMinus
			margin-top 30px
			margin-bottom 25px
		
		@media $xs
			margin-top 20px
			margin-bottom 20px
	
	&__contact-buttons
		margin-top 50px
		
		@media $smMinus
			margin-top 35px
		
		@media $xs
			margin-top 20px