.label
  display inline-flex
  justify-content center
  align-items center
  padding 0 8px
  border-radius 4px
  background #F0F4FA
  color #666B80
  font-size 13px
  line-height 1.692
  text-align center
  
  &--pink-bg
    background #F3D9D9