.like-block
  display grid
  grid-template-columns auto auto
  justify-content start
  align-items center
  gap 7px
  color #666B80
  font-size 13px
  line-height 1.69230769
  text-decoration none

  &--review
    .like-block__count
      @media $xs
        color #515569