.link
	font-size 14px
	color var(--light-blue)
	text-decoration none
	
	&--info
		color var(--info)
		font-size 16px
		line-height 1.625
	
	&--success
		color #1EB200
	
	&--clear-filter
		font-weight 600
		// font-family var(--graphik-lcg)
	
	&--promo-block
		outline none
		color var(--info)
		font-size 15px
		line-height 1.6
		
		@media $xs
			font-size 16px
	
	&--promo-block-more
		position relative
		z-index 2
		display grid
		align-items center
		gap 8px
		
		@media $smPlus
			// grid-template-columns 1fr auto
			grid-template-columns repeat(2, auto)
			justify-content start
		
		@media (min-width: 1024px) and (max-width: 1199px)
			grid-template-columns 100%
		
		&::after
			@media $smPlus
				content ""
				position relative
				left 0
				width 14px
				height 14px
				background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' viewBox='0 0 14 14'%3E%3Cpath stroke='%235340FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M.75 7h12.5m0 0L7.625 1.375M13.25 7l-5.625 5.625'/%3E%3C/svg%3E") 0 0 no-repeat
				@extend .transition
		
			@media (min-width: 1024px) and (max-width: 1199px)
				display none
		
		&:hover
			&::after
				left 10px
		
	&--vacancy-card-more
		position relative
		z-index 2
		display inline-grid
		grid-template-columns repeat(2, auto)
		align-items center
		gap 4px
		
		@media $xs
			display grid
			justify-content center
			padding 12px 16px 0
			font-size 15px
		
		&::after
			content ""
			position relative
			left 0
			width 10px
			height 6px
			background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' fill='none'%3E%3Cpath stroke='%235340FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='m1 1 4 4 4-4'/%3E%3C/svg%3E") center no-repeat
			@extend .transition
	
	&--vacancy-card-more-expanded
		&::after
			transform rotate(180deg)
	
	&--more
		display inline-grid
		grid-auto-flow column
		color var(--info)
		font-weight 500
		font-size 15px
		line-height 1.46667

		&::after
			content ''
			width 16px
			height 16px
			margin-top 2px
			background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath stroke='%235340FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='m4 7 4 4 4-4'/%3E%3C/svg%3E") center no-repeat
	
	&--arrow-right
		display grid
		grid-template-columns repeat(2, auto)
		justify-content start
		align-items center
		gap 8px

		&::after
			content ""
			position relative
			left 0
			width 14px
			height 14px
			background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' viewBox='0 0 14 14'%3E%3Cpath stroke='%235340FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M.75 7h12.5m0 0L7.625 1.375M13.25 7l-5.625 5.625'/%3E%3C/svg%3E") 0 0 no-repeat
			@extend .transition
		
		&:hover
			&::after
				left 10px
	
	&--white
		color #fff

		&.link--arrow-right
			&::after
				background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' viewBox='0 0 14 14'%3E%3Cpath stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M.75 7h12.5m0 0L7.625 1.375M13.25 7l-5.625 5.625'/%3E%3C/svg%3E")