.link-box
  display flex
  justify-content center
  align-items center
  width 88px
  height 88px
  border-radius 8px
  background #f8f9fa
  color #4b97f9
  font-weight 600
  font-size 16px
  text-decoration none
  
  @media $xs
    width 120px
    height 120px