.logos-section
	&__title
		margin-bottom 12px
	
	&__text
		margin-bottom 60px
		
		@media $mdMinus
			margin-bottom 45px
		
		@media $smMinus
			margin-bottom 30px
		
		@media $xs
			margin-bottom 20px