.logout-link
	display inline-grid
	width 16px
	height 16px
	background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='enable-background:new 0 0 24 24' viewBox='0 0 24 24'%3E%3Cpath d='M7.6 12H22M11.9.8H4.5C3.1.8 2 1.9 2 3.2v17.5c0 1.4 1.1 2.5 2.5 2.5h7.4m6.3-15L22 12l-3.8 3.8' style='fill:none;stroke:%23fff;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10'/%3E%3C/svg%3E") center center no-repeat
	
	&--black
		background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M15 2h4.667c.618 0 1.212.234 1.65.65.437.418.683.983.683 1.572v15.556a2.17 2.17 0 0 1-.683 1.571 2.394 2.394 0 0 1-1.65.651H15M10 18l5-6-5-6M15 12H2'/%3E%3C/svg%3E");
	
	&--large
		width 24px
		height 24px