.mainpage
	// padding-top 94px
	padding-top 178px
	padding-bottom 160px
	
	@media $smMinus
		padding-top 94px
	
	@media $xs
		padding-top 88px
		padding-bottom 52px
	
	&__hero-section
		// margin-bottom 156px
		margin-bottom 85px
		
		@media $xs
			margin-bottom 72px
		
		&--recruitment-landing
			margin-bottom 40px
	
	&__steps-section
		margin-bottom 149px
		
		@media $xs
			margin-bottom 70px
	
	&__people-section
		margin-bottom 150px
		
		@media $xs
			margin-bottom 72px
	
	&__statistics-section
		margin-bottom 160px
		
		@media $xs
			margin-bottom 72px
		
		&:last-child
			margin-bottom 0
	
	&__testimonials-section
		// margin-bottom 160px
		margin-bottom 117px
		
		@media $xs
			margin-bottom 72px
	
	&__logos-section
		margin-bottom 152px
		
		@media $mdMinus
			margin-bottom 120px
		
		@media $smMinus
			margin-bottom 85px
		
		@media $xs
			margin-bottom 50px
	
	&__recruitment-section
		margin-bottom 40px
		
		@media $md
			margin-bottom 80px
	
	&--recruitment-landing
		padding-bottom 0
		
		@media $smMinus
			padding-top 60px
		
		@media $md
			padding-top 130px