.mainpage
	// padding-top 94px
	padding-top 178px
	padding-bottom 160px
	
	@media $smMinus
		padding-top 94px
	
	@media $xs
		padding-top 88px
		padding-bottom 52px
	
	&__hero-section
		// margin-bottom 156px
		margin-bottom 85px
		
		@media $xs
			margin-bottom 72px
	
	&__steps-section
		margin-bottom 149px
		
		@media $xs
			margin-bottom 70px
	
	&__people-section
		margin-bottom 150px
		
		@media $xs
			margin-bottom 72px
	
	&__statistics-section
		margin-bottom 160px
		
		@media $xs
			margin-bottom 72px
	
	&__testimonials-section
		margin-bottom 160px
		
		@media $xs
			margin-bottom 72px
	
	&__logos-section
		margin-bottom 152px
		
		@media $mdMinus
			margin-bottom 120px
		
		@media $smMinus
			margin-bottom 85px
		
		@media $xs
			margin-bottom 50px