.media-upload-box
  &.dz-started
    display grid
    grid-template-columns repeat(auto-fill, minmax(84px, 1fr))
    gap 12px

    .media-upload-button__full-text
      display none
    
    .media-upload-button__text
      display block