.media-upload-box
  &.dz-started
    display grid
    grid-template-columns repeat(auto-fill, minmax(84px, 1fr))
    gap 12px

    .media-upload-button
      height 84px
      
      &__full-text
        display none
      
      &__text
        display block