.mini-gallery
  display grid
  grid-template-columns repeat(2, auto)
  justify-content start
  align-items center
  gap 6px
  
  &__imgs
    display flex
  
  &__img
    width 28px
    height 28px
    border 2px solid var(--light)
    border-radius 6px
    
    & + .mini-gallery__img
      margin-left -12px
    
    &:last-child
      @media (min-width: 1024px) and (max-width: 1199px)
        display none
  
  &__more-text
    color var(--grey)