.mini-gallery
  // display grid
  // grid-template-columns repeat(2, auto)
  // justify-content start
  // align-items center
  // gap 6px
  text-decoration none

  &__title
    margin-bottom 3px
    color var(--grey)
    font-size 13px
    line-height 22px
  
  &__imgs
    position relative
    display flex
    // max-width 80px
    max-width 154px
    overflow hidden

    &:has(.mini-gallery__more-number)
      &::after
        content ''
        position absolute
        z-index 1
        top 2px
        right 0
        width 32px
        height 32px
        background rgba(0, 0, 0, 0.5)
        border-radius 5.33px
  
  &__img
    // width 28px
    // height 28px
    width 36px
    height 36px
    // border 2px solid var(--light)
    border 2.67px solid var(--light)
    // border-radius 6px
    border-radius 5.33px
    
    & + .mini-gallery__img
      margin-left -16px
    
    &:nth-child(7)
      z-index 1
    
    &:nth-child(8)
      margin-left 0
    
    &:last-child
      @media (min-width: 1024px) and (max-width: 1199px)
        display none
  
  &__more-text
    color var(--grey)
  
  &__more-number
    position absolute
    z-index 2
    top 7px
    right 0
    width 32px
    font-weight 600
    font-size 11px
    line-height 22px
    color #fff
    text-align center

    @media $xs
      font-weight 700
  
  &--vacancy,
  &--review
    .mini-gallery__img
      width 54px
      height 54px
      border-width 4px
      border-radius 8px

      & + .mini-gallery__img
        margin-left -24px
      
      &:last-child
        @media (min-width: 1024px) and (max-width: 1199px)
          display block
    
    .mini-gallery__img-link
      & + .mini-gallery__img-link
        margin-left -24px
      
      &:last-child
        @media (min-width: 1024px) and (max-width: 1199px)
          display block
    
    .mini-gallery__imgs
      max-width 231px

      &:has(.mini-gallery__more-number)
        &::after
          // top 2px
          // right 0
          width 48px
          height 48px
          border-radius 8px
    
    .mini-gallery__more-number
      top 10px
      width 48px
      font-size 16px
      line-height 33px