.mobile-header
	position fixed
	z-index 10
	top 0
	right 0
	left 0
	display grid
	grid-template-columns repeat(3, auto)
	justify-content space-between
	align-items center
	height 56px
	padding 11px 17px 7px
	background var(--accent)
	
	&__support-icon
		vertical-align middle
	
	&__menu-hamburger,
	&__support-link
		margin-top -5px
	
	&--light
		background var(--light)