.no-operations
	padding 90px 0 110px
	text-align center
	
	@media $1440-
		padding 70px 0 90px
	
	&__icon-wrapper
		display grid
		place-items center
		width 160px
		height 160px
		margin 0 auto 52px
		border-radius 50%
		background #F7F7F7
		
		@media $1440-
			width 140px
			height 140px
			margin-bottom 35px
	
	&__icon
		width 64px
		
		@media $1440-
			width 56px