.operations-table
	width 100%
	border-collapse collapse
	// padding 18px 15px
	// padding 18px 0
	border-radius 10px
	background var(--light)
	
	&__thead
		position relative
		
		&::after
			content ""
			position absolute
			right 16px
			bottom 0
			left 16px
			height 1px
			background var(--grey-medium)
	
	&__th
		padding-top 18px
		// padding-left 5px
		// border-bottom 1px solid var(--grey-medium)
		color var(--grey)
		// font-weight 400
		font-size 13px
		text-align left
		
		&--datetime-id
			width 124px
			padding-left 20px
		
		&--type
			width 8.6%
			text-align center
		
		&--category
			width 14.5%
		
		&--sum
			width 13.2%
		
		&--balance
			width 13.2%
		
		&--status
			width 14.6%
		
		&--details
			@media $mdMinus
				padding-left 10px
	
	&__row
		&:first-child
			.operations-table__td
				padding-top 31px
				
		&:nth-child(even)
			background #FAFAFA
	
	&__td
		padding 14px 0
		
		&--datetime-id
			padding-right 10px
			text-align right
			
			@media $mdMinus
				padding-left 5px
		
		&--type
			text-align center
		
		&--details
			padding-right 30px
			
			@media $mdMinus
				padding-right 15px
				padding-left 10px
	
	&__datetime
		line-height normal
	
	&__id
		color #A5A9BC
		font-size 12px
		line-height normal
	
	&__sum
		font-size 15px
		color var(--green)
		
		&--negative
			color var(--brown)
	
	&__type
		line-height normal
	
	&__bank
		font-size 13px
		line-height normal
		color var(--grey)
	
	&__details
		font-size 13px
		line-height normal
		
		& > a
			color var(--accent)
			
			&:hover
				text-decoration none