.operation-link
	display inline-grid
	padding 3px 27px
	background #EBE9F0
	border-radius 7px
	color var(--accent)
	text-align center
	text-decoration none
	@extend .transition
	
	@media $1440-
		font-size 14px
	
	&:hover
		background var(--light-green)