.operation-link
	display inline-grid
	padding 3px 27px
	background #EBE9F0
	border-radius 7px
	color var(--accent)
	text-align center
	text-decoration none
	white-space nowrap
	@extend .transition
	
	@media $1440-
		font-size 14px
	
	@media $xs
		padding 2px 32px
		border-radius 10px
		font-size 17px
	
	&:hover
		background var(--light-green)