.operations-page
	&__title
		margin-bottom 40px
		
		@media $smMinus
			margin-bottom 30px
		
		@media $xs
			margin-bottom 20px
	
	&__wallets
		margin-bottom 97px
		
		@media $1440-
			margin-bottom 70px
	
	&__wallets-swiper
		// margin -27px -17px 4px
		margin -27px -17px 10px
	
	&__preloader-wrapper
		display grid
		grid-template-columns 100%
		justify-items center
	
	&__withdrawal-funds
		@media $xs
			margin-right -17px
			margin-left -17px
	
	&--withdrawal-funds
		.operations-page__wallets
			margin-bottom 70px
		
		.operations-page__wallets-swiper
			@media $xs
				margin-bottom 0