.page-title
	font-weight 600
	font-size 32px
	line-height 1.25
	
	@media $smMinus
		font-size 28px
		
	@media $xs
		font-size 24px
	
	&--affiliate
		@media $1440-
			font-size 28px
			
		@media $smMinus
			font-size 26px
			
		@media $xs
			font-size 24px