.partner-info
	display grid
	grid-template-columns auto 1fr
	align-items center
	gap 10px
	
	@media $xs
		gap 7px
	
	&__img
		width 34px
		border-radius 50%
		
		@media $xs
			width 20px
	
	&__name
		font-size 16px
		line-height 1.625
	
	&__date,
	&__datetime-and-id
		font-size 13px
		line-height 22px
		color var(--grey)
	
	&--mobile
		// gap 3px 10px
		gap 0 8px
		
		.partner-info__img
			grid-row 1 / 3
			// width 46px
			width 32px
		
		.partner-info__name
			margin-bottom -4px