.partners-table
	width 100%
	// padding 15px 30px
	// padding 15px 25px
	padding 15px 0
	border-spacing 0
	background var(--light)
	border-radius 12px
	
	&__caption
		margin-bottom 8px
		font-weight 600
		text-align left
		
		@media $xs
			font-size 16px
			line-height 1.625
	
	&__th
		padding-bottom 6px
		border-bottom 1px solid var(--grey-medium)
		text-align left
		font-weight 500
		font-size 13px
		line-height 1.6923
		color var(--grey)
		
		&:first-child
			padding-left 25px
		
		&:last-child
			padding-right 25px
		
		&--date
			// width 142px
			// width 100px
			// width 194px
			// width 16.3%
			width 17.8%
			
		&--name
			// width 262px
			// width 191px
			// width 16.3%
			width 15.5%
			
		&--id
			// width 130px
			width 192px
		
		// &--influence-and-awards
		// 	width 200px
		
		&--profit
			width 14.1%
			// width 176px
			// width 15%
			// width 130px
			// text-align right
		
		&--currency
			// width 80px
			// width 120px
			// width 10.2%
			width 10%
			
		&--history
			// width 140px
			// width 209px
			// width 17.7%
			width 19%
		
		&--profit-and-date,
		&--profit-and-awards
			text-align right
		
		&--country
			width 10%
		
		&--remuneration
			// width 16.7%
			// width 15.9%
			width 16.2%
		
		&--status
			// width 14.4%
			width 15.8%
			
			@media $1440-
				width 18%
	
	&__td
		// padding 15px 0
		padding 11px 0
		vertical-align middle
		
		&--profit-and-date,
		&--profit-and-awards
			text-align right
	
	&__no-operations
		padding-left 10px
		color rgba(#0f182a, .33)
		
		@media $xs
			// margin-top 10px
			// margin-top 3px
			font-size 12px
	
	&__body
		.partners-table__row
			.partners-table__td
				&:first-child
					padding-left 25px
				
				&:last-child
					padding-right 25px
				
			&:first-child
				.partners-table__td
					padding-top 27px
					// padding-top 22px
			
			&:nth-child(even)
				.partners-table__td
					background #FAFAFA
	
	&__email,
	&__profit
		font-size 16px
		line-height 26px
	
	&__datetime-and-id
		max-width 100px
		text-align right
	
	&__influence-and-awards
		display grid
		grid-template-columns auto 34px
		align-items center
		justify-content start
		gap 21px
		margin-left 19px
	
	&__award-img-wrapper
		display grid
		grid-template-columns 100%
		place-items center
	
	&__award-img,
	&__award-number
		grid-area 1 / 1 / 2 / 2
	
	&__award-img
		opacity 0.2
	
	&__award-number
		color #A2A2A2
		font-weight bold
		font-size 11px
	
	&__id
		font-size 13px
		line-height 22px
		color var(--grey)
	
	&__date
		@media $smPlus
			margin-bottom -6px
			
		@media $xs
			margin-top 10px
			margin-left 27px
			line-height normal
	
	&__more-btn
		@media $xs
			// margin-top 5px
			margin-top 3px
	
	&__vacancy
		margin-bottom -5px
	
	&__agency
		color #989DB2
		font-size 13px
	
	// &__remuneration
	// 	margin-top -10px
	
	&__zl
		margin-bottom -5px
	
	&__eur
		margin-left -4px
		color #989DB2
		font-weight 400
		font-size 13px
	
	&__status
		// margin-top -14px
		margin-top -3px
	
	&__no-partners
		margin 66px 0
	
	&--recruitment
		.partners-table__th
			&--date
				// width 13%
				width 14.5%
			
			&--name
				// width 9.5%
				width 9.1%
		
		.partners-table__body
			.partners-table__row:first-child
				.partners-table__td
					padding-top 15px
		
		.partners-table__td
			padding 13px 0
	
	&--documents
		.partners-table__th
			&--date
				// width 13%
				width 14.4%
			
			&--name
				// width 9.5%
				width 9.2%
		
		.partners-table__body
			.partners-table__row:first-child
				.partners-table__td
					padding-top 16px
		
		.partners-table__td
			padding 6px 0
		
		.partners-table__datetime-and-id
			margin-top 10px
	
	&--mobile
		width calc(100% + 34px)
		// padding 8px 14px
		padding 8px 0
		
		.partners-table__caption
			margin-bottom 15px
			margin-left 17px
		
		.partners-table__body
			.partners-table__row
				.partners-table__td
					&:first-child
						padding-left 18px
					
					&:last-child
						padding-right 16px
					
				&:first-child
					.partners-table__td
						// padding-top 10px
						// padding-top 11px
						padding-top 20px
		
		.partners-table__th
			padding-top 5px
			padding-bottom 12px
			
			&:first-child
				padding-left 18px
			
			&:last-child
				padding-right 16px
		
		.partners-table__td
			padding 20px 0
			vertical-align top
		
		.partners-table__info
			margin-bottom 10px
		
		.partners-table__no-operations
			padding-left 0
			font-size 15px
			line-height 1.6
			color var(--grey)
		
		.partners-table__profit
			margin-top 2px
			margin-bottom 24px
		
		.partners-table__influence-and-awards
			grid-template-columns auto 32px
			gap 8px
			justify-content end
			margin-left 0