.password-recovery
	padding 45px 20px
	border-radius 24px
	background var(--user-profile-bg)
	
	&__form,
	&__text-wrapper
		max-width 100%
		margin-right auto
		margin-left auto
	
	&__form
		width 430px
	
	&__text-wrapper
		width 590px
	
	&__text
		text-align center
		
		& > p
			margin-bottom 25px
			
			&:last-child
				margin-bottom 0
	
	&__buttons
		margin-top 40px
		margin-right 15px
	
	&__field
		margin-bottom 45px
	
	&__actions
		text-align center