.payment-label
	display grid
	grid-template-columns auto 1fr
	align-items center
	gap 8px
	color #70AD22
	font-weight 600
	font-size 16px
	line-height 1.5
	
	&::before
		content ""
		width 20px
		height 20px
		background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cg stroke='%2370AD22' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' clip-path='url(%23a)'%3E%3Cpath d='M17.675 13.242A8.335 8.335 0 1 1 6.667 2.358'/%3E%3Cpath d='M18.333 10A8.333 8.333 0 0 0 10 1.667V10h8.333Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center / cover no-repeat