.payment-systems
	&__title
		margin-bottom 10px
		margin-left 3px
		color #575D69
		font-weight 500
		font-size 15px
	
	&__items
		display grid
		grid-template-columns repeat(auto-fit, minmax(162px, auto))
		justify-content start
		gap 15px 8px
		width 1050px
		max-width 100%