.play-icon
	display inline-grid
	width 40px
	height 40px
	background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none' viewBox='0 0 40 40'%3E%3Crect width='39' height='39' x='.5' y='.5' fill='%230F182A' fill-opacity='.6' rx='19.5'/%3E%3Cpath stroke='%23fff' d='M25.406 19.578a.5.5 0 0 1 0 .844L17.268 25.6a.5.5 0 0 1-.768-.422V14.822a.5.5 0 0 1 .768-.422l8.138 5.178Z'/%3E%3Crect width='39' height='39' x='.5' y='.5' stroke='%23fff' rx='19.5'/%3E%3C/svg%3E") 0 0 no-repeat