.promo-blocks-swiper
	padding-top 24px
	padding-bottom 24px
	
	@media $xs
		padding-right 16px
		padding-left 16px
	
	&__slides
		align-items end
	
	&__slide
		width auto
	
	&__pagination
		margin-top 17px