.promo-blocks-swiper
	padding-top 24px
	padding-bottom 24px
	
	@media $xs
		padding-right 16px
		padding-left 16px
	
	&__slides
		align-items end
	
	&__slide
		width auto
		
		&--active
			.promo-blocks-swiper__variant-label
				color var(--black)
	
	&__pagination
		margin-top 17px
	
	&__variant-label
		position absolute
		z-index 1
		// top -32px
		top -37px
		right 0
		font-size 14px
		// color #666B80
		color #555a6d
	
	&__company
		position absolute
		z-index 1
		// top -34px
		top -38px
		right 0
		display grid
		grid-template-columns 24px 1fr
		gap 8px
		align-items center
	
	&__company-name
		font-weight 700
		font-size 13px
	
	&--working-conditions
		@media $xs
			margin-top -42px
			// padding-top 45px
			// padding-top 50px
			padding-top 54px
			// padding-top 3px
			padding-bottom 3px
			
			.promo-blocks-swiper__slides
				align-items stretch
			
			.promo-blocks-swiper__slide
				height auto
			
			.promo-blocks-swiper__item
				height 100%
	
	&--working-conditions-single-item
		@media $xs
			padding-top 24px
			padding-bottom 24px