.promo-block
	position relative
	// width 286px
	// max-width 100%
	// padding 14px 16px
	display block
	padding 14px 16px 0
	border-radius 12px
	box-shadow 0 0 18px rgba(0, 0, 0, .11)
	background var(--light)
	color var(--accent)
	text-decoration none
	@extend .transition
	
	@media $xs
		// width 280px
		// width 312px
		width 320px
		max-width 100%
		// box-shadow 0 0 24px rgba(0, 0, 0, 0.2)
		box-shadow 0 0 24px rgba(0, 0, 0, 0.3)
	
	&:hover
		// box-shadow 0 0 24px rgba(19, 31, 54, 0.25)
		
		@media $smPlus
			box-shadow 0 0 24px rgba(19, 31, 54, 0.65)
	
	&__header
		margin -14px -16px 12px
		padding 12px 16px
		border-top-right-radius 12px
		border-top-left-radius 12px
		background #33B324
		color #fff
		font-weight 600
		font-size 13px
		line-height 22px
		
		&--red-bg
			background #B32424
	
	&__company
		display grid
		grid-template-columns 32px 1fr
		align-items center
		gap 12px
		margin-bottom 13px
		
		@media $xs
			margin-bottom 10px
		
	&__logo-img
		border-radius 8px
		vertical-align middle
	
	&__title
		font-weight 600
		font-size 16px
		line-height 1.625
		
		@media $xs
			font-size 18px
			line-height 1.34
	
	&__characteristics
		margin-bottom 17px
		
		// @media $xs
		// 	margin-bottom 12px
	
	&__additional-info
		margin-bottom 16px
	
	&__working-period
		color #666B80
		font-size 13px
		line-height 1.692307692307692
		
		@media $xs
			margin-top 12px
	
	// &__salary
	// 	margin-bottom 24px
		
	// 	@media $smMinus
	// 		margin-bottom 15px
		
	// 	@media $xs
	// 		margin-bottom 18px
	
	&__footer
		text-align center
	
	&__more-link
		margin-right -16px
		margin-left -16px
		border-bottom-right-radius 12px
		border-bottom-left-radius 12px
	
	&__label
		display inline-grid
		margin-top 13px
		margin-right 26px
		padding 3px 23px
		border-radius 8px
		// background var(--info)
		background #020202
		color var(--light)
		font-size 13px
		
		@media $xs
			margin-top 8px
			margin-right 0
	
	&__view-link
		// content ""
		position absolute
		z-index 2
		right -17px
		// right -16px
		// right -33px
		// bottom 0
		bottom -25px
		// width 64px
		// height 50px
		width 85px
		height 80px
		border-top-left-radius 72px
		background var(--user-profile-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='32' height='32'%3E%3Cg fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M649 137.999h26v18h-14M653 155.999h-4v-14M661 156l-8 6v-6'/%3E%3C/g%3E%3Cpath d='M16 25c-4.265 0-8.301-1.807-11.367-5.088a1 1 0 0 1 1.462-1.365C8.778 21.419 12.295 23 16 23c4.763 0 9.149-2.605 11.84-7-2.69-4.395-7.077-7-11.84-7-4.938 0-9.472 2.801-12.13 7.493a1 1 0 1 1-1.74-.986C5.147 10.18 10.333 7 16 7c5.668 0 10.853 3.18 13.87 8.507a1 1 0 0 1 0 .985C26.853 21.819 21.668 25 16 25z' fill='%233e3e40'/%3E%3Cpath d='M16 21c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-8c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z' fill='%233e3e40'/%3E%3C/svg%3E") 51% 30% / 27px no-repeat
		@extend .transition
		
		@media $xs
			background-color var(--grey-light)
		
		// &:hover
		// 	background-color transparent
	
	&__media-count
		display inline-flex
		justify-content center
		align-items center
		min-width 20px
		margin-top 28px
		margin-left 25px
		padding 1px 2px
		border 1px solid #F0F4FA
		border-radius 10px
		font-weight 600 
		font-size 10px
		line-height 1.219
		color #FFF
		background #53545a
		text-decoration none
	
	&:hover
		.promo-block__view-link
			background-color transparent
	
	&--active
		// box-shadow 0 0 18px rgba(0, 0, 0, .4)
		box-shadow 0 0 24px rgba(19, 31, 54, 0.25)
		// box-shadow 0 0 24px rgba(19, 31, 54, 0.65)
		// border 3px solid var(--info)
		border 3px solid #020202
		
		&:hover
			box-shadow 0 0 24px rgba(19, 31, 54, 0.25)
		
		.promo-block__header--red-bg
			border-top-right-radius 9px
			border-top-left-radius 9px
		
		.promo-block__salary
			margin-bottom 0
		
		.promo-block__footer
			margin-bottom -15px
	
	&--has-icon
		// overflow hidden
		
		.promo-block__footer
			position relative
			margin-top -10px
			margin-right -16px
			margin-left -16px
			padding-top 10px
			overflow hidden
			
			@media $xs
				margin-top 0
				padding-top 0
			
		.promo-block__more-link
			padding-right 34px