.promo-blocks
	&__title
		margin-bottom 10px
		padding-left 15px
		color var(--grey)
		font-weight 500
		font-size 13px
		line-height 1.6923
		
	&__items
		display grid
		// grid-template-columns repeat(3, auto)
		grid-template-columns repeat(3, 1fr)
		align-items start
		justify-content start
		gap 27px
		
		@media $mdMinus
			grid-template-columns repeat(2, 1fr)
		
		@media $smMinus
			grid-template-columns repeat(3, 1fr)
			gap 20px