.promo-blocks
	// &__header
	// 	display grid
	// 	grid-template-columns repeat(2, auto)
	// 	justify-content space-between
	// 	margin 0 16px 7px
		
	&__title
		margin-bottom 10px
		padding-left 15px
		color var(--grey)
		font-weight 500
		font-size 13px
		line-height 1.6923
	
	&__title-link
		display inline-flex
		// align-items start
		align-items center
		justify-content start
		gap 6px
		color var(--accent)
		text-decoration none
		
	&__items
		display grid
		// grid-template-columns repeat(3, auto)
		grid-template-columns repeat(3, 1fr)
		// align-items start
		align-items end
		justify-content start
		gap 27px
		
		@media $mdMinus
			grid-template-columns repeat(2, 1fr)
		
		@media $smMinus
			grid-template-columns repeat(3, 1fr)
			gap 20px
	
	&__item
		position relative
	
	&__variant-label
		position absolute
		z-index 1
		top -32px
		right 0
		font-size 14px
		// color #666B80
		color #555a6d
		
		@media $smPlus
			top -27px
			right 2px
			font-size 13px
	
	&__agency-info
		position absolute
		z-index 1
		top -34px
		right 0
	
	&__btn
		@media $xs
			flex-grow 1
			flex-basis 0
	
	&__btns
		// display grid
		// grid-template-columns repeat(2, 1fr)
		display flex
		flex-wrap wrap
		gap 12px
		padding 11px 16px 0
		
		@media $smPlus
			padding 24px 0 0
		
		@media $md
			// grid-template-columns repeat(2, auto)
			justify-content start
			padding 28px 0 0
		
		&--vacancies
			@media $xs
				display grid
				grid-template-columns 1fr 58px 58px
				grid-auto-rows 58px
				gap 8px
		
		&--business-pricing
			.promo-blocks__details-link
				margin-left auto
			
			@media $xs
				display grid
				grid-template-columns 100%
				grid-auto-rows 48px

				.promo-blocks__details-link
					margin-right auto
	
	&__info-title
		position relative
		// z-index 3
		// z-index 4
		z-index 5
		display inline-flex
		margin-bottom 7px
		
		@media $xs
			padding-left 16px
			background var(--light)
	
	&--working-conditions
		.promo-blocks__title
			// @media $xs
			position relative
			// z-index 2
			z-index 3
			// display inline-grid
			display inline-flex
			// grid-template-columns repeat(2, auto)
			// align-items start
			align-items center
			justify-content start
			gap 6px
			margin-bottom 7px
			// margin-left 16px
			padding-left 16px
			font-weight 600
			font-size 15px
			line-height 1.6
			background var(--light)
			color var(--accent)
			
			@media $smPlus
				padding-left 0
				font-size 16px
				line-height 1.625
			
			&-info-icon
				// content ""
				position relative
				width 16px
				height 16px
				// margin-top 4px
				background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill='%23CACCE0' fill-rule='evenodd' d='M12 6A6 6 0 1 1 0 6a6 6 0 0 1 12 0ZM5 6a1 1 0 0 1 2 0v3a1 1 0 0 1-2 0V6Zm1-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z' clip-rule='evenodd'/%3E%3C/svg%3E") center no-repeat
		
		.promo-blocks__items
			@media (min-width 768px) and (max-width 1439px)
				grid-template-columns repeat(2, 1fr)
			
			&--two-col
				grid-template-columns repeat(2, 1fr)
			
			@media $smPlus
				gap 40px 12px
				
			@media $lg
				gap 12px
		
		.promo-blocks__btns:has(>.promo-blocks__btn--consult.hidden)
			justify-content center
		
		.promo-blocks__btn--book:has(~.promo-blocks__btn--consult.hidden),
		.promo-blocks__btn--free-consult:has(~.promo-blocks__btn--consult.hidden)
			min-height 48px
			max-width 302px
