.promo-blocks-swiper
	padding-top 24px
	padding-bottom 24px
	
	@media $xs
		padding-right 16px
		padding-left 16px
	
	&__slides
		align-items end
	
	&__slide
		width auto
	
	&__pagination
		margin-top 17px
	
	&--working-conditions
		@media $xs
			padding-top 3px
			padding-bottom 3px
			
			.promo-blocks-swiper__slides
				align-items stretch
			
			.promo-blocks-swiper__slide
				height auto
			
			.promo-blocks-swiper__item
				height 100%