.ps__rail-x,
.ps__rail-y
	opacity 0.6

.ps__thumb-x,
.ps__thumb-y
	border-radius 3px
	background-color #a5abb1

.ps__thumb-y
	width 3px
	cursor pointer

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y
	width 3px
	background-color #a5abb1

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover
	background transparent