.recruitment-section
	// &__wrapper
	// 	@media $md
	// 		display grid
	// 		grid-template-columns 1fr auto
			
	&__title
		margin-bottom 10px
		
	&__subtitle
		margin 0 -16px 30px
		padding 5px 16px
		border-radius 8px
		background rgb(244 245 250)
		font-weight 600
		// font-size 15px
		font-size 17px
		line-height normal
		text-align center
	
	&__main-text,
	&__additional-text
		max-width 100%
		margin-right auto
		margin-left auto
	
	&__main-text
		margin-bottom 16px
		
		@media $smMinus
			width 370px
	
	&__additional-text
		margin-bottom 40px
		
		@media $smMinus
			width 400px
	
	&__video-wrapper
		width 650px
		max-width 100%
		margin-right auto
		margin-left auto