.recruitment
	&__title
		margin-bottom 32px
		
		@media $smMinus
			margin-bottom 24px
		
		@media $xs
			margin-bottom 16px
	
	&__tabs-menu
		margin-bottom 37px
		
		@media $mdMinus
			margin-bottom 25px
		
		@media $smMinus
			margin-bottom 20px
		
		@media $xs
			margin-top -8px
			margin-bottom 15px