.review-rating-block
  padding 24px
  border-radius 12px
  background #F4F5FC

  &__criterion
    display grid
    grid-template-columns 1.15fr 1fr
    align-items center
    gap 8px 16px
    border none

    @media $xs
      grid-template-columns 100%

    & + &
      margin-top 24px

  &__criterion-name
    font-weight 600
    color var(--accent)
  
  &__mark
    margin-bottom 8px
    color var(--text-color)
    font-weight 400
    font-size 13px
    line-height 22px
  
  &__stars
    @media $xs
      justify-self start
  
  &--edit
    padding 0

    .review-rating-block__criterion
      display block
      padding 24px 24px 15px

      & + .review-rating-block__criterion
        margin-top 0
        border-top 2px solid var(--light)