.salary-with-info
  display grid
  grid-template-columns repeat(2, auto)
  justify-content start
  align-items center
  text-decoration none
  
  &__icon
    position relative
    width 28px
    height 28px
    background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill='%23CACCE0' fill-rule='evenodd' d='M12 6A6 6 0 1 1 0 6a6 6 0 0 1 12 0ZM5 6a1 1 0 0 1 2 0v3a1 1 0 0 1-2 0V6Zm1-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z' clip-rule='evenodd'/%3E%3C/svg%3E") center / 14px no-repeat

    &[data-tooltip]
      cursor pointer