.section-title
	font-weight 600
	font-size 40px
	line-height 1.2
	text-align center
	
	@media $xs
		font-size 24px
		line-height 1.25
	
	&__large-text
		display block
		// margin-bottom 15px
		margin-bottom 28px
		// font-size 50px
		font-size 48px
		text-indent -3px
		
		@media $smMinus
			margin-bottom 10px
			font-size 42px
		
		@media $xs
			margin-bottom 5px
			font-size 36px
	
	&__highlighted
		display inline-flex
		padding 5px 10px
		border-radius 10px
		background #ddf6d1
	
	&--trust-section
		font-size 48px
		
		@media $smMinus
			font-size 42px
		
		@media $xs
			font-size 36px
		
		@media $xxs
			font-size 28px
	
	&--hero-section
		@media $smPlus
			font-size 35px
	
	&--left
		text-align left
	
	&--recruitment-landing
		font-weight 500
		font-size 17px
		text-align center
		
		@media $md
			font-size 24px
		
		.section-title__large-text
			margin-bottom 0
			font-size 17px
			
			@media $md
				font-size 24px
	
	&--find-vacancy-section
		@media $md
			font-size 48px
		
		@media $sm
			font-size 36px