.section-title
	font-weight 600
	font-size 40px
	line-height 1.2
	text-align center
	
	@media $xs
		font-size 24px
		line-height 1.25
	
	&__large-text
		display block
		margin-bottom 15px
		font-size 50px
		text-indent -3px
	
	&--hero-section
		font-size 35px
	
	&--left
		text-align left