.section-title
	font-weight 600
	font-size 40px
	line-height 1.2
	text-align center
	
	@media $xs
		font-size 24px
		line-height 1.25
	
	&__large-text
		display block
		// margin-bottom 15px
		margin-bottom 28px
		// font-size 50px
		font-size 53px
		text-indent -3px
		
		@media $smMinus
			margin-bottom 10px
			font-size 42px
		
		@media $xs
			margin-bottom 5px
			font-size 36px
	
	&--hero-section
		@media $smPlus
			font-size 35px
	
	&--left
		text-align left