.selected-item
	display inline-grid
	grid-template-columns 1fr 18px
	align-items center
	gap 6px
	padding 5px 11px 5px 12px
	border none
	border-radius 20px
	background #F0F0F0
	color #3c3c3c
	// font-size 14px
	font-size 12px
	font-family var(--decima-nova-pro)
	text-transform uppercase
	// letter-spacing -0.155em
	
	&__value
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
	
	&__remove-link
		width 18px
		height 18px
		background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Livello 1' viewBox='0 0 128 128'%3E%3Cpath d='M64 0a64 64 0 1 0 64 64A64.07 64.07 0 0 0 64 0Zm0 122a58 58 0 1 1 58-58 58.07 58.07 0 0 1-58 58Z'/%3E%3Cpath d='M92.12 35.79a3 3 0 0 0-4.24 0L64 59.75l-23.87-24A3 3 0 0 0 35.88 40l23.88 24-23.88 24a3 3 0 0 0 4.25 4.24L64 68.25l23.88 24A3 3 0 0 0 92.13 88L68.24 64l23.89-24a3 3 0 0 0-.01-4.21Z'/%3E%3C/svg%3E") center / cover no-repeat
	
	&--filter
		padding 2px 6px 2px 11px
		background #E4E4FC
		// font-size 10px
		
		.selected-item__remove-link
			width 14px
			height 14px