.selected-items
	&__list
		list-style none
		display grid
		// grid-template-columns repeat(6, 1fr)
		grid-template-columns repeat(auto-fit, minmax(130px, 1fr))
		// display flex
		// flex-wrap wrap
		// gap 5px
		gap 9px 5px
	
	.selected-item
		width 100%
	
	&--filter
		.selected-items__list
			// gap 5px
			gap 4px 3px