.select2-container		
	&--cities-select		
		// .select2-selection--multiple
		// 	white-space nowrap
			
		// 	.select2-selection__rendered
		// 		display none
		
		.select2-search
			display grid
			grid-template-columns repeat(2, 1fr)
			background #f5f5fd
			
		.select2-results
			display grid
			grid-template-columns repeat(2, 1fr)

.select2-dropdown		
	&__btn-wrapper
		text-align center