.select2-container	
	&--filter-select
		.select2-selection--single
			display grid
			// place-content center
			align-items center
			// height 38px
			// height 40px
			height 48px
			border 1px solid #dfe2e6
			border-radius 12px
			background var(--light) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 8'%3E%3Cpath stroke='%23A1A7B3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='m1 1 6 6 6-6'/%3E%3C/svg%3E") right 9px center / 14px no-repeat
			
			@media $xxs
				background-position right 14px center
				background-size 17px auto
			
			.select2-selection__rendered
				padding-right 30px
				padding-left 12px
				// font-size 12px
				font-size 14px
				color var(--grey)
				
				@media $xxs
					font-size 15px
			
			.select2-selection__arrow
				display none
			
			&.filter__countries-select,
			&.additional-filters__countries-select,
			&.filter__currencies-select
				background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 8'%3E%3Cpath stroke='%230F182A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='m1 1 6 6 6-6'/%3E%3C/svg%3E")
				
				.select2-selection__rendered
					color var(--accent)
			
			&.select2-selection--selected
				border-width 2px
				border-color var(--info)
				background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 8'%3E%3Cpath stroke='%230F182A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='m1 1 6 6 6-6'/%3E%3C/svg%3E")
				
				.select2-selection__rendered
					color var(--accent)
			
			&.filter-select--no-radius-left
				border-top-left-radius 0
				border-bottom-left-radius 0
				
			&.filter-select--no-border-left
				border-left none
			
			&.filter-select--selected
				.select2-selection__rendered
					color var(--accent)
		
		.select2-dropdown
			padding 5px 7px
			border 1px solid var(--grey-medium)
			// border-radius 7px
			border-radius 12px
			box-shadow 0 18px 36px rgba(0, 0, 0, .14)
			
			&.filter-select--mob-large
				width 240px !important
				
				.select2-results__option
					font-size 18px
		
		.select2-results
			&__option
				font-size 14px
				@extend .transition
				
				@media $xs
					padding 8px 7px
					font-size 16px
				
				&--highlighted
					background #F4F4FB
		
		.select2-selection--single.filter-select--rounded-style
			height 32px
			border-radius 24px
			outline none
			background-position right 14px center

			@media $xs
				border-color #5b617c
				background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 8'%3E%3Cpath stroke='%235b617c' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='m1 1 6 6 6-6'/%3E%3C/svg%3E")

			.select2-selection__rendered
				padding-right 36px
				padding-left 10px
				font-size 13px
				line-height 1.69230
				color #666B80

				@media $xs
					color var(--accent)
	
	&--dropdown-select,
	&--currency-dropdown-select
		.select2-selection--single
			display inline-grid
			grid-template-columns 1fr auto
			align-items center
			gap 6px
			height 36px
			padding 6px 15px
			border-radius 6px
			background var(--light)
			color var(--accent)
			font-size 14px
			@extend .transition
			
			@media $xs
				height 48px
				padding 12px 16px
				font-size 15px
			
			.select2-selection__rendered
				padding-right 0
				padding-left 0
		
			.select2-selection__arrow
				width 14px
				height 14px
				background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 10'%3E%3Cpath stroke='%230f182a' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16.5 1 9 8.5 1.5 1'/%3E%3C/svg%3E") center no-repeat
				@extend .transition
			
			&:hover
				background var(--accent)
				color var(--light)
				
				.select2-selection__arrow
					background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 10'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16.5 1 9 8.5 1.5 1'/%3E%3C/svg%3E")
		
		.select2-dropdown
			min-width 280px !important
			padding 5px 7px
			border 1px solid var(--grey-medium)
			box-shadow 0 18px 36px rgba(0,0,0,0.14)
			border-radius 7px
		
		.select2-results
			&__option
				@extend .transition
				
				&--highlighted
					background #F4F4FB
	
	&--currency-dropdown-select
		z-index 1

		.select2-selection--single
			border-radius 20px

			@media $xs
				height 36px
				padding-top 11px
				font-size 14px
					
	&--filter-select
		.select2-selection--single.additional-filters__countries-select
			.select2-selection__rendered
				@media $smPlus
					color var(--black)
	
	&--user-display-name-select
		.select2-selection--single
			display flex
			align-items center
			gap 3px
			height 26px
			padding-right 9px
			border-radius 20px
			background #F0F4FA

			.select2-selection__rendered
				padding-right 0
				font-weight 600
				line-height 26px
			
			.select2-selection__arrow
				width 6px
				height 5px
				margin-top 2px
				background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 5' fill='none'%3E%3Cpath fill='%230f182a' d='M3.028 4.571a.3.3 0 0 1-.515 0L.043.454A.3.3 0 0 1 .3 0h4.94a.3.3 0 0 1 .258.454z'/%3E%3C/svg%3E") center no-repeat
		
		.select2-dropdown
			padding 5px 7px
			border 1px solid var(--grey-medium)
			// border-radius 7px
			border-radius 12px
			box-shadow 0 18px 36px rgba(0, 0, 0, .14)
				
			.select2-results__option
				border-radius 8px
				@extend .transition

				&--highlighted
					background #F4F4FB
			
		// .select2-dropdown
		// 	border none
		// 	background #f0f4fa
		
		// .select2-results__option
		// 	padding 3px 8px