.sep-text
	display grid
	grid-template-columns 1fr auto 1fr
	gap 15px
	align-items center
	color var(--grey)
	font-size 14px
	
	&::before,
	&::after
		content ""
		height 1px
		background var(--grey-medium)