.services
	display grid
	grid-template-columns repeat(2, auto)
	gap 22px
	justify-content start
	// gap 48px 22px
	// gap 48px 66px
	// gap 46px 66px
	
	// @media $1440-
	// 	gap 40px
	
	// @media $mdMinus
	// 	gap 30px 25px
	
	@media $xs
		grid-template-columns 100%
		gap 20px