.share-btns
	&__list
		list-style none
		display grid
		grid-template-columns repeat(2, 158px)
		justify-content center
		align-items center
		gap 12px
	
	&__link
		display grid
		gap 8px
		text-decoration none
		color var(--accent)
	
	&__item-text
		font-size 12px
		line-height normal
		text-align center