.sms-confirmation
  text-align center

  &__lottie-player
    height 90px
    margin-bottom 29px

    @media $xs
      height 80px
      margin-bottom 20px
  
  &__phone
    margin-bottom -3px
    font-weight 600
    font-size 37px
    line-height 1.25

    @media $xs
      font-size 34px
  
  &__change-number-link
    font-size 14px
    color var(--info)
    text-decoration none
  
  &__text
    max-width 420px
    margin 33px auto 74px
    line-height 1.5
    color var(--accent)

    @media $xs
      margin-top 20px
      margin-bottom 50px
  
  &__code-wrapper
    position relative
    margin-top 20px
    margin-bottom 16px
  
  &__number-wrapper
    position relative
    margin-bottom 18px
    margin-left 24px
  
  &__code-input,
  &__number-input
    position absolute
    clip rect(0, 0, 0, 0)
  
  &__code
    display grid
    grid-template-columns auto auto
    align-items center
    justify-content center
    gap 6px
    margin-left 26px
    font-weight 700
    font-size 24px
    color var(--accent)
    text-decoration none

    &::after
      content ""
      width 20px
      height 20px
      background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cg stroke='%237566d7' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' clip-path='url(%23a)'%3E%3Cpath d='M16.667 6.667H8.333c-.92 0-1.666.746-1.666 1.666v8.333c0 .921.746 1.667 1.666 1.667h8.334c.92 0 1.666-.746 1.666-1.666V8.332c0-.92-.746-1.667-1.666-1.667Z'/%3E%3Cpath d='M3.333 13.333c-.916 0-1.666-.75-1.666-1.667V3.333c0-.917.75-1.667 1.666-1.667h8.334c.916 0 1.666.75 1.666 1.667'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat
  
  &__code-tooltip,
  &__number-tooltip
    position absolute
    top -24px
    right 0
  
  &__number
    display inline-grid
    grid-template-columns auto auto
    align-items center
    justify-content center
    gap 6px
    font-weight 700
    font-size 19px
    color var(--accent)
    text-decoration none

    &::after
      content ""
      width 18px
      height 18px
      background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cg stroke='%237566d7' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' clip-path='url(%23a)'%3E%3Cpath d='M16.667 6.667H8.333c-.92 0-1.666.746-1.666 1.666v8.333c0 .921.746 1.667 1.666 1.667h8.334c.92 0 1.666-.746 1.666-1.666V8.332c0-.92-.746-1.667-1.666-1.667Z'/%3E%3Cpath d='M3.333 13.333c-.916 0-1.666-.75-1.666-1.667V3.333c0-.917.75-1.667 1.666-1.667h8.334c.916 0 1.666.75 1.666 1.667'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat
  
  &__btn
    width 100%
  
  &__sms-verification
    margin-top 11px
    margin-bottom 6px
  
  &--sending-sms
    .sms-confirmation__text
      max-width 380px
      margin 0 auto 41px
      line-height 1.2

      & > p + p
        margin-top 18px