.sms-confirmation
  text-align center

  &__lottie-player
    height 90px
    margin-bottom 29px

    @media $xs
      height 80px
      margin-bottom 20px
  
  &__phone
    margin-bottom -3px
    font-weight 600
    font-size 37px
    line-height 1.25

    @media $xs
      font-size 34px
  
  &__change-number-link
    font-size 14px
    color var(--info)
    text-decoration none
  
  &__text
    max-width 420px
    margin 33px auto 74px
    line-height 1.5
    color var(--accent)

    @media $xs
      margin-top 20px
      margin-bottom 50px
  
  &__btn
    width 100%