.socbutton
  display inline-flex
  align-items center
  justify-content center
  min-width 44px
  min-height 44px
  border-radius 11px
  background #2A364D
  @extend .transition
  
  svg
    color #7A8599
    @extend .transition
  
  &:hover
    svg
      color #fff