.socbuttons
  &__title
    margin-bottom 12px
    color #989DB2
    font-size 13px
    line-height 1.53846154

  &__list
    list-style none
    display grid
    grid-template-columns repeat(auto-fit, minmax(36px, 1fr))
    align-items center
    justify-content center
    gap 8px
  
  &__item
    display grid
    grid-template-columns 100%