.social-groups-block
	padding 15px 0
	
	&__title
		margin-bottom 20px
		margin-left 27px
		font-weight 500
		font-size 16px
	
	&__items
		display grid
		grid-template-columns 100%
		gap 23px
		margin-right 28px