.social-groups
	// padding 15px 0
	padding 9px 0
	
	&__title
		// margin-bottom 20px
		margin-bottom 25px
		margin-left 27px
		font-weight 500
		font-size 16px
	
	&__items
		display grid
		grid-template-columns 100%
		// gap 23px
		// margin-right 28px
		gap 26px
		margin-right 16px
		
		&--justify-start
			justify-items start