.social-groups
	// padding 15px 0
	padding 9px 0
	
	&__header
		position relative
		margin -5px -14px 37px
		padding 12px 23px 12px 14px
		background #F4F5FC
	
	&__title
		// margin-bottom 20px
		margin-bottom 25px
		margin-left 27px
		font-weight 500
		font-size 16px
	
	&__items
		list-style-position inside
		display grid
		grid-template-columns 100%
		// gap 23px
		// margin-right 28px
		gap 26px
		margin-right 16px
		
		&--justify-start
			justify-items start
	
	&__footer
		margin-top 35px
		text-align center
	
	&__btn
		width 284px
		max-width 100%
	
	&--extended
		padding 0 0 9px
		
		.social-groups__title
			margin 0
			font-weight 600
			font-size 25px
			text-align center
	
	&--questions
		.social-groups__header
			margin-bottom 20px
			
		.social-groups__items
			gap 14px
		
		.social-groups__footer
			margin-top 25px
	
	&--tags
		.social-groups__header
			margin-bottom 15px
			
		.social-groups__items
			list-style none
			display flex
			flex-wrap wrap
			gap 10px 15px
			margin-bottom 10px
		
		.social-groups__footer
			margin-top 25px