.statistics-section
	&__title
		margin-bottom 12px
	
	&__text
		margin-bottom 48px
		
		@media $xs
			margin-bottom 24px
	
	&__items
		background var(--grey-light)
	
	&__items-container
		display grid
		grid-template-columns repeat(auto-fit, minmax(271px, auto))
		justify-content center
		gap 32px
		padding-top 90px
		padding-bottom 80px
		
		@media $xs
			gap 40px
			padding-top 40px
			padding-bottom 40px
	
	&__bottom
		padding 25px 0
		text-align center
	
	&--affiliate-page
		.statistics-section__text
			margin-bottom 18px
			
			@media $xs
				margin-bottom 15px
		
		.statistics-section__items-container
			@media $lg
				grid-template-columns repeat(2, auto)
				gap 60px 115px
			
			@media $1440-
				gap 40px
			
			@media $smPlus
				padding-bottom 60px