.steps-section
	&__title
		margin-bottom 32px
		
		@media $xs
			margin-bottom 16px
	
	&__tabs-menu
		margin-bottom 24px
		
		@media $xs
			margin-bottom 12px
	
	&__text
		width 570px
		max-width 100%
		margin 0 auto 48px
		
		@media $xs
			margin-bottom 24px