.support-box
	&__icon-wrapper
		width 56px
		height 56px
		padding 1px
		margin 0 auto 19px
		border-radius 108px
		border 1px solid var(--black, #0F182A)
		background radial-gradient(96.88% 96.88% at 79.10% 9.26%, #86F219 0%, #278016 100%)
		box-shadow 0 0 40px 0 rgba(51, 179, 36, 0.50)
		
		@media $425-
			width 48px
			height 48px
			margin-bottom 15px
	
	&__icon
		width 100%
	
	&__title
		margin-bottom 38px
		font-weight 500
		font-size 28.7px
		line-height normal
		text-align center
		
		@media $425-
			margin-bottom 32px
			font-size 24px
	
	&__btns,
	&__phones
		list-style none
	
	&__btns-item
		display grid
		grid-template-columns 100%
		
		& + .support-box__btns-item
			margin-top 20px
			
			@media $425-
				margin-top 16px
	
	&__btns
		margin-bottom 39px
		
		@media $425-
			margin-bottom 32px
	
	&__phones
		display grid
		grid-template-columns repeat(2, 1fr)
		gap 14px 20px
		// margin-left 4px
		
		@media $425-
			gap 8px 18px
			// margin-left 0
	
	&__phone
		color #989DB2
		font-size 19px
		line-height normal
		text-decoration none
		
		@media $425-
			font-size 16px