.switch-wrapper
	display grid
	grid-template-columns repeat(2, auto)
	justify-content start
	align-items center
	gap 8px
	
	&__label
		font-size 14px
		line-height 1.71429
		color #374151
		cursor pointer