.tag
	display inline-grid
	padding 2px 10px
	border-radius 80px
	// background var(--grey-medium)
	background #eff1fc
	color var(--text-color)
	font-size 13px
	line-height 1.69230769230769
	// line-height 22px
	white-space nowrap
	text-decoration none
	
	@media $xs
		// font-size 16px
		font-size 15.5px
	
	&--vacancy-full
		background #E5E5FA
		color #2E313F
		// background var(--grey-medium)