.testimonials-section
	&__title
		margin-bottom 12px
	
	&__text
		margin-bottom 48px
		
		@media $xs
			margin-bottom 32px
			// margin-bottom 24px
	
	&__items
		display grid
		grid-template-columns repeat(auto-fit, minmax(372px, auto))
		justify-content center
		gap 32px
	
	&__swiper
		@media $xs
			margin-right -16px
			margin-left -16px
	
	&__bottom
		// margin-top 50px
		margin-top 65px
		text-align center