.toggle-link
	display inline-grid
	grid-template-columns 1fr auto
	align-items center
	gap 6px
	text-decoration none
	color #4B97F9
	
	&::after
		content ""
		margin-top 5px
		border 3px solid transparent
		border-top-color #4B97F9