.tooltip
	display inline-grid
	grid-template-columns 100%
	padding 5px 13px
	border-radius 6px
	background var(--light)
	box-shadow 0 0 24px rgba(0, 0, 0, 0.15)
	color var(--accent)
	font-weight 500
	font-size 13px
	text-align left
	white-space normal
	opacity 0
	visibility hidden
	@extend .transition
	
	&__title
		margin-bottom 8px
		font-weight 600
		font-size 13px
		line-height 1.5
	
	&__text
		& > p
			margin-bottom 10px
			
			&:last-child
				margin-bottom 0
	
	&__close-btn
		width 16px
		height 16px
		margin-top -2px
		margin-right -2px
		border none
		outline none
		background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23676F80' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4 12 8-8M4 4l8 8'/%3E%3C/svg%3E") center / cover no-repeat
		cursor pointer
	
	&--copied
		padding-left 35px
		background var(--light) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%235340ff' d='M8 23c0 8.838 7.164 16 16 16s16-7.162 16-16c0-8.836-7.164-16-16-16S8 14.164 8 23Zm13.474 7.002-2.968-2.971-3.006-3.013 2.968-2.971 3.013 3.008L29.532 16l2.968 2.971-11.026 11.031Z'/%3E%3C/g%3E%3C/svg%3E") 5px / 24px no-repeat
		
	&--grey-bg
		box-shadow none
		border-radius 8px
		background-color #eeeff3
	
	&--extended
		position absolute
		z-index 100
		top 50%
		transform translateY(-50%)
		left 100%
		display grid
		grid-template-columns 1fr auto
		gap 4px
		width 240px
		padding 10px 12px
		border-radius 12px
		background #2A364C
		color #FFF
		font-size 12px
		
		&::before
			content ""
			position absolute
			top 50%
			transform translateY(-50%)
			left -8px
			width 8px
			height 10px
			background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 10'%3E%3Cpath fill='%232A364C' d='m0 5 8-5v10L0 5Z'/%3E%3C/svg%3E") center no-repeat
		
		&.tooltip--visible
			left calc(100% + 14px)
	
	&--extended-top
		// top -14px
		top auto
		// right 0
		bottom calc(100% + 20px)
		left 50%
		// margin auto
		transform translateX(-50%)
		
		&::before
			top calc(100% - 1px)
			right 0
			left 0
			margin auto
			transform rotate(-90deg)
		
		&.tooltip--visible
			bottom calc(100% + 10px)
			left 50%
	
	&--extended-bottom
		// top calc(100% - 10px)
		top calc(100%)
		left 50%
		transform translateX(-50%)
		
		&::before
			top -8px
			right 0
			left 0
			margin auto
			transform rotate(90deg)
		
		&.tooltip--visible
			// top 100%
			top calc(100% + 10px)
			left 50%
			
	&--extended-left
		right 100%
		left auto
		
		&::before
			margin-top -8px
			right -8px
			left auto
			transform rotate(180deg)
		
		&.tooltip--visible
			left auto
			right calc(100% + 14px)
	
	// &--phone-copied
	// 	padding-right 5px
	// 	padding-left 5px
	// 	background #F4F5FC
	// 	font-size 12px
	// 	box-shadow none
	
	&--visible
		opacity 1
		visibility visible