.trust-section
  &__text
    max-width 938px
    margin 40px auto
    
    @media $smMinus
      margin 30px auto
    
    @media $xs
      margin 20px auto 24px
    
    @media $xs
      margin-top 16px
    
  &__btns-list
    display grid
    grid-template-columns repeat(auto-fit, minmax(auto, 290px))
    grid-auto-rows 52px
    gap 12px
    justify-content center
    margin-bottom 40px
    
    @media $smMinus
      margin-bottom 30px
    
    @media $xs
      margin-bottom 20px
    
    @media $xxs
      grid-template-columns 100%
      margin-bottom 16px
  
  &__video-link-wrapper
    text-align center