.user-settings
	&__title
		margin-bottom 24px
		
		@media $smMinus
			margin-bottom 20px
			
		@media $xs
			margin-bottom 16px
	
	&__tabs-menu
		margin-bottom 40px
		margin-left 5px
		
		@media $smMinus
			margin-bottom 32px
		
		@media $xs
			// margin-bottom 24px
			// margin-left 0
			margin 0 -17px 24px
	
	&__edit-avatar
		margin-bottom 40px
		
		@media $smMinus
			margin-bottom 32px
		
		@media $xs
			margin-bottom 24px
	
	&__fieldgroup
		margin-bottom 40px
		
		@media $smMinus
			margin-bottom 32px
		
		@media $xs
			margin-bottom 24px
	
	&__actions
		@media $xs
			display grid