.user-level
	display grid
	// grid-template-columns auto 1fr
	// grid-template-columns 162px 1fr
	grid-template-columns auto 1fr
	gap 79px
	align-items start
	width 1188px
	max-width 100%
	padding 20px
	border-radius 14px
	background var(--light)
	
	@media $1440-
		gap 50px
	
	@media $smMinus
		gap 35px
	
	@media $xs
		grid-template-columns 100%
		gap 25px
	
	&__text-wrapper
		margin-top 6px
	
	&__level
		font-weight 400
	
	&__rating
		margin-bottom 30px
		font-weight 400
		
		@media $1440-
			margin-bottom 20px
	
	&__rating-line
		margin-bottom 28px
		
		@media $1440-
			margin-bottom 18px