.user-settings
	&__title
		margin-bottom 24px
		
		@media $smMinus
			margin-bottom 20px
			
		@media $xs
			margin-bottom 16px
	
	&__tabs-menu
		margin-bottom 40px
		margin-left 5px
		
		@media $smMinus
			margin-bottom 32px
		
		@media $xs
			// margin-bottom 24px
			// margin-left 0
			margin 0 -17px 24px
	
	&__email-notice
		margin-bottom 24px
	
	&__edit-avatar
		margin-bottom 40px
		
		@media $smMinus
			margin-bottom 32px
		
		@media $xs
			margin-bottom 24px
	
	&__fieldgroup
		margin-bottom 40px
		
		@media $smMinus
			margin-bottom 32px
		
		@media $xs
			margin-bottom 24px
	
	&__actions
		@media $xs
			display grid
	
	&__my-id-title,
	&__my-id-wrapper
		display flex
		align-items center
		justify-content center
		gap 8px
	
	&__my-id-title
		margin-bottom 60px

		@media $xs
			display block
			margin-bottom 80px
	
	&--my-id
		text-align center
	
	&__my-id-wrapper
		position relative

		.tooltip
			white-space nowrap

		@media $xs
			margin-top 16px
			margin-left 40px
			font-size 36px