.user-level-avatar
	position relative
	width 162px
	
	@media $xs
		// width 162px
		margin-right auto
		margin-left auto

	&__img
		// width 162px
		width 100%
		opacity 0.59

	&__award-block
		position absolute
		right -2px
		bottom -7px
	
	&--awards-page
		@media $xs
			width 64px
			
			.user-level-avatar__award-block
				right -1px
				bottom 0