.user-profile
	display grid
	grid-template-columns 280px 1fr
	
	@media $smMinus
		grid-template-columns 100%
		padding-top 56px
	
	&__main
		min-width 0
		padding 24px 48px
		background var(--user-profile-bg)
		
		@media $mdMinus
			padding-right 36px
			padding-left 36px
		
		@media $smMinus
			padding-right 28px
			padding-left 28px
		
		@media $xs
			padding-right 17px
			padding-left 17px
	
	&__main-inner
		max-width 1244px
		margin-right auto
		margin-left auto
	
	&__page-title
		margin-bottom 12px
	
	&__achievements
		margin-top 40px
		
		@media $smMinus
			margin-top 32px
		
		@media $xs
			margin-top 24px
	
	&--settings
		.user-profile__main
			@media $xs
				padding-right 15px
				padding-left 15px
				background var(--light)
	
	&--vacancies
		.user-profile__main
			padding-bottom 90px
			
			@media $xs
				padding-top 17px
	
	&--operations
		.user-profile__main
			@media $mdMinus
				padding-right 25px
				padding-left 25px
				
			@media $smMinus
				padding-right 15px
				padding-left 15px
	
	&--video
		grid-template-columns 100%
		
		.user-sidebar
			display none
		
		.user-profile__main-inner
			max-width 100%