.user-level
	display grid
	// grid-template-columns auto 1fr
	// grid-template-columns 162px 1fr
	grid-template-columns auto 1fr
	gap 79px
	align-items start
	width 1188px
	max-width 100%
	padding 20px
	border-radius 14px
	background var(--light)
	
	@media $1440-
		gap 50px
	
	@media $smMinus
		gap 35px
	
	@media $xs
		// grid-template-columns 100%
		// gap 25px
		gap 0 20px
		padding-right 14px
		padding-left 16px
	
	&__text-wrapper
		margin-top 6px
		
		@media $xs
			margin-top 3px
	
	&__level
		font-weight 400
		
		@media $xs
			// grid-column 1 / 3
			grid-area 3 / 1 / 4 / 3
	
	&__text
		@media $xs
			grid-column 1 / 3
	
	&__avatar
		@media $xs
			grid-row 1 / 3
	
	&__rating
		margin-bottom 30px
		font-weight 400
		
		@media $1440-
			margin-bottom 20px
		
		@media $xs
			margin-bottom 8px
	
	&__rating-line
		margin-bottom 28px
		
		@media $1440-
			margin-bottom 18px