.user-sidebar
	position relative
	z-index 10
	width 280px
	height 100%
	background var(--accent)
	// overflow auto
	@extend .transition
	
	@media $smMinus
		position fixed
		z-index 10
		top 56px
		left -280px
		height calc(100% - 56px)
		overflow-x hidden
		overflow-y auto
	
	&__inner
		position sticky
		top 0
		display grid
		grid-template-columns 100%
		grid-template-rows auto auto 1fr auto
		min-height 100vh
		
		@media $smMinus
			grid-template-rows auto 1fr auto
			min-height calc(100vh - 56px)
	
	&__top
		display grid
		grid-template-columns repeat(2, auto)
		justify-content space-between
		align-items center
		padding 28px 32px 12px
		// padding 28px 32px 8px
	
	&__logo-img
		vertical-align middle
	
	&__buttons
		// margin 9px 30px 0 28px
		margin 9px 0 0 30px
	
	&__user-avatar-link
		&--profile-shown
			display none
	
	&__user-info-wrapper
		// margin-right 28px
		margin-right 16px
		margin-left 28px
		
		// @media $md
		// 	display none
	
	&__dropdown-block
		position absolute
		z-index 10
		// top 80px
		top 24px
		right calc(-100% - 9px)
	
	&__dropdown-support-block
		position absolute
		// top 0
		bottom 46px
		// right -403px
		right -420px
		// right calc(-100% - 9px)
	
	&__user-menu
		position relative
		// max-height calc(100vh - 75px)
		// max-height calc(100vh - 123px)
		max-height calc(100vh - 159px)
		// padding 12px 11px 20px
		// padding 16px 11px 20px
		margin 16px 0 20px
		padding 0 11px
		// overflow auto
		
		@media $smMinus
			// max-height calc(100vh - 227px)
			max-height none
	
	&__footer
		position relative
		padding 0 10px 20px
	
	&--opened
		left 0
		width 100%
	
	&--profile-shown			
		.user-sidebar__dropdown-block
			top 80px
		
		.user-sidebar__user-menu
			// max-height calc(100vh - 254px)
			max-height calc(100vh - 243px)