.user-menu
	&__list
		list-style none
	
	&__item
		margin-bottom 8px
		
		&:last-child
			margin-bottom 0
		
	&__link
		display grid
		grid-template-columns 20px 1fr
		// grid-template-columns 15px 1fr
		align-items center
		// gap: 16px
		gap: 11px
		padding 10px 18px
		border-radius 12px
		color var(--light)
		text-decoration none
		@extend .transition
		
		&:hover,
		&--active
			background var(--accent-light)
		
		&--has-count
			grid-template-columns 20px auto auto
			justify-content start
	
	&__icon
		&--save
			margin-left 2px
	
	&__count
		margin-bottom -2px
		margin-left -3px