.user-labels
	display grid
	grid-template-columns repeat(4, 1fr)
	// gap 8px
	// gap 12px
	gap 16px 12px
	
	@media $425-
		gap 12px 10px
	
	&__item
		&--2col
			grid-column-end span 2
		
		&--4col
			grid-column-end span 4