.user-sidebar
	position relative
	z-index 10
	width 280px
	height 100%
	background var(--accent)
	@extend .transition
	
	@media $smMinus
		position fixed
		z-index 10
		top 56px
		left -280px
		height calc(100% - 56px)
		overflow-x hidden
		overflow-y auto
	
	&__inner
		position sticky
		top 0
		display grid
		grid-template-columns 100%
		grid-template-rows auto 1fr auto
		min-height 100vh
		
		@media $smMinus
			grid-template-rows auto 1fr auto
			min-height calc(100vh - 56px)
	
	&__top
		display grid
		grid-template-columns repeat(2, auto)
		justify-content space-between
		padding 28px 32px 12px
	
	&__logo-img
		vertical-align middle
	
	&__buttons
		margin 9px 0 0 30px
	
	&__user-avatar-link
		&--profile-shown
			display none
	
	&__user-info-wrapper
		margin-right 16px
		margin-left 28px
	
	&__dropdown-block
		position absolute
		z-index 10
		top 24px
		right calc(-100% - 9px)
	
	.dropdown-block--support
		position absolute
		bottom 46px
		right -420px
	
	&__user-menu
		position relative
		max-height calc(100vh - 159px)
		margin 16px 0 20px
		padding 0 11px
		
		@media $smMinus
			max-height none
	
	&__footer
		position relative
		padding 0 10px 20px
	
	&--opened
		left 0
		width 100%
	
	&--profile-shown
		.user-sidebar__inner
			grid-template-rows auto auto 1fr auto
			
		.user-sidebar__dropdown-block
			top 80px
		
		.user-sidebar__user-menu
			max-height calc(100vh - 243px)