.vacancy-images-swiper
	&__title
		margin-bottom 5px
		color var(--grey)
		font-weight 500
		font-size 13px
		line-height 1.6923
		
	&__prev,
	&__next
		position absolute
		z-index 10
		top 0
		bottom 0
		margin auto
	
	&__prev
		left 10px
	
	&__next
		right 10px