.vacancy-buttons
  // display grid
  // grid-template-columns repeat(2, 1fr)
  // align-items center

  // display flex
  // gap 12px

  display grid
  grid-template-columns 1fr 58px 58px
  grid-auto-rows 58px
  gap 8px
  
  &__btn
    flex 1 0 0
    min-height 58px
  
  &--one-col
    grid-template-columns 100%
  
  // @media $smPlus
  //   padding 24px 0 0
  
  // @media $md
  //   justify-content start
  //   padding 28px 0 0