.vacancy-cards
	&__item
		margin-bottom 91px
		
		@media $xs
			margin-bottom 84px
		
		&:last-child
			margin-bottom 0
	
	&__more-btn-wrapper
		display grid
		grid-template-columns 100%
		margin-bottom 24px
		padding-right 16px
		padding-left 16px