.vacancies
	&__header
		// margin-bottom 32px
		display grid
		grid-template-columns repeat(2, auto)
		justify-content start
		align-items center
		// gap 26px
		gap 10px
		// margin-bottom 20px
		// margin-bottom 32px
		margin-bottom 10px
		
		@media $xs
			justify-content space-between
			margin-top -5px
			// margin-bottom 11px
		// 	margin-bottom 3px
		
		// @media $xxs
		// 	grid-template-columns 100%
		// 	gap 15px
	
	&__verified-box
		margin-bottom 22px
	
	&__title-wrapper
		display grid
		grid-template-columns repeat(2, auto)
		justify-content start
		align-items start
		gap 5px
		
		@media $xs
			gap 7px
	
	&__count
		margin-top -3px
		font-size 14px
		
		@media $xs
			margin-top -7px
			font-size 13px
	
	&__preloader-wrapper
		position relative
		width 120px
		height 30px
		
	&__preloader
		position absolute
		top -34px
		right 0
	
	&__filter
		// margin-bottom 40px
		margin-bottom 28px
		
		@media $md
			position sticky
			// position fixed
			// z-index 100
			z-index 1
			top 0
			// top 84px
		
		@media $xxs
			margin-bottom 4px
	
	&__cards
		@media $xs
			margin-right -17px
			margin-left -17px
	
	&__no-results
		margin 172px auto
		
		@media $xlMinus
			margin 100px auto
		
		@media $xs
			margin 20px auto