.vacancy-buttons
  display grid
  grid-template-columns repeat(2, 1fr)
  gap 12px
  
  // @media $smPlus
  //   padding 24px 0 0
  
  // @media $md
  //   justify-content start
  //   padding 28px 0 0