.vacancy-page
	&__title
		margin-bottom 32px
	
	&__vacancy-card
		margin-bottom 15px
		
		@media $xs
			margin-right -16px
			margin-left -16px
	
	&__infoblock
		& + .vacancy-page__infoblock
			margin-top 16px