.wallets
	display grid
	grid-template-columns repeat(4, 1fr)
	gap 36px
	
	@media $1440-
		gap 25px
	
	@media $mdMinus
		grid-template-columns repeat(3, 1fr)
		gap 20px
	
	@media $smMinus
		grid-template-columns repeat(4, 1fr)
		gap 15px