.wallet
	display grid
	justify-items center
	padding 6px 28px 0
	// width 280px
	// max-width 100%
	max-width 280px
	background var(--light)
	border-radius 25px
	
	&__currency
		justify-self end
	
	&__sum
		margin-top 8px
		margin-bottom 22px
		font-size 55px
	
	&__currency-prefix
		font-weight 400
		font-size 33px
	
	&__operation-link
		margin-bottom -14px