.wallet
	display grid
	justify-items center
	padding 6px 28px 0
	max-width 280px
	background var(--light)
	border-radius 25px
	
	@media $1440-
		padding-right 18px
		padding-left 18px
		border-radius 20px
	
	@media $smMinus
		max-width 100%
		padding-right 10px
		padding-left 10px
		border-radius 20px
	
	@media $xs
		width 254px
		// width 306px
		padding 10px 17px 12px
		// padding 12px 22px 16px
		box-shadow 0 0 24px rgba(0, 0, 0, 0.17)
	
	&__currency		
		@media $1440-
			font-size 14px
			
		@media $smPlus
			justify-self end

		@media $xs
			justify-self start
			font-size 15px
			// font-size 18px
	
	&__sum
		margin-top 18px
		margin-bottom 33px
		font-size 55px
		line-height normal
		
		@media $1440-
			font-size 42px
		
		@media $smMinus
			font-size 36px
		
		@media $xs
			margin-top 2px
			// margin-bottom 32px
			margin-bottom 25px
			font-size 37px
			// font-size 44px
	
	&__currency-prefix
		font-size 33px
		
		@media $smPlus
			font-weight 400
		
		@media $1440-
			font-size 28px
		
		// @media $xs
		// 	font-size 32px
	
	&__operation-link
		@media $smPlus
			margin-bottom -14px
	
	&__selected
		display inline-grid
		width 160px
		max-width 100%
		margin 0 -20px -14px
		padding 3px 27px
		background var(--black)
		border-radius 10px
		color var(--light)
		text-align center
		text-decoration none
		@extend .transition

		@media $1440-
			font-size 14px
		
		@media $xs
			margin-bottom 9px
	
	&--active
		padding 3px 24px 0
		border 3px solid var(--black)