.withdrawal-funds
	padding 24px 31px
	border-radius 10px
	background var(--light)
	
	&__title
		margin-bottom 33px
		font-weight 500
		font-size 25px
	
	&__payment-systems
		margin-bottom 56px
	
	&__form
		margin-left 2px