.wrapper
	display grid
	grid-template-columns 100%
	grid-template-rows auto 1fr auto
	min-height 100%
		
	@media $smMinus
		grid-template-rows 1fr auto
		padding-bottom 50px
	
	@media $xs
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		overflow auto
	
	&--homepage,
	&--user-profile
		grid-template-rows 1fr
	
	&--non-fixed
		@media $xs
			position static
			overflow visible
	
	&--recruitment-landing
		padding-bottom 0