.fancybox-popup.fancybox-popup--wide.fancybox-popup--add-employer#add-employer-success-popup(style="display: none;")
  .fancybox-popup__img-wrapper
    img(src="/img/information_sent.png" alt="Інформацію надіслано").fancybox-popup__img
  h2.fancybox-popup__title Інформацію надіслано
  .fancybox-popup__text
    p Ми отримали від вас інформацію про роботодавця та прямо вже, за допомогою штучного інтелекту, почали перевіряти та аналізувати надану вами інформацію.
    p Якщо вказаний вами роботодавець пройде усі перевірки та отримає задовільну оцінку від нейромережі WORKIUM - він та усі його вакансії автоматично з'являться у розділі Вакансії.
  .fancybox-popup__btn-wrapper
    button(type="button" data-fancybox-close).btn-default.btn-default--add-employer Добре