.fancybox-popup.fancybox-popup--wide.authorization-popup#affiliate-popup-guest(style="display: none;")
  h2.fancybox-popup__title Партнерська програма
  .fancybox-popup__img-wrapper
    img(src="/img/partners.jpg" alt="Партнерська програма").fancybox-popup__img
  .fancybox-popup__text
    p Унікальна партнерська програма дарує 1000 zł за кожного запрошеного користувача та багато інших різних бонусів! 
    p.fancybox-popup__large-text-interval Для доступу до розділу - #[a(href="#authorization-popup" data-active-tab-number="2").fancybox-popup-toggle увійдіть] або #[a(href="#authorization-popup").fancybox-popup-toggle зареєструйтесь.] #[br]Це швидко та безкоштовно!
  .fancybox-popup__buttons
    button(type="button" data-src="#authorization-popup" data-active-tab-number="2").btn-grey.btn-grey--fancybox-popup.fancybox-popup-toggle Увійти
    button(type="button" data-src="#authorization-popup").btn-default.btn-default--fancybox-popup.fancybox-popup-toggle Зареєструватись