.fancybox-popup.fancybox-popup--article-menu#article-menu-popup(style="display: none;")
  h3.fancybox-popup__title Зміст
  .action-menu.action-menu--article
    ul.action-menu__list
      li.action-menu__item
        a(href="#heading-1").action-menu__link Заробляйте, не продаючи!
      li.action-menu__item
        a(href="#heading-2").action-menu__link Чому мені всі будуть вдячні?
      li.action-menu__item
        a(href="#heading-3").action-menu__link Скільки ви будете заробляти
      li.action-menu__item
        a(href="#heading-4").action-menu__link Переваги та недоліки партнерського заробітку
      li.action-menu__item
        a(href="#heading-5").action-menu__link Відгуки про партнерську програму
      li.action-menu__item
        a(href="#heading-6").action-menu__link З чого розпочати?
      li.action-menu__item
        a(href="#heading-7").action-menu__link Де шукати партнерів, щоб відразу був результат?
      li.action-menu__item
        a(href="#heading-8").action-menu__link Відповіді на запитання