.fancybox-popup.authorization-popup#authorization-popup(style="display: none;")
  .tabs
    .tabs-menu.tabs-menu--underline-style.authorization-popup__tabs-menu
      ul.tabs-menu__list.tabs__list
        li.tabs-menu__item.tabs__item
          a(href="#").tabs-menu__link Реєстрація
        li.tabs-menu__item.tabs__item
          a(href="#").tabs-menu__link.tabs-menu__link--active Вхід
    .tabs__content
      form(action="").authorization-form
        ul.authorization-form__socbtns-list
          li.authorization-form__socbtns-item
            a(href="#").social-btn.social-btn--google
              span.social-btn__inner.social-btn__inner--large Зареєструватись за допомогою Google
          li.authorization-form__socbtns-item
            a(href="#").social-btn.social-btn--fb
              span.social-btn__inner.social-btn__inner--large Зареєструватись за допомогою FaceBook
        .sep-text.authorization-form__sep-text Або зареєструватись через форму:
        .authorization-form__fields
          .authorization-form__field
            input(type="text" placeholder="Імʼя" name="name").form-text
          .authorization-form__field
            input(type="tel" placeholder="Телефон" name="phone").form-text
          .authorization-form__field.authorization-form__field--password
            input(type="password" placeholder="Пароль" name="password").form-text.form-text--password
            button(type="button").password-toggle.authorization-form__password-toggle
          .authorization-form__field.authorization-form__field--password
            input(type="password" placeholder="Повторіть пароль" name="password").form-text.form-text--password
            button(type="button").password-toggle.authorization-form__password-toggle
        .authorization-form__buttons
          button(type="submit").btn-default.authorization-form__btn-submit Зареєструватись
          button(type="button" data-fancybox-close).btn-grey.btn-grey--authorization-form.authorization-form__close-btn Закрити
    .tabs__content(style="display: block")
      form(action="").authorization-form
        ul.authorization-form__socbtns-list
          li.authorization-form__socbtns-item
            a(href="#").social-btn.social-btn--google
              span.social-btn__inner Увійти за допомогою Google
          li.authorization-form__socbtns-item
            a(href="#").social-btn.social-btn--fb
              span.social-btn__inner Увійти за допомогою FaceBook
        .sep-text.authorization-form__sep-text Або увійти через форму:
        .authorization-form__fields
          .authorization-form__field
            input(type="tel" placeholder="Телефон" name="phone").form-text
          .authorization-form__field.authorization-form__field--password
            input(type="password" placeholder="Пароль" name="password").form-text.form-text--password
            button(type="button").password-toggle.authorization-form__password-toggle
        .authorization-form__forgot-link-wrapper
          a(href="/password_recovery.html").link Забули пароль?
        .authorization-form__buttons
          button(type="submit").btn-default.authorization-form__btn-submit Увійти
          button(type="button" data-fancybox-close).btn-grey.btn-grey--authorization-form.authorization-form__close-btn Закрити