.fancybox-popup.fancybox-popup--cities#cities-popup(style="display:none;")
  form(action="").cities-filter
    .cities-filter__header
      .cities-filter__header-top
        button(type="button" data-fancybox-close).btn-back.btn-back--mobile-filters.hidden-xxsPlus.cities-filter__btn-back
        h2.cities-filter__title Micтo
        button(type="reset" style="display: none;").cities-filter__clear-link.hidden-xxsPlus Скинути
      .cities-filter__header-bottom
        .cities-filter__search-input-box
          input(type="search" name="search_city" placeholder="Пошук по місту").form-text.form-text--filter-search.cities-filter__search-input
          button(type="button" style="display: none;").cities-filter__clear-search-btn
        .selected-items.selected-items--cities.cities-filter__selected-items(style="display: none")
          ul.selected-items__list
            li.selected-items__clear-item
              button(type="button").selected-items__clear-btn
        button(type="reset" style="display: none;").btn-beige.cities-filter__clear-btn.hidden-xxs Скинути фільтри
    .cities-filter__body
      .checkboxes-group.checkboxes-group--cities.cities-filter__checkboxes-group
        ul.checkboxes-group__list
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_1" type="checkbox").checkbox__input#city_1
              label(for="city_1").checkbox__label Місто 1
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_2" type="checkbox").checkbox__input#city_2
              label(for="city_2").checkbox__label Місто 2
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_3" type="checkbox").checkbox__input#city_3
              label(for="city_3").checkbox__label Місто 3
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_4" type="checkbox").checkbox__input#city_4
              label(for="city_4").checkbox__label Місто 4
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_5" type="checkbox").checkbox__input#city_5
              label(for="city_5").checkbox__label Місто 5
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_6" type="checkbox").checkbox__input#city_6
              label(for="city_6").checkbox__label Місто 6
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_7" type="checkbox").checkbox__input#city_7
              label(for="city_7").checkbox__label Місто 7
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_8" type="checkbox").checkbox__input#city_8
              label(for="city_8").checkbox__label Місто 8
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_9" type="checkbox").checkbox__input#city_9
              label(for="city_9").checkbox__label Місто 9
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_10" type="checkbox").checkbox__input#city_10
              label(for="city_10").checkbox__label Місто 10
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_11" type="checkbox").checkbox__input#city_11
              label(for="city_11").checkbox__label Місто 11
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_12" type="checkbox").checkbox__input#city_12
              label(for="city_12").checkbox__label Місто 12
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_13" type="checkbox").checkbox__input#city_13
              label(for="city_13").checkbox__label Місто 13
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_14" type="checkbox").checkbox__input#city_14
              label(for="city_14").checkbox__label Місто 14
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_15" type="checkbox").checkbox__input#city_15
              label(for="city_15").checkbox__label Місто 15
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_16" type="checkbox").checkbox__input#city_16
              label(for="city_16").checkbox__label Місто 16
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_17" type="checkbox").checkbox__input#city_17
              label(for="city_17").checkbox__label Місто 17
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_18" type="checkbox").checkbox__input#city_18
              label(for="city_18").checkbox__label Місто 18
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_19" type="checkbox").checkbox__input#city_19
              label(for="city_19").checkbox__label Місто 19
          li.checkboxes-group__item
            .checkbox
              input(name="cities" value="city_20" type="checkbox").checkbox__input#city_20
              label(for="city_20").checkbox__label Місто 20
    .cities-filter__footer
      button(type="button" data-fancybox-close).btn-default.btn-default--cities-filter.cities-filter__apply-btn Застосувати