.fancybox-popup.fancybox-popup--user-profile.fancybox-popup--closed-user-profile#closed-user-profile(style="display: none;")
	.mobile-user-popup
		.mobile-user-popup__header.mobile-user-popup__header--closed-section
			a(href="#profile-menu-popup").user-profile-popup-link.btn-back.btn-back--white.btn-back--mobile-popup.btn-back--small Повернутись
		.closed-section.closed-section--user-profile
			.closed-section__avatar
				img(src="/img/avatar_default_head_person.svg" alt="Avatar").closed-section__avatar-img
			h3.closed-section__title Особистий кабінет
			.closed-section__text
				p Увійдіть або зареєструйтесь та #[br]вікрийте безліч нових, потужних #[br]функцій, які приємно вас здивують!
				p Це швидко та безкоштовно!
		.mobile-user-popup__buttons.mobile-user-popup__buttons--closed-section
			a(href="#authorization-popup" data-active-tab-number="2").fancybox-popup-toggle.user-label.user-label--btn.user-label--btn-closed-section.user-label--btn-closed-user-profile.mobile-user-popup__btn Увійти
			a(href="#authorization-popup").fancybox-popup-toggle.btn-default.btn-default--closed-section.mobile-user-popup__btn Зареєструватись