.fancybox-popup.fancybox-popup--user-profile#closed-save-section(style="display: none;")
	.mobile-user-popup
		.mobile-user-popup__header.mobile-user-popup__header--closed-section
			a(href="#profile-menu-popup").user-profile-popup-link.btn-back.btn-back--white.btn-back--mobile-popup Повернутись
		.closed-section
			.closed-section__icon-wrapper
				img(src="/img/user_menu/save.svg" alt="Save").closed-section__icon
			.closed-section__text
				p Збереження - зручний розділ, в який потрапляють ті вакансії, публікації, коментарі та інші елементи, які ви відзначили.
				p Для доступу до розділу - #[br]увійдіть або зареєструйтесь.
				p Це швидко та безкоштовно!
		.mobile-user-popup__buttons.mobile-user-popup__buttons--closed-section
			a(href="#authorization-popup" data-active-tab-number="2").fancybox-popup-toggle.user-label.user-label--btn.user-label--btn-closed-section.mobile-user-popup__btn Увійти
			a(href="#authorization-popup").fancybox-popup-toggle.btn-default.btn-default--closed-section.mobile-user-popup__btn Зареєструватись