.fancybox-popup.fancybox-popup--user-profile#closed-black-list(style="display: none;")
	.mobile-user-popup
		.mobile-user-popup__header.mobile-user-popup__header--closed-section
			a(href="#profile-menu-popup").user-profile-popup-link.btn-back.btn-back--white.btn-back--mobile-popup Повернутись
		.closed-section
			.closed-section__icon-wrapper
				img(src="/img/user_menu/black_list.svg" alt="Black list").closed-section__icon
			.closed-section__text
				p В цьому розділі розміщуються дані про усі недобросовісні, шахрайські та інші випадки в сфері працевлаштування, а також публікується перелік людей, причетних до даних ситуацій.
				p Для доступу до розділу - #[br]увійдіть або зареєструйтесь.
				p Це швидко та безкоштовно!
		.mobile-user-popup__buttons.mobile-user-popup__buttons--closed-section
			a(href="#authorization-popup" data-active-tab-number="2").fancybox-popup-toggle.user-label.user-label--btn.user-label--btn-closed-section.mobile-user-popup__btn Увійти
			a(href="#authorization-popup").fancybox-popup-toggle.btn-default.btn-default--closed-section.mobile-user-popup__btn Зареєструватись