.fancybox-popup.fancybox-popup--wide.fancybox-popup--employment#employment-smart-work-popup(style="display: none;")
  .fancybox-popup__img-wrapper
    img(src="/img/employment_smart_work.png" alt="Чому не варто працевлаштовуватись через Smart Work?").fancybox-popup__img
  h2.fancybox-popup__title Чому не варто працевлаштовуватись через #[br]Smart Work?
  .fancybox-popup__text
    p При прямому працевлаштуванні до Smart Work ви #[strong НЕ ОТРИМАЄТЕ винагороди за відпрацювання]. Крім цього, ви залишаєтесь абсолютно незахищеними від несправедливих штрафів, погіршених умов проживання, негативного відношення, неправомірних дій та багатьох інших ситуацій, до яких часто можуть вдаватись роботодавці, підприємства або агенції. #[a(href="#") Прочитати більше про те, як вас обманюють]
    p Для того щоб бути абсолютно захищеним та на 100% в безпеці - працевлаштовуйтесь тільки через нейромережу WORKIUM.
    p Це абсолютно безкоштовно та гарантує вам можливість оскаржити та висвітлити будь-які дії роботодавця, а також завдяки працевлаштуванню через WORKIUM ви додатково отримаєте винагороду за відпрацювання в розмірі 500 zł на ваш баланс.
    p Тому, звʼяжіться з роботодацем Smart Work та отримайте відповіді на всі ваші запитання стосовно обраної вакансіі, після чого здійсніть безкоштовне працевлаштування через WORKIUM.
  button(type="button").btn-grey.btn-grey--employment-popup.fancybox-popup__show-contacts-btn Показати контакти через #[span.btn-grey__time-left 7] сек
  .contact-box.contact-box--employment.contact-box--has-title.fancybox-popup__contact-box(style="display: none;")
    h3.contact-box__title Контакти для звʼязку зі Smart Work:
    .contact-phones.contact-phones--order-service.contact-box__phones
      ul.contact-phones__list
        li.contact-phones__item
          a(href="#").phone.phone--order-service +48 226 02 00 90
          button(type="button").copy-btn.copy-btn--small.copy-btn--grey.contact-phones__copy-btn
          .tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
        li.contact-phones__item
          a(href="#").phone.phone--order-service +38 096 787 00 90
          button(type="button").copy-btn.copy-btn--small.copy-btn--grey.contact-phones__copy-btn
          .tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
        li.contact-phones__item
          a(href="#").phone.phone--order-service +38 073 787 00 90
          button(type="button").copy-btn.copy-btn--small.copy-btn--grey.contact-phones__copy-btn
          .tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
        li.contact-phones__item
          a(href="#").phone.phone--order-service +38 095 787 00 90
          button(type="button").copy-btn.copy-btn--small.copy-btn--grey.contact-phones__copy-btn
          .tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
    .contact-box__buttons-wrapper
      a(href="#").call-btn.call-btn--order-service.contact-box__call-btn Зателефонувати вам?
      .contact-buttons.contact-buttons--order-service.contact-box__buttons
        ul.contact-buttons__list
          li.contact-buttons__item
            a(href="#").btn-lightblue.btn-lightblue--telegram.btn-lightblue--telegram-order-service Написати в Telegram
          li.contact-buttons__item
            a(href="#").btn-purple.btn-purple--viber.btn-purple--viber-order-service Написати у Viber