.fancybox-popup.fancybox-popup--wide.fancybox-popup--error-payment#error-payment-popup(style="display: none;")
  .fancybox-popup__img-wrapper
    img(src="/img/error.png" alt="Інформацію надіслано").fancybox-popup__img
  h2.fancybox-popup__title Ой! Щось пішло не так!
  .fancybox-popup__text.fancybox-popup__text--center
    p В процесі оплати виникла помилка! Кошти не були зараховані! Будь ласка, спробуйте ще раз!
  .fancybox-popup__buttons
    button(type="button" data-fancybox-close).btn-default.btn-default--error-payment Спробувати ще раз
    button(type="button" data-fancybox-close).btn-grey2.btn-grey2--error-payment Повернутись до послуг