.filter.vacancies__filter
  .filter__top
    .filter__item
      input(type="search" name="vacancy_name" placeholder="Назва вакансії...").form-text.form-text--filter-search
    .filter__item.hidden-xxs
      select(name="countries" autocomplete="off").form-select.form-select--filter#countries
        option(value="") Усі країни
        option(value="poland") Польща
        option(value="czech") Чехія
    .filter__item.hidden-xxs
      a(href="#cities-dropdown-block" data-dropdown-block-trigger).select-toggle.filter__cities-select-toggle Усі міста
      .dropdown-block.dropdown-block--bottom.dropdown-block--visible.dropdown-block--cities-select.filter__cities-dropdown-block#cities-dropdown-block
        select(name="cities" multiple).cities-select.filter__cities-select#cities-select
          //- option
          option(value="city_1") Місто 1
          option(value="city_2") Місто 2
          option(value="city_3") Місто 3
          option(value="city_4") Місто 4
          option(value="city_5") Місто 5
          option(value="city_6") Місто 6
          option(value="city_7") Місто 7
          option(value="city_8") Місто 8
          option(value="city_9") Місто 9
          option(value="city_10") Місто 10

      //- select(name="cities").form-select.form-select--filter#cities
      //-   option(value="") Усі міста
      //-   option(value="city_1") Місто 1
      //-   option(value="city_2") Місто 2
      //-   option(value="city_3") Місто 3
      //-   option(value="city_4") Місто 4
    .filter__item.hidden-xxs
      input(type="number" name="income_from" placeholder="Дохід від, грн").form-text.form-text--filter
    .filter__item.hidden-xxs
      select(name="currency").form-select.form-select--filter#currency
        option(value="") Валюти
        option(value="uah") UAH
        option(value="pln") PLN
        option(value="eur") EUR
    .filter__item.filter__item--buttons.hidden-xxs
      button(type="button" data-fancybox data-src="#additional-filters-popup").btn-white.btn-white--filter.additional-filters-popup-link Фільтри
        span.count.count--info-bg.btn-white__count 5
      button(type="button").btn-default.btn-default--filter.filter__search-btn Знайти
  .filter__bottom
    button(type="button" data-fancybox data-src="#additional-filters-popup").btn-white.btn-white--filter.hidden-xxsPlus.additional-filters-popup-link Фільтри
    .filter-tags.filter-tags--job-filter
      ul.filter-tags__list
        li.filter-tags__item
          select(name="experience").tags-select.filter-tags__select
            option(value="") Всі варіанти
            option(value="none") Без досвіду
            option(value="specialist") Спеціаліст
        li.filter-tags__item
          select(name="sex").tags-select.filter-tags__select
            option(value="") Всі варіанти
            option(value="men") Чоловіки
            option(value="women") Жінки
            option(value="couples") Сімейні пари

        //- li.filter-tags__item
        //-   button(type="button").filter-tag Без досвіду
        //- li.filter-tags__item
        //-   button(type="button").filter-tag Спеціаліст
        //- li.filter-tags__item
        //-   button(type="button").filter-tag Чоловіки
        //- li.filter-tags__item
        //-   button(type="button").filter-tag Жінки
        //- li.filter-tags__item
        //-   button(type="button").filter-tag Сімейні пари
    a(href="#").btn-beige.btn-beige--filter.filter__clear-btn Скинути
    //- a(href="javascript:;").clear-link.filter__clear-link.hidden-xxs Скинути фільтри