form(action="").filter.vacancies__filter
  .filter__top
    .filter__item
      input(type="search" name="vacancy_name" placeholder="Назва вакансії...").form-text.form-text--filter-search
    .filter__item.hidden-xxsPlus
      button(type="button" data-fancybox data-src="#additional-filters-popup").btn-white.btn-white--filter.btn-white--filter-has-count.additional-filters-popup-link Фільтри #[span.count.count--info-bg.count--btn-white 99]
    .filter__item.hidden-xxs
      select(name="countries" autocomplete="off").filter-select.filter__countries-select#countries
        option(value="poland") Польща
        option(value="czech") Чехія
    .filter__item.hidden-xxs
      a(href="#cities-dropdown-block" data-dropdown-block-trigger data-default-placeholder="Усі міста").select-toggle.filter__cities-select-toggle Усі міста
      .dropdown-block.dropdown-block--cities-select#cities-dropdown-block
        select(name="cities" multiple).cities-select.filter__cities-select#cities-select
          //- option
          option(value="city_1" data-description="Lorem ipsum dolor sit amet consectetur") Місто 1
          option(value="city_2" data-description="Lorem ipsum dolor sit amet consectetur 2") Місто 2
          option(value="city_3" data-description="Lorem ipsum dolor sit amet consectetur 3") Місто 3
          option(value="city_4" data-description="Lorem ipsum dolor sit amet consectetur 4") Місто 4
          option(value="city_5") Місто 5
          option(value="city_6") Місто 6
          option(value="city_7") Місто 7
          option(value="city_8") Місто 8
          option(value="city_9") Місто 9
          option(value="city_10") Місто 10

    .filter__item.hidden-xxs
      input(type="number" name="salary" placeholder="Зарплата").form-text.form-text--filter
    .filter__item.hidden-xxs
      input(type="number" name="remuneration" placeholder="Винагорода").form-text.form-text--filter
    .filter__item.hidden-xxs
      input(type="number" name="term" placeholder="Термін").form-text.form-text--filter
    .filter__item.hidden-xxs
      select(name="currency").filter-select.filter__currencies-select#currency
        option(value="pln") PLN
        option(value="uah") UAH
        option(value="eur") EUR
    .filter__item.filter__item--buttons.hidden-xxs
      button(type="button" data-fancybox data-src="#additional-filters-popup").btn-white.btn-white--filter.additional-filters-popup-link Фільтри
        span.count.count--info-bg.btn-white__count.hidden 0
      button(type="button").btn-default.btn-default--filter.filter__search-btn Знайти
  .filter__bottom
    //- button(type="button" data-fancybox data-src="#additional-filters-popup").btn-white.btn-white--filter.btn-white--filter-has-count.hidden-xxsPlus.additional-filters-popup-link Фільтри #[span.count.count--info-bg.count--btn-white 99]
    .filter__item.hidden-xxsPlus
      select(name="countries" autocomplete="off").filter-select.filter__countries-select#countries1
        option(value="poland") Польща
        option(value="czech") Чехія
    .filter__tags-selects
      //- select(name="experience").filter-select.filter-select--mob-large.filter-select--tags.filter__experience-select
      //-   option(value="" data-placeholder="Досвід") Всі варіанти
      //-   option(value="none") Без досвіду
      //-   option(value="specialist") Спеціаліст
      select(name="experience").filter-select.filter-select--tags.filter__experience-select.hidden-xs
        option(value="" data-placeholder="Досвід") Всі варіанти
        option(value="none") Без досвіду
        option(value="specialist") Спеціаліст
      select(name="sex").filter-select.filter-select--tags.filter__sex-select
        option(value="" data-placeholder="Стать") Всі варіанти
        option(value="men") Чоловіки
        option(value="women") Жінки
        option(value="couples") Сімейні пари
    .selected-items.selected-items--filter-params.selected-items--main-filter.filter__selected-items.hidden-xs
      ul.selected-items__list

    button(type="reset" style="display: none;").btn-beige.btn-beige--filter.filter__clear-btn.hidden-xs Скинути
    //- a(href="javascript:;").clear-link.filter__clear-link.hidden-xxs Скинути фільтри
//- a(href="#sex-popup").fancybox-popup-toggle.hidden-smPlus Стать
include ./sex-popup