footer.footer
	.container.footer__container
		.footer__left
			a(href="/" title="На головну").footer__logo
				img(src="/img/logo_black.svg" alt="Logo").footer__logo-img
		.footer__right
			.main-menu
				ul.main-menu__list
					li.main-menu__item
						a(href="/vacancies.html").main-menu__link Вакансії
					li.main-menu__item.main-menu__item--submenu
						a(href="/cooperation.html").main-menu__link Співпраця
					li.main-menu__item.main-menu__item--submenu
						a(href="/other.html").main-menu__link Інше
					li.main-menu__item
						a(href="/contacts.html").main-menu__link Контакти
					li.main-menu__item
						a(href="#authorization-popup" data-active-tab-number="2").main-menu__link.fancybox-popup-toggle Увійти
			a(href="#authorization-popup").btn-default.btn-default--login.fancybox-popup-toggle Приєднатись