footer.footer
	.container.footer__container
		.footer__left
			a(href="/" title="На головну").footer__logo
				img(src="/img/logo_black.svg" alt="Logo").footer__logo-img
		.footer__right
			include ./main-menu
			a(href="#authorization-popup").btn-default.btn-default--login.fancybox-popup-toggle Приєднатись