header.header.hidden-smMinus
	.container.header__container
		.header__left
			a(href="/" title="На головну").header__logo
				img(src="/img/logo_black.svg" alt="Logo").header__logo-img
		.header__right
			include ./main-menu
			a(href="#authorization-popup").btn-default.btn-default--login.fancybox-popup-toggle Приєднатись