.icon-menu.hidden-md
	ul.icon-menu__list
		li.icon-menu__item
			a(href="/vacancies.html").icon-menu__link
				img(src="/img/user_menu/vacancies.svg" alt="Вакансії").icon-menu__icon
				span.icon-menu__item-text Вакансії
				span.count.count--small.icon-menu__count 3
		li.icon-menu__item
			a(href="/recruitment.html").icon-menu__link
				img(src="/img/user_menu/recruitment.svg" alt="Клієнти").icon-menu__icon
				span.icon-menu__item-text Клієнти
		li.icon-menu__item
			a(href="/affiliate.html").icon-menu__link
				img(src="/img/user_menu/affiliate.svg" alt="Партнери").icon-menu__icon
				span.icon-menu__item-text Партнери
				span.count.count--small.icon-menu__count 3
		li.icon-menu__item
			a(href="#").icon-menu__link
				img(src="/img/user_menu/menu_dots_icon.svg" alt="Розділи").icon-menu__icon
				span.icon-menu__item-text Розділи
		li.icon-menu__item.icon-menu__item--avatar
			a(href="#").icon-menu__avatar-link
				img(src="/img/user_sidebar_avatar.png" alt="Sobat Jariyah").user-avatar.user-avatar--icon-menu