.mobile-header.hidden-md
	//- button(type="button").menu-hamburger.mobile-header__menu-hamburger
	a(href="#support-popup").user-profile-popup-link.mobile-header__support-link
		img(src="/img/head_phones_service_icon.svg" alt="").mobile-header__support-icon
	a(href="/")
		img(src="/img/logo.svg")
	a(href="#share-popup-guest").mobile-header__share-icon.fancybox-popup-toggle
		img(src="/img/share_outline_icon.svg" alt="")