.mobile-header.hidden-smPlus
	button(type="button").menu-hamburger.mobile-header__menu-hamburger
	a(href="/user.html")
		img(src="/img/logo.svg")
	a(href="#").mobile-header__user-avatar
		img(src="/img/user_avatar.png" alt="sadwolf27")