.mobile-header.hidden-md
	button(type="button").menu-hamburger.mobile-header__menu-hamburger
	a(href="/")
		img(src="/img/logo.svg")
	//- a(href="#user-profile-popup").user-profile-popup-link.mobile-header__user-avatar
	//- 	img(src="/img/user_avatar.png" alt="sadwolf27")
	a(href="#user-profile-popup").user-profile-popup-link.mobile-header__share-icon
		img(src="/img/share_outline_icon.svg" alt="")