.fancybox-popup.fancybox-popup--user-profile#support-popup-extended(style="display: none;")
	.mobile-user-popup
		.mobile-user-popup__header.mobile-user-popup__header--support
			img(src="/img/head_phones_service_icon.svg" alt="").mobile-user-popup__icon
			h3.mobile-user-popup__title.mobile-user-popup__title--support Підтримка онлайн
		.contact-box.contact-box--support-popup.mobile-user-popup__contact-box
			h3.contact-box__title З радістю відповімо на ваші запитання!
			.contact-box__text Працюємо 24/7 та без вихідних!
			.contact-phones.contact-phones--mobile-support.contact-box__phones
				ul.contact-phones__list
					li.contact-phones__item.contact-phones__item--right
						a(href="#").phone.phone--white.phone--with-icon.phone--mobile-support +48 226 02 00 90
						button(type="button").copy-btn.copy-btn--small.copy-btn--white.contact-phones__copy-btn
						.tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
					li.contact-phones__item
						a(href="#").phone.phone--white.phone--with-icon.phone--mobile-support +38 096 787 00 90
						button(type="button").copy-btn.copy-btn--small.copy-btn--white.contact-phones__copy-btn
						.tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
					li.contact-phones__item
						a(href="#").phone.phone--white.phone--with-icon.phone--mobile-support +38 073 787 00 90
						button(type="button").copy-btn.copy-btn--small.copy-btn--white.contact-phones__copy-btn
						.tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
					li.contact-phones__item
						a(href="#").phone.phone--white.phone--with-icon.phone--mobile-support +38 095 787 00 90
						button(type="button").copy-btn.copy-btn--small.copy-btn--white.contact-phones__copy-btn
						.tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
			.contact-box__call-btn-wrapper
				a(href="#").call-btn.call-btn--dark-bg.call-btn--mobile-support.contact-box__call-btn Зателефонувати вам?
			.contact-buttons.contact-buttons--mobile-support.contact-box__buttons
				ul.contact-buttons__list
					li.contact-buttons__item
						a(href="#").btn-purple.btn-purple--viber.btn-purple--viber-support-popup Написати у #[span.btn-purple__messenger Viber]
					li.contact-buttons__item
						a(href="#").btn-lightblue.btn-lightblue--telegram.btn-lightblue--telegram-support-popup Написати в #[span.btn-lightblue__messenger Telegram]
		.mobile-user-popup__buttons
			button(type="button" data-src="#profile-menu-popup").user-profile-popup-link.user-label.user-label--back-btn.mobile-user-popup__back-btn Повернутись
			//- button(type="button" data-fancybox-close).user-label.user-label--btn.mobile-user-popup__btn Закрити вікно