.mobile-header.hidden-md
	//- button(type="button").menu-hamburger.mobile-header__menu-hamburger
	img(src="/img/head_phones_service_icon.svg" alt="").mobile-header__support-icon
	a(href="/")
		img(src="/img/logo.svg")
	a(href="#share-popup").mobile-header__share-icon.fancybox-popup-toggle
		img(src="/img/share_outline_icon.svg" alt="")