.mobile-header.mobile-header--light.hidden-md
	//- button(type="button").menu-hamburger.menu-hamburger--black.mobile-header__menu-hamburger
	a(href="#support-popup").user-profile-popup-link.mobile-header__support-link
		img(src="/img/head_phones_service_icon_black.svg" alt="").mobile-header__support-icon
	a(href="/")
		img(src="/img/logo_black.svg")
	a(href="#authorization-popup" data-active-tab-number="2").fancybox-popup-toggle.logout-link.logout-link--black.logout-link--large