.mobile-header.mobile-header--light.hidden-md
	button(type="button").menu-hamburger.menu-hamburger--black.mobile-header__menu-hamburger
	a(href="/")
		img(src="/img/logo_black.svg")
	a(href="/logout.html").logout-link.logout-link--black.logout-link--large