.fancybox-popup.fancybox-popup--user-profile#user-profile-popup(style="display: none;")
	.mobile-user-profile
		h3.mobile-user-profile__title Профіль
		.mobile-user-profile__user-info
			.circular-avatar.mobile-user-profile__avatar
				img(src="/img/user_sidebar_avatar.png" alt="Sobat Jariyah").circular-avatar__img
			.mobile-user-profile__username.mobile-user-profile__username--online Sobat Jariyah
			.mobile-user-profile__id 788833