.fancybox-popup.fancybox-popup--wide.fancybox-popup--order-service#order-service-popup(style="display: none;")
  .fancybox-popup__img-wrapper
    img(src="/img/order_service_img.svg" alt="Замовлення послуги з гарантією!").fancybox-popup__img
  h2.fancybox-popup__title Замовлення послуги з гарантією!
  .fancybox-popup__text
    p Для того, щоб замовити #[strong Пакет документів для відкриття візи (PL)] зі 100% гарантією та поверненням на баланс коштів у розмірі #[br]#[strong 190 UAH] – зв'яжіться з відділом #[strong легалізації та виготовлення документів] нейромережі WORKIUM за контактами нижче:
  .contact-box.contact-box--order-service.fancybox-popup__contact-box
    .contact-phones.contact-phones--order-service.contact-box__phones
      ul.contact-phones__list
        li.contact-phones__item.contact-phones__item--right
          a(href="#").phone.phone--order-service +48 226 02 00 90
          button(type="button").copy-btn.copy-btn--small.copy-btn--grey.contact-phones__copy-btn
          .tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
        li.contact-phones__item
          a(href="#").phone.phone--order-service +38 096 787 00 90
          button(type="button").copy-btn.copy-btn--small.copy-btn--grey.contact-phones__copy-btn
          .tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
        li.contact-phones__item
          a(href="#").phone.phone--order-service +38 073 787 00 90
          button(type="button").copy-btn.copy-btn--small.copy-btn--grey.contact-phones__copy-btn
          .tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
        li.contact-phones__item
          a(href="#").phone.phone--order-service +38 095 787 00 90
          button(type="button").copy-btn.copy-btn--small.copy-btn--grey.contact-phones__copy-btn
          .tooltip.tooltip--copied.tooltip--grey-bg.contact-phones__tooltip Скопійовано!
    .contact-box__buttons-wrapper
      a(href="#").call-btn.call-btn--order-service.contact-box__call-btn Зателефонувати вам?
      .contact-buttons.contact-buttons--order-service.contact-box__buttons
        ul.contact-buttons__list
          li.contact-buttons__item
            a(href="#").btn-lightblue.btn-lightblue--telegram.btn-lightblue--telegram-order-service Написати в Telegram
          li.contact-buttons__item
            a(href="#").btn-purple.btn-purple--viber.btn-purple--viber-order-service Написати у Viber