.fancybox-popup.fancybox-popup--payment-systems#payment-systems-popup(style="display: none;")
  h3.fancybox-popup__title Банки
  .banks-list.banks-list--popup.fancybox-popup__banks-list
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat" value="privat").bank__input
      label(for="privat").bank__label
        h4.bank__name Інший банк України
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_2" value="privat_2").bank__input
      label(for="privat_2").bank__label
        h4.bank__name Інший банк України 2
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_3" value="privat_3").bank__input
      label(for="privat_3").bank__label
        h4.bank__name Інший банк України 3
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_4" value="privat_4").bank__input
      label(for="privat_4").bank__label
        h4.bank__name Інший банк України 4
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_5" value="privat_5").bank__input
      label(for="privat_5").bank__label
        h4.bank__name Інший банк України 5
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_6" value="privat_6").bank__input
      label(for="privat_6").bank__label
        h4.bank__name Інший банк України 6
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_7" value="privat_7").bank__input
      label(for="privat_7").bank__label
        h4.bank__name Інший банк України 7
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_8" value="privat_8").bank__input
      label(for="privat_8").bank__label
        h4.bank__name Інший банк України 8
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_9" value="privat_9").bank__input
      label(for="privat_9").bank__label
        h4.bank__name Інший банк України 9
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon
    .bank.banks-list__item
      input(type="radio" name="payment_system" id="privat_10" value="privat_10").bank__input
      label(for="privat_10").bank__label
        h4.bank__name Інший банк України 10
        .bank__currency UAH
        img(src="/img/privat24.svg" alt="Приват24").bank__icon