.fancybox-popup.fancybox-popup--user-profile.fancybox-popup--profile-menu#profile-submenu-popup(style="display: none;")
	.mobile-user-popup.mobile-user-popup--menu
		.mobile-user-popup__header.mobile-user-popup__header--submenu
			a(href="#profile-menu-popup").user-profile-popup-link.btn-back.btn-back--white.btn-back--mobile-popup.btn-back--small Повернутись
		.user-menu.user-menu--mobile-submenu-profile.mobile-user-popup__user-submenu
			ul.user-menu__list
				li.user-menu__item
					a(href="#").user-menu__link Про нейромережу WORKIUM
				li.user-menu__item
					a(href="#").user-menu__link Працівникам
				li.user-menu__item
					a(href="#").user-menu__link Рекрутерам
				li.user-menu__item
					a(href="#").user-menu__link Партнерська програма
				li.user-menu__item
					a(href="#").user-menu__link Агенціям та роботодавцям
				li.user-menu__item
					a(href="#").user-menu__link Операційним партнерам
		.mobile-user-popup__buttons
			//- button(type="button" data-fancybox-close).user-label.user-label--btn.mobile-user-popup__btn Закрити вікно
			button(type="button" data-src="#profile-menu-popup").user-profile-popup-link.user-label.user-label--back-btn.mobile-user-popup__back-btn Повернутись
			button(type="button" data-fancybox-close).user-label.user-label--btn.mobile-user-popup__btn Закрити вікно