.fancybox-popup.fancybox-popup--user-profile#profile-menu-popup(style="display: none;")
	.mobile-user-popup.mobile-user-popup--menu
		.mobile-user-popup__header.mobile-user-popup__header--menu
			h3.mobile-user-popup__title Розділи
		.user-menu.user-menu--mobile-profile.mobile-user-popup__user-menu
			ul.user-menu__list
				li.user-menu__item
					a(href="/vacancies.html").user-menu__link
						img(src="/img/user_menu/vacancies.svg" alt="Вакансії").user-menu__icon
						span.user-menu__item-text Вакансії
				li.user-menu__item
					a(href="/recruitment.html").user-menu__link.user-menu__link--closed
						img(src="/img/user_menu/recruitment.svg" alt="Рекрутація").user-menu__icon
						span.user-menu__item-text Клієнти
				li.user-menu__item
					a(href="/docs.html").user-menu__link
						img(src="/img/user_menu/documents.svg" alt="Документи").user-menu__icon
						span.user-menu__item-text Документи
				li.user-menu__item
					a(href="#closed-balance").user-profile-popup-link.user-menu__link.user-menu__link--closed
						img(src="/img/user_menu/balance.svg" alt="Баланс та операції").user-menu__icon
						span.user-menu__item-text Баланс та операції
				li.user-menu__item
					a(href="#closed-affiliate-program").user-profile-popup-link.user-menu__link.user-menu__link--closed
						img(src="/img/user_menu/affiliate.svg" alt="Партнерська програма").user-menu__icon
						span.user-menu__item-text Партнерська програма
				li.user-menu__item
					a(href="#closed-save-section").user-profile-popup-link.user-menu__link.user-menu__link--closed
						img(src="/img/user_menu/save.svg" alt="Збереження").user-menu__icon.user-menu__icon--save
						span.user-menu__item-text Збереження
				li.user-menu__item
					a(href="#closed-achievements").user-profile-popup-link.user-menu__link.user-menu__link--closed
						img(src="/img/user_menu/achievements.svg" alt="Досягнення").user-menu__icon
						span.user-menu__item-text Досягнення
				li.user-menu__item
					a(href="#closed-verification").user-profile-popup-link.user-menu__link.user-menu__link--closed
						img(src="/img/user_menu/verification.svg" alt="Верифікація").user-menu__icon
						span.user-menu__item-text Верифікація
				li.user-menu__item
					a(href="#closed-black-list").user-profile-popup-link.user-menu__link.user-menu__link--closed
						img(src="/img/user_menu/black_list.svg" alt="Чорний список").user-menu__icon
						span.user-menu__item-text Чорний список
				li.user-menu__item
					a(href="/ideas.html").user-menu__link
						img(src="/img/user_menu/ideas.svg" alt="Ідеї та пропозиції").user-menu__icon
						span.user-menu__item-text Ідеї та пропозиції
				li.user-menu__item
					a(href="#closed-settings").user-profile-popup-link.user-menu__link.user-menu__link--closed
						img(src="/img/user_menu/settings.svg" alt="Налаштування").user-menu__icon
						span.user-menu__item-text Налаштування
				li.user-menu__item
					a(href="/settings.html").user-menu__link
						img(src="/img/user_menu/mark_menu_option_sign_icon.svg" alt="Інші розділи").user-menu__icon
						span.user-menu__item-text Інші розділи
				li.user-menu__item
					a(href="#support-popup-extended").user-profile-popup-link.user-menu__link.user-menu__link--support
						img(src="/img/head_phones_service_icon.svg" alt="Онлайн підтримка").user-menu__icon
						span.user-menu__item-text Онлайн підтримка
		.mobile-user-popup__buttons
			button(type="button" data-fancybox-close).user-label.user-label--btn.mobile-user-popup__btn Закрити вікно