.fancybox-popup.fancybox-popup--mobile-filter#sex-popup(style="display: none;")
  h3.fancybox-popup__title Стать
  .action-btns.fancybox-popup__action-btns
    ul.action-btns__list
      li.action-btns__item
        button(type="button").btn-grey.btn-grey--mobile-filter.action-btns__btn Всі варіанти
      li.action-btns__item
        button(type="button").btn-grey.btn-grey--mobile-filter.action-btns__btn Чоловіки
      li.action-btns__item
        button(type="button").btn-grey.btn-grey--mobile-filter.action-btns__btn Жінки
      li.action-btns__item
        button(type="button").btn-grey.btn-grey--mobile-filter.action-btns__btn Сімейні пари