.fancybox-popup.fancybox-popup--wide.fancybox-popup--successfull-payment#successfull-payment-popup(style="display: none;")
  .fancybox-popup__img-wrapper
    img(src="/img/information_sent.png" alt="Інформацію надіслано").fancybox-popup__img
  h2.fancybox-popup__title Чудово! Ми отримали вашу оплату!
  .fancybox-popup__text
    p Кошти у розмірі #[strong 1920.21 UAH] успішно були зараховані на ваш баланс у нейромережі WORKIUM та вже відображаються у вашому особистому кабінеті.
    p Реєстрація вашого замовлення розпочнеться у найближчий час!
  .fancybox-popup__btn-wrapper
    button(type="button" data-fancybox-close).btn-default.btn-default--successfull-payment Чудово!