.dropdown-block.dropdown-block--origin-top-left.user-sidebar__dropdown-block#user-other-sections
  .dropdown-menu
    ul.dropdown-menu__list
      li.dropdown-menu__item
        a(href="#").dropdown-menu__link Про нейромережу WORKIUM
      li.dropdown-menu__item
        a(href="#").dropdown-menu__link Працівникам
      li.dropdown-menu__item
        a(href="#").dropdown-menu__link Рекрутерам
      li.dropdown-menu__item
        a(href="#").dropdown-menu__link Партнерська програма
      li.dropdown-menu__item
        a(href="#").dropdown-menu__link Агенціям та роботодавцям
      li.dropdown-menu__item
        a(href="#").dropdown-menu__link Операційним партнерам