.dropdown-block.dropdown-block--origin-top-left.user-sidebar__dropdown-block#user-dropdown-menu
  input(type="text" readonly value="https://website.com?i=wmj7drft").dropdown-block__copy-input#copy-link-input
  .dropdown-menu
    ul.dropdown-menu__list
      li.dropdown-menu__item
        a(href="#").dropdown-menu__link.dropdown-menu__link--has-icon.dropdown-menu__link--hide-profile
          .dropdown-menu__icon-wrapper
            img(src="/img/context_menu/hide_profile.svg" alt="Приховати профіль" width="20").dropdown-menu__icon
          span.dropdown-menu__link-title Приховати профіль
      li.dropdown-menu__item
        a(href="#copy-link-input").dropdown-menu__link.dropdown-menu__link--has-icon.dropdown-menu__link--copy-link
          .dropdown-menu__icon-wrapper
            img(src="/img/context_menu/link.svg" alt="Приховати профіль" width="22").dropdown-menu__icon
          span.dropdown-menu__link-title Партнерське посилання
      li.dropdown-menu__item
        a(href="/settings.html").dropdown-menu__link.dropdown-menu__link--has-icon
          .dropdown-menu__icon-wrapper
            img(src="/img/context_menu/settings.svg" alt="Приховати профіль" width="19").dropdown-menu__icon
          span.dropdown-menu__link-title Налаштування
      li.dropdown-menu__item
        a(href="#").dropdown-menu__link.dropdown-menu__link--has-icon
          .dropdown-menu__icon-wrapper
            img(src="/img/context_menu/logout.svg" alt="Приховати профіль" width="16").dropdown-menu__icon
          span.dropdown-menu__link-title Вийти