.user-sidebar
  .user-sidebar__inner
    .user-sidebar__top.hidden-smMinus
      a(href="/").user-sidebar__logo
        img(src="/img/logo.svg" title="Workium")
      a(href="#").user-sidebar__user-avatar
        img(src="/img/user_avatar.png" alt="sadwolf27")
    .user-info.user-sidebar__user-info
      .user-info__top
        a(href="/user.html").username.user-info__username sadwolf27
        a(href="/logout").logout-link.user-info__logout-link
      .user-balance.user-info__balance 5257,45 грн
    .user-menu.user-sidebar__user-menu
      ul.user-menu__list
        li.user-menu__item
          a(href="/vacancies.html").user-menu__link
            img(src="/img/user_menu/vacancies.svg" alt="Вакансії").user-menu__icon
            span.user-menu__item-text Вакансії
        li.user-menu__item
          a(href="/recruitment.html").user-menu__link.user-menu__link--has-count
            img(src="/img/user_menu/recruitment.svg" alt="Рекрутація").user-menu__icon
            span.user-menu__item-text Рекрутація
            span.count.user-menu__count 3
        li.user-menu__item
          a(href="/documents.html").user-menu__link
            img(src="/img/user_menu/documents.svg" alt="Документи").user-menu__icon
            span.user-menu__item-text Документи
        li.user-menu__item
          a(href="/operations.html").user-menu__link
            img(src="/img/user_menu/balance.svg" alt="Баланс та операції").user-menu__icon
            span.user-menu__item-text Баланс та операції
        li.user-menu__item
          a(href="/affiliate.html").user-menu__link
            img(src="/img/user_menu/affiliate.svg" alt="Партнерська програма").user-menu__icon
            span.user-menu__item-text Партнерська програма
        li.user-menu__item
          a(href="/save.html").user-menu__link
            img(src="/img/user_menu/save.svg" alt="Збереження").user-menu__icon.user-menu__icon--save
            span.user-menu__item-text Збереження
        li.user-menu__item
          a(href="/awards.html").user-menu__link.user-menu__link--has-count
            img(src="/img/user_menu/achievements.svg" alt="Досягнення").user-menu__icon
            span.user-menu__item-text Досягнення
            span.count.user-menu__count 3
        li.user-menu__item
          a(href="/verification.html").user-menu__link
            img(src="/img/user_menu/verification.svg" alt="Верифікація").user-menu__icon
            span.user-menu__item-text Верифікація
        li.user-menu__item
          a(href="/black_list.html").user-menu__link
            img(src="/img/user_menu/black_list.svg" alt="Чорний список").user-menu__icon
            span.user-menu__item-text Чорний список
        li.user-menu__item
          a(href="/ideas.html").user-menu__link
            img(src="/img/user_menu/ideas.svg" alt="Ідеї та пропозиції").user-menu__icon
            span.user-menu__item-text Ідеї та пропозиції
        li.user-menu__item
          a(href="/settings.html").user-menu__link
            img(src="/img/user_menu/settings.svg" alt="Налаштування").user-menu__icon
            span.user-menu__item-text Налаштування