.user-sidebar.user-sidebar--profile-shown
  .user-sidebar__inner
    include ./user-dropdown-menu

    .user-sidebar__top.hidden-smMinus
      a(href="/").user-sidebar__logo
        img(src="/img/logo.svg" title="Workium").user-sidebar__logo-img
      a(href="#user-dropdown-menu" data-dropdown-block-trigger).user-sidebar__user-avatar-link.user-sidebar__user-avatar-link--profile-shown
        img(src="/img/user_sidebar_avatar.png" alt="sadwolf27").user-avatar.user-avatar--small

        //- img(src="/img/user_avatar.png" alt="sadwolf27")
    //- .user-info.user-sidebar__user-info
    //-   .user-info__top
    //-     a(href="/user.html").username.user-info__username sadwolf27
    //-     a(href="/logout").logout-link.user-info__logout-link
    //-   .user-balance.user-info__balance 5257,45 грн
    
    .user-sidebar__user-info-wrapper
      .user-info
        img(src="/img/user_sidebar_avatar.png" alt="Sobat Jariyah").user-avatar.user-info__avatar
        .user-info__text-wrapper
          a(href="/user.html").username.user-info__username Sobat Jariyah
          .user-label.user-info__user-label Впливовість: 0
        a(href="#user-dropdown-menu" data-dropdown-block-trigger).dots-link

    include ./user-menu

    .user-sidebar__footer

      include ./support-block

      a(href="#support-block" data-dropdown-block-trigger).support-link Підтримка онлайн