.vacancy-footer.hidden-smPlus
  //- h3.vacancy-footer__title Працівник на склад продукціії (Rossman) від Smart Work
  ul.vacancy-footer__btns-list
    li.vacancy-footer__btns-item
      a(href="#book-vacancy-popup").fancybox-wide-popup-toggle.btn-default.btn-default--vacancy-footer Безкоштовно забронювати #[br]та отримати #[strong 500 zł]
    //- li.vacancy-footer__btns-item
    //-   a(href="#employment-smart-work-popup").fancybox-wide-popup-toggle.btn-default.btn-default--phone
    li.vacancy-footer__btns-item
      a(href="#").btn-grey.btn-grey--copy.vacancy-footer__copy-btn
    li.vacancy-footer__btns-item
      a(href="#").btn-grey.btn-grey--bookmark.vacancy-footer__bookmark-btn
  .vacancy-footer__link-wrapper
    a(href="#employment-smart-work-popup").fancybox-wide-popup-toggle.vacancy-footer__link Зв'язатись з Smart Work